<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.table.dayOfWeek.service.impl.TableDayOfWeekMapper">

	<select id="getTableDayOfWeekList" parameterType="tableDayOfWeekVO" resultType="DefaultMap">
		SELECT 	TSDT.STORE_CD
				, TO_CHAR(TO_DATE(TSDT.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean') AS SALE_DAY
				, CASE TO_CHAR(TO_DATE(TSDT.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean')
    				WHEN '일' THEN 1
    				WHEN '월' THEN 2
    				WHEN '화' THEN 3
    				WHEN '수' THEN 4
    				WHEN '목' THEN 5
    				WHEN '금' THEN 6
    				ELSE 7
    			END AS DAY_ORDER
				, NVL(SUM(REAL_SALE_AMT), 0) TOT_REAL_SALE_AMT
				, NVL(SUM(SALE_CNT), 0) TOT_SALE_CNT
				, NVL(SUM(TOT_GUEST_CNT), 0) TOT_GUEST_CNT
				${sQuery1}
		FROM TB_SL_DAILY_TABLE TSDT
		WHERE 1 = 1
		AND HQ_OFFICE_CD = #{hqOfficeCd}
		<if test='arrTableCd != null and arrTableCd != ""'>
			AND STORE_CD||'||'||TBL_CD IN
			<foreach collection="arrTableCd" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test='startDate != null and startDate != ""'>
		  	AND TSDT.SALE_DATE <![CDATA[>= ]]> #{startDate}
		  </if>
		  <if test='endDate != null and endDate != ""'>
		  	AND TSDT.SALE_DATE <![CDATA[<= ]]> #{endDate}
		  </if>
		<!-- AND TBL_CD in (${sQuery2})
			  <![CDATA[
   			  AND TSDT.SALE_DATE >= #{startDate}
   			  AND TSDT.SALE_DATE <= #{endDate}
   			  ]]> -->
		GROUP BY TSDT.STORE_CD, TO_CHAR(TO_DATE(TSDT.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean')
		ORDER BY DAY_ORDER
	</select>

	<select id="getStoreTableList" parameterType="tableDayOfWeekVO" resultType="DefaultMap">

			SELECT	TMP.STORE_CD||'||'||TMP.TBL_CD AS TABLE_CD
				, TMP.TBL_NM AS TABLE_NM
				, (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = TMP.STORE_CD) AS STORE_NM
			FROM    TB_MS_TABLE_V01 TMP
			WHERE	1=1
			AND EXISTS (SELECT * FROM TB_MS_STORE Z WHERE Z.STORE_CD = TMP.STORE_CD AND Z.HQ_OFFICE_CD = #{hqOfficeCd})
				<if test='arrStoreCd != null and arrStoreCd.length >= 0'>
	               	AND TMP.STORE_CD IN
	               	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
	                   	#{item}
	               	</foreach>
	           	</if>
	           	<if test='arrTableCd != null and arrTableCd.length >= 0'>
	               	AND TMP.STORE_CD||'||'||TMP.TBL_CD IN
	               	<foreach collection="arrTableCd" item="item" open="(" close=")" separator=",">
	                   	#{item}
	               	</foreach>
	           	</if>
	        ORDER BY TMP.STORE_CD||'||'||TMP.TBL_CD
	</select>

</mapper>
