<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.pos.month.service.impl.PosMonthMapper">

	<!-- 포스별매출월별 - 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_POS_PROD, TB_SL_DAILY_POS, TB_MS_POS
        PARAM    : posMonthVO
        COMMENTS : 포스별매출월별 - 리스트를 조회한다.
    -->
    <select id="getPosMonthList" parameterType="posMonthVO" resultType="DefaultMap">
    	<include refid="CmmSQL.PagingTemplateHeader"/>
    	SELECT	A.YEAR_MONTH
    			, A.SALE_STORE_CNT
    			, A.TOT_SALE_AMT
    			, A.TOT_DC_AMT
    			, A.TOT_REAL_SALE_AMT
    			, A.TOT_SALE_CNT
    			, B.*
    	<include refid="CmmSQL.PagingTemplateCount"/>
    	FROM	(
    				SELECT	TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM') AS YEAR_MONTH
    						, COUNT(DISTINCT TSDP.STORE_CD) AS SALE_STORE_CNT
    						, SUM(TSDP.TOT_SALE_AMT) AS TOT_SALE_AMT
    						, SUM(TSDP.TOT_DC_AMT) AS TOT_DC_AMT
    						, SUM(TSDP.REAL_SALE_AMT) AS TOT_REAL_SALE_AMT
    						, SUM(TSDP.SALE_CNT) AS TOT_SALE_CNT
		            FROM	TB_SL_MONTHLY_POS TSDP
		            WHERE	1 = 1
		            		AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
		            	<if test='arrStorePos != null and arrStorePos.length >= 0'>
                        	AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
                        	<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
                            	#{item}
                        	</foreach>
                    	</if>
		            	<if test='startDate != null and startDate != ""'>
		            		AND TSDP.SALE_YM <![CDATA[>= ]]>#{startDate}
		            	</if>
		            	<if test='endDate != null and endDate != ""'>
		            		AND TSDP.SALE_YM <![CDATA[<= ]]> #{endDate}
		            	</if>
		            GROUP BY TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM')
				) A,
				(
					WITH T AS
					(
						SELECT	DISTINCT TSDP.STORE_CD || '||' || TSDP.POS_NO AS STORE_CD
								, TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM') AS YEAR_MONTH_TEMP
		                        , SUM(TSDP.TOT_SALE_AMT) AS SALE_AMT
                                , SUM(TSDP.TOT_DC_AMT) AS DC_AMT
                                , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
                                , SUM(TSDP.SALE_CNT) AS SALE_CNT
		                FROM    TB_SL_MONTHLY_POS TSDP
		                WHERE   1 = 1
		                        AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
							<if test='arrStorePos != null and arrStorePos.length >= 0'>
	                        	AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
	                        	<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
	                            	#{item}
	                        	</foreach>
	                    	</if>
							<if test='startDate != null and startDate != ""'>
								AND TSDP.SALE_YM <![CDATA[>=]]> #{startDate}
							</if>
							<if test='endDate != null and endDate != ""'>
								AND TSDP.SALE_YM <![CDATA[<= ]]> #{endDate}
							</if>
						GROUP BY TSDP.STORE_CD || '||' || TSDP.POS_NO, TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM')
		            )
		            SELECT  *
		            FROM    T
		            PIVOT	(
		                        MAX(SALE_AMT) AS SALE_AMT, MAX(DC_AMT) AS DC_AMT, MAX(REAL_SALE_AMT) AS REAL_SALE_AMT, MAX(SALE_CNT) AS SALE_CNT
		                        FOR STORE_CD IN (
		                        	<foreach collection="arrStorePos" item="item" separator=",">
										'${item}'
									</foreach>
	                        )
		            )
		        ) B
		        WHERE   A.YEAR_MONTH = B.YEAR_MONTH_TEMP
		        ORDER BY A.YEAR_MONTH
		        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <select id="getStorePosList" parameterType="posMonthVO" resultType="DefaultMap">
    	SELECT	DISTINCT TSDP.STORE_CD || '||' || TSDP.POS_NO AS STORE_CD
    	FROM	TB_SL_MONTHLY_POS TSDP
    			, TB_SL_MONTHLY_POS_PROD TSDPP
    	WHERE	TSDP.HQ_OFFICE_CD = TSDPP.HQ_OFFICE_CD
    			AND TSDP.HQ_BRAND_CD = TSDPP.HQ_BRAND_CD
    			AND TSDP.STORE_CD = TSDPP.STORE_CD
    			AND TSDP.SALE_YM = TSDPP.SALE_YM
    			AND TSDP.POS_NO = TSDPP.POS_NO
    			AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
    		<if test='arrStoreCd != null and arrStoreCd != ""'>
               	AND TSDP.STORE_CD IN
               	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                   	#{item}
               	</foreach>
           	</if>
           	<if test='arrPosNo != null and arrPosNo != ""'>
               	AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
               	<foreach collection="arrPosNo" item="item" open="(" close=")" separator=",">
                   	#{item}
               	</foreach>
           	</if>
			<if test='startDate != null and startDate != ""'>
				AND TSDP.SALE_YM <![CDATA[>=]]> #{startDate}
			</if>
			<if test='endDate != null and endDate != ""'>
				AND TSDP.SALE_YM <![CDATA[<= ]]> #{endDate}
			</if>
		ORDER BY TSDP.STORE_CD||'||'||TSDP.POS_NO
    </select>

	<select id="getPosNmList" parameterType="posMonthVO" resultType="DefaultMap">
		SELECT	TMP.STORE_CD||'||'||TMP.POS_NO AS POS_CD
				, TMP.POS_NM AS POS_NM
				, (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = TMP.STORE_CD) AS STORE_NM
		FROM    TB_MS_POS TMP
				, TB_MS_STORE TMS
		WHERE	TMP.STORE_CD = TMS.STORE_CD
			<if test='hqOfficeCd != null and hqOfficeCd != ""'>
				AND TMS.HQ_OFFICE_CD = #{hqOfficeCd}
			</if>
			<if test='arrStoreCd != null and arrStoreCd.length >= 0'>
               	AND TMP.STORE_CD IN
               	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                   	#{item}
               	</foreach>
           	</if>
        ORDER BY TMP.STORE_CD||'||'||TMP.POS_NO
    </select>
    
    
    <!-- 포스별매출월별 - 엑셀리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_POS_PROD, TB_SL_DAILY_POS, TB_MS_POS
        PARAM    : posMonthVO
        COMMENTS : 포스별매출월별 - 엑셀리스트를 조회한다.
    -->
    <select id="getPosMonthExcelList" parameterType="posMonthVO" resultType="DefaultMap">
        SELECT  A.YEAR_MONTH
                , A.SALE_STORE_CNT
                , A.TOT_SALE_AMT
                , A.TOT_DC_AMT
                , A.TOT_REAL_SALE_AMT
                , A.TOT_SALE_CNT
                , B.*
        FROM    (
                    SELECT  TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM') AS YEAR_MONTH
                            , COUNT(DISTINCT TSDP.STORE_CD) AS SALE_STORE_CNT
                            , SUM(TSDP.TOT_SALE_AMT) AS TOT_SALE_AMT
                            , SUM(TSDP.TOT_DC_AMT) AS TOT_DC_AMT
                            , SUM(TSDP.REAL_SALE_AMT) AS TOT_REAL_SALE_AMT
                            , SUM(TSDP.SALE_CNT) AS TOT_SALE_CNT
                    FROM    TB_SL_MONTHLY_POS TSDP
                    WHERE   1 = 1
                            AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
                        <if test='arrStorePos != null and arrStorePos.length >= 0'>
                            AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
                            <foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test='startDate != null and startDate != ""'>
                            AND TSDP.SALE_YM <![CDATA[>= ]]>#{startDate}
                        </if>
                        <if test='endDate != null and endDate != ""'>
                            AND TSDP.SALE_YM <![CDATA[<= ]]> #{endDate}
                        </if>
                    GROUP BY TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM')
                ) A,
                (
                    WITH T AS
                    (
                        SELECT  DISTINCT TSDP.STORE_CD || '||' || TSDP.POS_NO AS STORE_CD
                                , TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM') AS YEAR_MONTH_TEMP
                                , SUM(TSDP.TOT_SALE_AMT) AS SALE_AMT
                                , SUM(TSDP.TOT_DC_AMT) AS DC_AMT
                                , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
                                , SUM(TSDP.SALE_CNT) AS SALE_CNT
                        FROM    TB_SL_MONTHLY_POS TSDP
                        WHERE   1 = 1
                                AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
                            <if test='arrStorePos != null and arrStorePos.length >= 0'>
                                AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
                                <foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </if>
                            <if test='startDate != null and startDate != ""'>
                                AND TSDP.SALE_YM <![CDATA[>=]]> #{startDate}
                            </if>
                            <if test='endDate != null and endDate != ""'>
                                AND TSDP.SALE_YM <![CDATA[<= ]]> #{endDate}
                            </if>
                        GROUP BY TSDP.STORE_CD || '||' || TSDP.POS_NO, TO_CHAR(TO_DATE(TSDP.SALE_YM, 'YYYY-MM'),'YYYY-MM')
                    )
                    SELECT  *
                    FROM    T
                    PIVOT   (
                                MAX(SALE_AMT) AS SALE_AMT, MAX(DC_AMT) AS DC_AMT, MAX(REAL_SALE_AMT) AS REAL_SALE_AMT, MAX(SALE_CNT) AS SALE_CNT
                                FOR STORE_CD IN (
                                    <foreach collection="arrStorePos" item="item" separator=",">
                                        '${item}'
                                    </foreach>
                            )
                    )
                ) B
                WHERE   A.YEAR_MONTH = B.YEAR_MONTH_TEMP
                ORDER BY A.YEAR_MONTH
    </select>

</mapper>
