<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.appr.acquire.service.impl.ApprAcquireMapper">

    <!-- 신용카드 승인현왕 - 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 리스트를 조회한다.
    -->
    <select id="getApprAcquireList" parameterType="apprAcquireVO" resultType="DefaultMap">
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
		     , SUM(M.CNT)   AS CNT,   SUM(M.SALE_AMT)   AS SALE_AMT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
		     , SUM(M.CNT_A) AS CNT_A, SUM(M.SALE_AMT_A) AS SALE_AMT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
		     , SUM(M.CNT_B) AS CNT_B, SUM(M.SALE_AMT_B) AS SALE_AMT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS SALE_AMT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.SALE_AMT),0) AS SALE_AMT_A
             , DECODE(M.SALE_FG,1,SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.SALE_AMT),0) AS SALE_AMT_B
             , DECODE(M.SALE_FG,-1,SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_FG
                     , 1 AS CNT
                     , SALE_AMT
                     , APPR_AMT
                  FROM TB_SL_SALE_PAY_CARD
                 WHERE SALE_FG='1'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_FG
                     , 1 AS CNT
                     , SALE_AMT
                     , APPR_AMT
                  FROM TB_SL_SALE_PAY_CARD
                 WHERE SALE_FG='-1'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
		        )  M
		         GROUP BY M.STORE_CD, M.SALE_FG, M.ACQUIRE_CD, M.ACQUIRE_NM
		]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
		        ) M
		        WHERE M.STORE_CD = TMS.STORE_CD
		GROUP BY M.STORE_CD, TMS.STORE_NM, M.ACQUIRE_CD, M.ACQUIRE_NM
		ORDER BY M.STORE_CD, M.ACQUIRE_CD, M.ACQUIRE_NM
		]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>


    <!-- 모바일쿠폰 매입현왕 - 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 모바일쿠폰 리스트를 조회한다.
    -->
    <select id="getApprAcquireMcouponList" parameterType="apprAcquireVO" resultType="DefaultMap">
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.MCOUPN_CD
             , M.MCOUPN_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT
             , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A
             , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.MCOUPN_CD
             , M.MCOUPN_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.SALE_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.SALE_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MCOUPN_CD
                     , A.VAN_NM MCOUPN_NM
                     , TSSPM.SALE_FG
                     , 1 AS CNT
                     , TSSPM.SALE_AMT
                  FROM TB_SL_SALE_PAY_MCOUPN TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '04') A
                 WHERE TSSPM.SALE_FG = 1
                   AND A.VAN_CD = TSSPM.MCOUPN_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cashBillApprProcFg != null and cashBillApprProcFg != ""'>
            AND CASH_BILL_APPR_PROC_FG = #{cashBillApprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MCOUPN_CD
                     , A.VAN_NM MCOUPN_NM
                     , TSSPM.SALE_FG
                     , 1 AS CNT
                     , TSSPM.SALE_AMT
                  FROM TB_SL_SALE_PAY_MCOUPN TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '04') A
                 WHERE TSSPM.SALE_FG = -1
                   AND A.VAN_CD = TSSPM.MCOUPN_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cashBillApprProcFg != null and cashBillApprProcFg != ""'>
            AND CASH_BILL_APPR_PROC_FG = #{cashBillApprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_FG, M.MCOUPN_CD, M.MCOUPN_NM
        ]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.MCOUPN_CD, M.MCOUPN_NM
        ORDER BY M.STORE_CD, M.MCOUPN_CD
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>


    <!-- 모바일쿠폰 매입현왕 - 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 모바일쿠폰 리스트를 조회한다.
    -->
    <select id="getApprAcquireMpayList" parameterType="apprAcquireVO" resultType="DefaultMap">
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , M.MPAY_CD
             , M.MPAY_NM
             , TMS.STORE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.MPAY_CD
             , M.MPAY_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MPAY_CD
                     , A.VAN_NM MPAY_NM
                     , 1 AS SALE_FG
                     , 1 AS CNT
                     , TSSPM.APPR_AMT
                  FROM TB_SL_SALE_PAY_MPAY TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '03') A
                 WHERE TSSPM.SALE_AMT>0
                   AND A.VAN_CD = TSSPM.MPAY_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MPAY_CD
                     , A.VAN_NM MPAY_NM
                     , -1 AS SALE_FG
                     , 1 AS CNT
                     , TSSPM.APPR_AMT
                  FROM TB_SL_SALE_PAY_MPAY TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '03') A
                 WHERE TSSPM.SALE_AMT<0
                   AND A.VAN_CD = TSSPM.MPAY_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_FG, M.MPAY_CD, M.MPAY_NM
        ]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.MPAY_CD, M.MPAY_NM
        ORDER BY M.STORE_CD, M.MPAY_CD
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>


    <!-- 매입현황 - 비매출카드 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprCardVO
        COMMENTS : 매입현황 - 비매출카드 리스트 조회한다.
    -->
    <select id="getApprAcquireNcardList" parameterType="apprAcquireVO" resultType="DefaultMap">
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.DC_AMT)   AS DC_AMT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.DC_AMT_A) AS DC_AMT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.DC_AMT_B) AS DC_AMT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.DC_AMT) AS DC_AMT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_YN,'Y',SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.DC_AMT),0) AS DC_AMT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_YN,'N',SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_YN,'N',SUM(M.DC_AMT),0) AS DC_AMT_B
             , DECODE(M.SALE_YN,'N',SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_YN
                     , 1 AS CNT
                     , DC_AMT
                     , APPR_AMT
                  FROM TB_NS_NONSALE_PAY_CARD
                 WHERE SALE_YN = 'Y'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
         <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_YN
                     , 1 AS CNT
                     , DC_AMT
                     , APPR_AMT
                  FROM TB_NS_NONSALE_PAY_CARD
                 WHERE SALE_YN = 'N'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
         <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_YN, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
        <if test='saleYn != null and saleYn != ""'>
           HAVING(M.SALE_YN = #{saleYn})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.ACQUIRE_CD, M.ACQUIRE_NM
        ORDER BY M.STORE_CD, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>


    <!-- 신용카드 승인현왕 - 엑셀 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 엑셀 리스트를 조회한다.
    -->
    <select id="getApprAcquireExcelList" parameterType="apprAcquireVO" resultType="DefaultMap">
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.SALE_AMT)   AS SALE_AMT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.SALE_AMT_A) AS SALE_AMT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.SALE_AMT_B) AS SALE_AMT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS SALE_AMT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.SALE_AMT),0) AS SALE_AMT_A
             , DECODE(M.SALE_FG,1,SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.SALE_AMT),0) AS SALE_AMT_B
             , DECODE(M.SALE_FG,-1,SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_FG
                     , 1 AS CNT
                     , SALE_AMT
                     , APPR_AMT
                  FROM TB_SL_SALE_PAY_CARD
                 WHERE SALE_FG='1'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_FG
                     , 1 AS CNT
                     , SALE_AMT
                     , APPR_AMT
                  FROM TB_SL_SALE_PAY_CARD
                 WHERE SALE_FG='-1'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_FG, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.ACQUIRE_CD, M.ACQUIRE_NM
        ORDER BY M.STORE_CD, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
    </select>


    <!-- 모바일쿠폰 매입현왕 - 엑셀 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 모바일쿠폰 엑셀 리스트를 조회한다.
    -->
    <select id="getApprAcquireMcouponExcelList" parameterType="apprAcquireVO" resultType="DefaultMap">
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.MCOUPN_CD
             , M.MCOUPN_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT
             , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A
             , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B
       ]]>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.MCOUPN_CD
             , M.MCOUPN_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.SALE_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.SALE_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MCOUPN_CD
                     , A.VAN_NM MCOUPN_NM
                     , TSSPM.SALE_FG
                     , 1 AS CNT
                     , TSSPM.SALE_AMT
                  FROM TB_SL_SALE_PAY_MCOUPN TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '04') A
                 WHERE TSSPM.SALE_FG = 1
                   AND A.VAN_CD = TSSPM.MCOUPN_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cashBillApprProcFg != null and cashBillApprProcFg != ""'>
            AND CASH_BILL_APPR_PROC_FG = #{cashBillApprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MCOUPN_CD
                     , A.VAN_NM MCOUPN_NM
                     , TSSPM.SALE_FG
                     , 1 AS CNT
                     , TSSPM.SALE_AMT
                  FROM TB_SL_SALE_PAY_MCOUPN TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '04') A
                 WHERE TSSPM.SALE_FG = -1
                   AND A.VAN_CD = TSSPM.MCOUPN_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cashBillApprProcFg != null and cashBillApprProcFg != ""'>
            AND CASH_BILL_APPR_PROC_FG = #{cashBillApprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_FG, M.MCOUPN_CD, M.MCOUPN_NM
        ]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.MCOUPN_CD, M.MCOUPN_NM
        ORDER BY M.STORE_CD, M.MCOUPN_CD
        ]]>
    </select>


    <!-- 모바일쿠폰 매입현왕 - 엑셀 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprAcquireVO
        COMMENTS : 카드매입사별 탭 - 모바일쿠폰 엑셀 리스트를 조회한다.
    -->
    <select id="getApprAcquireMpayExcelList" parameterType="apprAcquireVO" resultType="DefaultMap">
       <![CDATA[
       SELECT M.STORE_CD
             , M.MPAY_CD
             , M.MPAY_NM
             , TMS.STORE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.MPAY_CD
             , M.MPAY_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_FG,1,SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_FG,1,SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_FG,-1,SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_FG,-1,SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MPAY_CD
                     , A.VAN_NM MPAY_NM
                     , 1 AS SALE_FG
                     , 1 AS CNT
                     , TSSPM.APPR_AMT
                  FROM TB_SL_SALE_PAY_MPAY TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '03') A
                 WHERE TSSPM.SALE_AMT>0
                   AND A.VAN_CD = TSSPM.MPAY_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT TSSPM.STORE_CD
                     , A.VAN_CD MPAY_CD
                     , A.VAN_NM MPAY_NM
                     , -1 AS SALE_FG
                     , 1 AS CNT
                     , TSSPM.APPR_AMT
                  FROM TB_SL_SALE_PAY_MPAY TSSPM
                     , (SELECT VAN_NM, VAN_CD FROM TB_CM_VAN_CMPNY WHERE VAN_FG = '03') A
                 WHERE TSSPM.SALE_AMT<0
                   AND A.VAN_CD = TSSPM.MPAY_CD
                   AND TSSPM.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='cornrCd != null and cornrCd != ""'>
            AND STORE_CD||'||'||CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_FG, M.MPAY_CD, M.MPAY_NM
        ]]>
        <if test='saleFg != null and saleFg != ""'>
           HAVING(M.SALE_FG = #{saleFg})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.MPAY_CD, M.MPAY_NM
        ORDER BY M.STORE_CD, M.MPAY_CD
        ]]>
    </select>


    <!-- 매입현황 - 비매출카드 엑셀 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprCardVO
        COMMENTS : 매입현황 - 비매출카드 엑셀 리스트 조회한다.
    -->
    <select id="getApprAcquireNcardExcelList" parameterType="apprAcquireVO" resultType="DefaultMap">
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.DC_AMT)   AS DC_AMT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.DC_AMT_A) AS DC_AMT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.DC_AMT_B) AS DC_AMT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , M.ACQUIRE_CD
             , M.ACQUIRE_NM
             , SUM(M.CNT) AS CNT
             , SUM(M.DC_AMT) AS DC_AMT
             , SUM(M.APPR_AMT) AS APPR_AMT
             , DECODE(M.SALE_YN,'Y',SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.DC_AMT),0) AS DC_AMT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.APPR_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_YN,'N',SUM(M.CNT),0) AS CNT_B
             , DECODE(M.SALE_YN,'N',SUM(M.DC_AMT),0) AS DC_AMT_B
             , DECODE(M.SALE_YN,'N',SUM(M.APPR_AMT),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_YN
                     , 1 AS CNT
                     , DC_AMT
                     , APPR_AMT
                  FROM TB_NS_NONSALE_PAY_CARD
                 WHERE SALE_YN = 'Y'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
         <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , ACQUIRE_CD
                     , ACQUIRE_NM
                     , SALE_YN
                     , 1 AS CNT
                     , DC_AMT
                     , APPR_AMT
                  FROM TB_NS_NONSALE_PAY_CARD
                 WHERE SALE_YN = 'N'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
         <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_YN, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
        <if test='saleYn != null and saleYn != ""'>
           HAVING(M.SALE_YN = #{saleYn})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM, M.ACQUIRE_CD, M.ACQUIRE_NM
        ORDER BY M.STORE_CD, M.ACQUIRE_CD, M.ACQUIRE_NM
        ]]>
    </select>

</mapper>



