<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.solbipos.base.store.tblpt.service.impl.TblptMapper">

    <!--  테이블속성 임시패스워드 저장  -->
    <!--
        TABLE    : TB_MS_TBL_TEMPPW_T
        COMMENTS : 테이블속성 임시패스워드 저장
    -->
    <update id="tblptOpn" parameterType="tblptVO">
        /* USE : TblptMapper.tblptOpn */
        MERGE INTO TB_MS_TBL_TEMPPW_T A
        USING   (
                        SELECT  #{storeCd}                              AS STORE_CD
                        ,       #{tblptTempPw}                          AS TBLPT_TEMP_PW
                        ,       #{tblptLoginFg}                         AS TBLPT_LOGIN_FG
                        ,       TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')     AS TBLPT_TEMP_PW_DT
                        ,       #{tblptTempPwRegId}                     AS TBLPT_TEMP_PW_REG_ID
                        FROM    DUAL
                ) B
        ON      (                B.STORE_CD      =   A.STORE_CD
                )
        WHEN MATCHED THEN
        UPDATE
        SET     A.TBLPT_TEMP_PW         =   B.TBLPT_TEMP_PW
        ,       A.TBLPT_LOGIN_FG        =   B.TBLPT_LOGIN_FG
        ,       A.TBLPT_TEMP_PW_DT      =   B.TBLPT_TEMP_PW_DT
        ,       A.TBLPT_TEMP_PW_REG_ID  =   B.TBLPT_TEMP_PW_REG_ID
        WHEN NOT MATCHED THEN
        INSERT
        (
                A.STORE_CD
        ,       A.TBLPT_TEMP_PW
        ,       A.TBLPT_LOGIN_FG
        ,       A.TBLPT_TEMP_PW_DT
        ,       A.TBLPT_TEMP_PW_REG_ID
        )
        VALUES
        (
                B.STORE_CD
        ,       B.TBLPT_TEMP_PW
        ,       B.TBLPT_LOGIN_FG
        ,       B.TBLPT_TEMP_PW_DT
        ,       B.TBLPT_TEMP_PW_REG_ID
        )
    </update>

</mapper>