<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ProdPosMapper.xml
    상품별 > 포스별 탭
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       김진       2020.02.06     최초작성
    2       김설아     2021.01.04
-->
<mapper namespace="kr.co.solbipos.sale.status.prod.pos.service.impl.ProdPosMapper">

	<!-- 포스별탭 - 매장 및 포스 리스트 조회 -->
	<!--
        TABLE    :
        PARAM    : prodPosVO
        COMMENTS :
    -->
	<select id="getStorePosList" parameterType="posProdVO" resultType="DefaultMap">
		/* USE : ProdPosMapper.getStorePosList */
		SELECT	DISTINCT TSDP.STORE_CD || '||' || TSDP.POS_NO AS STORE_CD
		FROM	TB_SL_DAILY_POS TSDP
		, TB_SL_DAILY_POS_PROD TSDPP
		WHERE	TSDP.HQ_OFFICE_CD = TSDPP.HQ_OFFICE_CD
		AND TSDP.HQ_BRAND_CD = TSDPP.HQ_BRAND_CD
		AND TSDP.STORE_CD = TSDPP.STORE_CD
		AND TSDP.SALE_DATE = TSDPP.SALE_DATE
		AND TSDP.POS_NO = TSDPP.POS_NO
		<if test='arrStoreCd != null and arrStoreCd != ""'>
			AND TSDP.STORE_CD IN
			<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test='arrPosNo != null and arrPosNo != ""'>
			AND TSDP.STORE_CD||'||'||TSDP.POS_NO IN
			<foreach collection="arrPosNo" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test='startDate != null and startDate != ""'>
			AND TSDP.SALE_DATE >= #{startDate}
		</if>
		<if test='endDate != null and endDate != ""'>
			AND TSDP.SALE_DATE <![CDATA[<= ]]> #{endDate}
		</if>
		ORDER BY TSDP.STORE_CD||'||'||TSDP.POS_NO
	</select>

	<!-- 포스별탭 - 매장 포스 리스트 조회 -->
	<!--
        TABLE    :
        PARAM    : prodPosVO
        COMMENTS :
    -->
	<select id="getPosNmList" parameterType="posProdVO" resultType="DefaultMap">
		/* USE : ProdPosMapper.getPosNmList */
		SELECT	TMP.STORE_CD||'||'||TMP.POS_NO AS POS_CD
		, TMP.POS_NM AS POS_NM
		, (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = TMP.STORE_CD) AS STORE_NM
		FROM    TB_MS_POS TMP
		WHERE	1=1
		<if test='arrStoreCd != null and arrStoreCd.length >= 0'>
			AND TMP.STORE_CD IN
			<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		ORDER BY TMP.STORE_CD||'||'||TMP.POS_NO
	</select>

	<!-- 포스별탭 - 조회 -->
	<!--
        TABLE    :
        PARAM    : prodPosVO
        COMMENTS :
    -->
    <select id="getProdPosList" parameterType="prodPosVO" resultType="DefaultMap">
		/* USE : ProdPosMapper.getProdPosList */
    	<include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT
		A.PATH_NM,
		A.PROD_CD,
		A.PROD_NM,
		A.SALE_STORE_CNT,
		A.TOT_SALE_AMT,
		A.TOT_DC_AMT,
		A.TOT_REAL_SALE_AMT,
		A.TOT_SALE_CNT,
		B.*
		<include refid="CmmSQL.PagingTemplateCount"/>
		FROM
		(
			SELECT
			PATH_NM,
			PROD_CD,
			PROD_NM,
			SUM(SALE_STORE_CNT) AS SALE_STORE_CNT,
			SUM(TOT_SALE_AMT) AS TOT_SALE_AMT,
			SUM(TOT_DC_AMT) AS TOT_DC_AMT,
			SUM(REAL_SALE_AMT) AS TOT_REAL_SALE_AMT,
			SUM(TOT_SALE_CNT) AS TOT_SALE_CNT
			FROM
			(
				SELECT
				FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
				tsdpp.PROD_CD,
				tmp.PROD_NM,
				COUNT(DISTINCT tsdpp.STORE_CD) AS SALE_STORE_CNT,
				SUM(tsdpp.TOT_SALE_AMT) AS TOT_SALE_AMT,
				SUM(tsdpp.TOT_DC_AMT) AS TOT_DC_AMT,
				SUM(tsdpp.REAL_SALE_AMT) AS REAL_SALE_AMT,
				SUM(tsdpp.TOT_SALE_QTY) AS TOT_SALE_CNT
				FROM TB_SL_DAILY_POS_PROD tsdpp,
				TB_MS_PRODUCT tmp
				WHERE 1=1
				AND tsdpp.HQ_OFFICE_CD = #{hqOfficeCd}
				AND tsdpp.STORE_CD = #{storeCd}
				AND tsdpp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
				<if test='arrStorePos != null and arrStorePos.length >= 0'>
					AND tsdpp.STORE_CD||'||'||tsdpp.POS_NO IN
					<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
						#{item}
					</foreach>
				</if>
				AND tmp.STORE_CD = tsdpp.STORE_CD
				AND tmp.PROD_CD = tsdpp.PROD_CD
				GROUP BY tsdpp.PROD_CD, tmp.PROD_NM, tmp.STORE_CD, tmp.PROD_CLASS_CD
			)
			GROUP BY PROD_CD, PROD_NM, PATH_NM
		) A,
		(
			SELECT
			PROD_CD AS PROD_CD_TEMP,
			(STORE_CD || '||' || POS_NO) AS STORE_POS,
			TOT_SALE_AMT,
			TOT_DC_AMT,
			REAL_SALE_AMT,
			TOT_SALE_QTY
			FROM TB_SL_DAILY_POS_PROD
			WHERE 1=1
			AND HQ_OFFICE_CD = #{hqOfficeCd}
			AND STORE_CD = #{storeCd}
			AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
			<if test='arrStorePos != null and arrStorePos.length >= 0'>
				AND STORE_CD||'||'||POS_NO IN
				<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		)
		PIVOT
		(
			SUM(TOT_SALE_AMT) AS SALE_AMT,
			SUM(TOT_DC_AMT) AS DC_AMT,
			SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
			SUM(TOT_SALE_QTY) AS SALE_CNT
			FOR STORE_POS IN (
				<if test='arrStorePos != null and arrStorePos.length >= 0'>
					<foreach collection="arrStorePos" item="item" separator=",">
						'${item}'
					</foreach>
				</if>
			)
		) B
		WHERE 1=1
		AND B.PROD_CD_TEMP = A.PROD_CD
		ORDER BY A.PROD_CD
		<include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

	<!-- 포스별탭 - 엑셀 조회 -->
	<!--
        TABLE    :
        PARAM    : prodPosVO
        COMMENTS :
    -->
    <select id="getProdPosExcelList" parameterType="prodPosVO" resultType="DefaultMap">
		/* USE : ProdPosMapper.getProdPosExcelList */
		SELECT
		A.PATH_NM,
		A.PROD_CD,
		A.PROD_NM,
		A.SALE_STORE_CNT,
		A.TOT_SALE_AMT,
		A.TOT_DC_AMT,
		A.TOT_REAL_SALE_AMT,
		A.TOT_SALE_CNT,
		B.*
		FROM
		(
			SELECT
			PATH_NM,
			PROD_CD,
			PROD_NM,
			SUM(SALE_STORE_CNT) AS SALE_STORE_CNT,
			SUM(TOT_SALE_AMT) AS TOT_SALE_AMT,
			SUM(TOT_DC_AMT) AS TOT_DC_AMT,
			SUM(REAL_SALE_AMT) AS TOT_REAL_SALE_AMT,
			SUM(TOT_SALE_CNT) AS TOT_SALE_CNT
			FROM
			(
				SELECT
				FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
				tsdpp.PROD_CD,
				tmp.PROD_NM,
				COUNT(DISTINCT tsdpp.STORE_CD) AS SALE_STORE_CNT,
				SUM(tsdpp.TOT_SALE_AMT) AS TOT_SALE_AMT,
				SUM(tsdpp.TOT_DC_AMT) AS TOT_DC_AMT,
				SUM(tsdpp.REAL_SALE_AMT) AS REAL_SALE_AMT,
				SUM(tsdpp.TOT_SALE_QTY) AS TOT_SALE_CNT
				FROM TB_SL_DAILY_POS_PROD tsdpp,
				TB_MS_PRODUCT tmp
				WHERE 1=1
				AND tsdpp.HQ_OFFICE_CD = #{hqOfficeCd}
				AND tsdpp.STORE_CD = #{storeCd}
				AND tsdpp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
				<if test='arrStorePos != null and arrStorePos.length >= 0'>
					AND tsdpp.STORE_CD||'||'||tsdpp.POS_NO IN
					<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
						#{item}
					</foreach>
				</if>
				AND tmp.STORE_CD = tsdpp.STORE_CD
				AND tmp.PROD_CD = tsdpp.PROD_CD
				GROUP BY tsdpp.PROD_CD, tmp.PROD_NM, tmp.STORE_CD, tmp.PROD_CLASS_CD
			)
			GROUP BY PROD_CD, PROD_NM, PATH_NM
		) A,
		(
			SELECT
			PROD_CD AS PROD_CD_TEMP,
			(STORE_CD || '||' || POS_NO) AS STORE_POS,
			TOT_SALE_AMT,
			TOT_DC_AMT,
			REAL_SALE_AMT,
			TOT_SALE_QTY
			FROM TB_SL_DAILY_POS_PROD
			WHERE 1=1
			AND HQ_OFFICE_CD = #{hqOfficeCd}
			AND STORE_CD = #{storeCd}
			AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
			<if test='arrStorePos != null and arrStorePos.length >= 0'>
				AND STORE_CD||'||'||POS_NO IN
				<foreach collection="arrStorePos" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		)
		PIVOT
		(
			SUM(TOT_SALE_AMT) AS SALE_AMT,
			SUM(TOT_DC_AMT) AS DC_AMT,
			SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
			SUM(TOT_SALE_QTY) AS SALE_CNT
			FOR STORE_POS IN (
				<if test='arrStorePos != null and arrStorePos.length >= 0'>
					<foreach collection="arrStorePos" item="item" separator=",">
						'${item}'
					</foreach>
				</if>
			)
		) B
		WHERE 1=1
		AND B.PROD_CD_TEMP = A.PROD_CD
		ORDER BY A.PROD_CD
    </select>

</mapper>