<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.stock.acins.hqAcins.service.impl.HqAcinsMapper">

    <!-- 실사관리 - 실사관리 리스트 조회 -->
    <!--
        TABLE    : TB_ST_HQ_STOCK_CUR, TB_HQ_PRODUCT, TB_HQ_PRODUCT_BARCD
        PARAM    : hqCurrVO
        COMMENTS : 실사관리 - 실사관리 리스트를 조회한다.
    -->
    <select id="getHqAcinsList" parameterType="hqAcinsVO" resultType="DefaultMap">
        /* USE : HqAcinsMapper.getHqAcinsList */
        <![CDATA[
        SELECT  tshai.ACINS_DATE, tshai.HQ_OFFICE_CD, tshai.SEQ_NO
        ,       tshai.ACINS_TITLE, tshai.PROC_FG, tshai.DTL_CNT
        ,       tshai.ADJ_CNT, tshai.CONFM_DATE
        ,       SUBSTR(tshai.REG_DT,0,8) AS REG_DATE
        FROM    TB_ST_HQ_ACTUAL_INSPECTION tshai
        WHERE   HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     ACINS_DATE  BETWEEN #{startDate} AND #{endDate}
        ]]>
        <if test='procFg != null and procFg != ""'>
            AND tshai.PROC_FG = #{procFg}
        </if>
        <![CDATA[
        ORDER BY tshai.ACINS_DATE DESC, tshai.SEQ_NO DESC
        ]]>
    </select>

    <!-- 실사관리 - 실사 진행구분 및 제목 조회 -->
    <!--
        TABLE    : TB_PO_HQ_STORE_ORDER
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 진행구분 및 제목을 조회한다.
    -->
    <select id="getProcFgCheck" parameterType="hqAcinsVO" resultType="DefaultMap">
        /* USE : HqAcinsMapper.getProcFgCheck */
        <![CDATA[
        SELECT  tshai.PROC_FG, tshai.ACINS_TITLE
        FROM    TB_ST_HQ_ACTUAL_INSPECTION tshai
        WHERE   tshai.HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     tshai.ACINS_DATE    = #{acinsDate}
        AND     tshai.SEQ_NO        = #{seqNo}
        ]]>
    </select>

    <!-- 실사관리 - 실사등록 상품 리스트 조회 -->
    <!--
        TABLE    : TB_HQ_PRODUCT, TB_ST_HQ_ACTUAL_INSPECTION_DTL, TB_ST_HQ_STOCK_CUR, TB_ST_HQ_STOCK_MONTHLY, TB_HQ_PRODUCT_BARCD
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사등록 리스트를 조회한다.
    -->
    <select id="getHqAcinsRegistList" parameterType="hqAcinsVO" resultType="DefaultMap">
        /* USE : HqAcinsMapper.getHqAcinsRegistList */
        <![CDATA[
        SELECT  thpb.BARCD_CD, thp.PROD_CD, thp.PROD_NM, thp.PO_UNIT_QTY
        ,		NVL((SELECT MAX(SALE_UPRC) KEEP(DENSE_RANK FIRST ORDER BY REG_DT DESC)
                       FROM TB_HQ_PRODUCT_SALE_PRICE
                      WHERE HQ_OFFICE_CD = thp.HQ_OFFICE_CD
                        AND PROD_CD = thp.PROD_CD
                        AND #{acinsDate} BETWEEN START_DATE AND END_DATE
                     ), 0) AS SALE_UPRC
        ,       NVL(tshsc.AVG_COST_UPRC, thp.COST_UPRC) AS COST_UPRC
        ,       NVL(NVL(tshaid.CMPT_CURR_QTY, tshsc.CURR_QTY), 0) AS CMPT_CURR_QTY
        ,       tshaid.ACINS_QTY
        ,       tshaid.ACINS_AMT
        ,       tshaid.ADJ_QTY
        ,       tshaid.ADJ_AMT
        ,       tshaid.REMARK
        ,       DECODE(tshaid.PROD_CD, NULL, 'I', 'U') AS ACINS_PROD_STATUS
        FROM    TB_HQ_PRODUCT thp
        ,       TB_ST_HQ_ACTUAL_INSPECTION_DTL tshaid
        ,       (	SELECT  tshsc.PROD_CD, tshsc.CURR_QTY, tshsm.AVG_COST_UPRC
                    FROM    TB_ST_HQ_STOCK_CUR tshsc
                    ,       TB_ST_HQ_STOCK_MONTHLY tshsm
                    WHERE   tshsc.HQ_OFFICE_CD    =   #{hqOfficeCd}
                    AND     tshsm.IOSTOCK_YM  (+) =   SUBSTR(#{acinsDate}, 0, 6)
                    AND     tshsm.HQ_OFFICE_CD(+) =   tshsc.HQ_OFFICE_CD
                    AND     tshsm.PROD_CD     (+) =   tshsc.PROD_CD
                )   tshsc
        ,       TB_HQ_PRODUCT_BARCD thpb
        WHERE   thp.HQ_OFFICE_CD        =   #{hqOfficeCd}
        AND     thp.STOCK_PROD_YN       =   'Y'
        AND     thp.USE_YN              =   'Y'
        AND     tshaid.PROD_CD      (+) =   thp.PROD_CD
        AND     tshaid.HQ_OFFICE_CD (+) =   #{hqOfficeCd}
        AND     tshaid.ACINS_DATE   (+) =   #{acinsDate}
        AND     tshaid.SEQ_NO       (+) =   #{seqNo}
        AND     tshsc.PROD_CD       (+) =   thp.PROD_CD
        AND     thpb.HQ_OFFICE_CD   (+) =   thp.HQ_OFFICE_CD
        AND     thpb.PROD_CD        (+) =   thp.PROD_CD
        ]]>
        <if test='prodCd != null and prodCd != ""'>
            AND thp.PROD_CD = #{prodCd}
        </if>
        <if test='prodNm != null and prodNm != ""'>
            AND thp.PROD_NM LIKE '%'||#{prodNm}||'%'
        </if>
        <if test='barcdCd != null and barcdCd != ""'>
            AND thpb.BARCD_CD = #{barcdCd}
        </if>
        <if test='prodBarcdCd != null and prodBarcdCd != ""'>
            AND (thp.PROD_CD = #{prodBarcdCd} OR thpb.BARCD_CD = #{prodBarcdCd})
        </if>
        <![CDATA[
        ORDER
        BY		thp.PROD_CD
        ]]>
    </select>

    <!-- 실사관리 - 실사등록 신규 SEQ 조회 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사등록 신규 SEQ를 조회한다.
    -->
    <select id="getNewSeqNo" parameterType="hqAcinsVO" resultType="String">
        /* USE : HqAcinsMapper.getNewSeqNo */
        <![CDATA[
        SELECT  NVL(MAX(tshai.SEQ_NO), 0)+1 AS SEQ_NO
        FROM    TB_ST_HQ_ACTUAL_INSPECTION tshai
        WHERE   tshai.HQ_OFFICE_CD  =  #{hqOfficeCd}
        AND     tshai.ACINS_DATE    =  #{acinsDate}
        ]]>
    </select>

    <!-- 실사관리 - 실사 상세 리스트 조회 -->
    <!--
        TABLE    : TB_HQ_PRODUCT, TB_ST_HQ_ACTUAL_INSPECTION_DTL, TB_ST_HQ_STOCK_CUR, TB_ST_HQ_STOCK_MONTHLY, TB_HQ_PRODUCT_BARCD, TB_ST_HQ_STOCK_DAILY
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 상세 리스트를 조회한다.
    -->
    <select id="getHqAcinsDtlList" parameterType="hqAcinsVO" resultType="DefaultMap">
        /* USE : HqAcinsMapper.getHqAcinsDtlList */
        <![CDATA[
        SELECT  thpb.BARCD_CD, thp.PROD_CD, thp.PROD_NM, thp.PO_UNIT_QTY
        ,		NVL((SELECT MAX(SALE_UPRC) KEEP(DENSE_RANK FIRST ORDER BY REG_DT DESC)
                       FROM TB_HQ_PRODUCT_SALE_PRICE
                      WHERE HQ_OFFICE_CD = thp.HQ_OFFICE_CD
                        AND PROD_CD = thp.PROD_CD
                        AND #{acinsDate} BETWEEN START_DATE AND END_DATE
                     ), 0) AS SALE_UPRC
        ,       NVL(tshsm.AVG_COST_UPRC, thp.COST_UPRC) AS COST_UPRC
        ,       tshaid.CMPT_CURR_QTY
        ,       tshaid.ACINS_QTY
        ,       tshaid.ACINS_AMT
        ,       tshaid.ADJ_QTY
        ,       tshaid.ADJ_AMT
        ,       tshaid.REMARK
        ,       'U' AS ACINS_PROD_STATUS
        FROM    TB_ST_HQ_ACTUAL_INSPECTION_DTL tshaid
        ,       TB_HQ_PRODUCT thp
        ,       (	SELECT	tshsm.PROD_CD
                    ,		tshsm.AVG_COST_UPRC
                    , 		(tshsm.BASE_QTY + NVL(IOSTOCK_QTY, 0)) AS CMPT_DATE_QTY
                    FROM	(	SELECT	tshsm.IOSTOCK_YM, tshsm.HQ_OFFICE_CD
                                ,		tshsm.PROD_CD, tshsm.BASE_QTY, tshsm.AVG_COST_UPRC
                                FROM	TB_ST_HQ_STOCK_MONTHLY tshsm
                                WHERE	tshsm.HQ_OFFICE_CD	=	#{hqOfficeCd}
                                AND		tshsm.IOSTOCK_YM	=	SUBSTR(#{acinsDate}, 0, 6)
                            ) tshsm
                    ,		(	SELECT	tshsd.IOSTOCK_DATE, tshsd.HQ_OFFICE_CD
                                ,		tshsd.PROD_CD
                                , 		SUM(tshsd.IOSTOCK_QTY) AS IOSTOCK_QTY
                                FROM	TB_ST_HQ_STOCK_DAILY tshsd
                                WHERE	tshsd.HQ_OFFICE_CD	=	#{hqOfficeCd}
                                AND		tshsd.IOSTOCK_DATE	=	#{acinsDate}
                                GROUP
                                BY		tshsd.IOSTOCK_DATE, tshsd.HQ_OFFICE_CD
                                ,		tshsd.PROD_CD
                            ) tshsd
                    WHERE	tshsd.PROD_CD(+)=	tshsm.PROD_CD
                )   tshsm
        ,       TB_HQ_PRODUCT_BARCD thpb
        WHERE   tshaid.HQ_OFFICE_CD     =   #{hqOfficeCd}
        AND     tshaid.ACINS_DATE       =   #{acinsDate}
        AND     tshaid.SEQ_NO           =   #{seqNo}
        AND     tshaid.HQ_OFFICE_CD     =   thp.HQ_OFFICE_CD
        AND     tshaid.PROD_CD          =   thp.PROD_CD
        AND     tshsm.PROD_CD       (+) =   tshaid.PROD_CD
        AND     thpb.HQ_OFFICE_CD   (+) =   tshaid.HQ_OFFICE_CD
        AND     thpb.PROD_CD        (+) =   tshaid.PROD_CD
        ORDER
        BY		tshaid.PROD_CD
        ]]>
    </select>

    <!-- 실사관리 - 실사 DTL 전부 삭제 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사일자, SEQ_NO 에 해당하는 DTL을 전부 삭제한다.
    -->
    <delete id="deleteAllHqAcinsDtl" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.deleteAllHqAcinsDtl */
        DELETE  TB_ST_HQ_ACTUAL_INSPECTION_DTL
        WHERE   HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     ACINS_DATE    = #{acinsDate}
        AND     SEQ_NO        = #{seqNo}
    </delete>


    <!-- 실사관리 - 실사 HD 삭제 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사일자, SEQ_NO 에 해당하는 HD를 삭제한다.
    -->
    <delete id="deleteHqAcinsHd" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.deleteHqAcinsHd */
        DELETE  TB_ST_HQ_ACTUAL_INSPECTION
        WHERE   HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     ACINS_DATE    = #{acinsDate}
        AND     SEQ_NO        = #{seqNo}
    </delete>


    <!-- 실사관리 - 실사 상품 DTL 등록 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 상품 DTL을 등록한다.
    -->
    <insert id="insertHqAcinsDtl" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.insertHqAcinsDtl */
        INSERT INTO TB_ST_HQ_ACTUAL_INSPECTION_DTL
        (
            HQ_OFFICE_CD,
            ACINS_DATE,
            SEQ_NO,
            HQ_BRAND_CD,
            PROD_CD,
            COST_UPRC,
            ADJ_AMT,
            CMPT_CURR_QTY,
            ACINS_QTY,
            ADJ_QTY,
            ACINS_AMT,
            PO_UNIT_QTY,
            REMARK,
            REG_DT,
            REG_ID,
            MOD_DT,
            MOD_ID
        )
        VALUES
        (
            #{hqOfficeCd},
            #{acinsDate},
            #{seqNo},
            #{hqBrandCd},
            #{prodCd},
            #{costUprc},
            #{adjAmt},
            #{cmptCurrQty},
            #{acinsQty},
            #{adjQty},
            #{acinsAmt},
            #{poUnitQty},
            #{remark},
            #{regDt},
            #{regId},
            #{modDt},
            #{modId}
        )
    </insert>

    <!-- 실사관리 - 실사 상품 DTL 수정 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 상품 DTL을 수정한다.
    -->
    <update id="updateHqAcinsDtl" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.updateHqAcinsDtl */
        UPDATE  TB_ST_HQ_ACTUAL_INSPECTION_DTL
        SET     ACINS_QTY = #{acinsQty}
        ,       ACINS_AMT = #{acinsAmt}
        ,       ADJ_QTY   = #{adjQty}
        ,       ADJ_AMT   = #{adjAmt}
        ,       REMARK    = #{remark}
        WHERE   HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     ACINS_DATE    = #{acinsDate}
        AND     SEQ_NO        = #{seqNo}
        AND     PROD_CD       = #{prodCd}
    </update>

    <!-- 실사관리 - 실사 상품 DTL 삭제 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 상품 DTL을 삭제한다.
    -->
    <delete id="deleteHqAcinsDtl" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.deleteHqAcinsDtl */
        DELETE  TB_ST_HQ_ACTUAL_INSPECTION_DTL
        WHERE   HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     ACINS_DATE    = #{acinsDate}
        AND     SEQ_NO        = #{seqNo}
        AND     PROD_CD       = #{prodCd}
    </delete>

    <!-- 실사관리 - 실사 HD 등록 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION, TB_ST_HQ_ACTUAL_INSPECTION_DTL
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 HD을 등록한다.
    -->
    <insert id="insertHqAcinsHd" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.insertHqAcinsHd */
        INSERT INTO TB_ST_HQ_ACTUAL_INSPECTION
        (
            HQ_OFFICE_CD,
            STORAGE_CD,
            ACINS_DATE,
            SEQ_NO,
            ACINS_TITLE,
            PROC_FG,
            DTL_CNT,
            ADJ_CNT,
            TOT_ACINS_AMT,
            REG_DT,
            REG_ID,
            MOD_DT,
            MOD_ID
        )
        SELECT	tshaid.HQ_OFFICE_CD
        ,		#{storageCd}
        ,		tshaid.ACINS_DATE
        ,		tshaid.SEQ_NO
        ,		#{acinsTitle}
        ,		#{procFg}
        ,		COUNT(tshaid.PROD_CD)
        ,		SUM(DECODE(tshaid.ADJ_QTY, 0, 0, 1))
        ,		SUM(tshaid.ACINS_AMT)
        ,       #{regDt}
        ,       #{regId}
        ,       #{modDt}
        ,       #{modId}
        FROM	TB_ST_HQ_ACTUAL_INSPECTION_DTL tshaid
        WHERE	tshaid.HQ_OFFICE_CD	=	#{hqOfficeCd}
        AND     tshaid.ACINS_DATE	=	#{acinsDate}
        AND     tshaid.SEQ_NO	    =	#{seqNo}
        GROUP
        BY		tshaid.HQ_OFFICE_CD
        ,		#{storageCd}
        ,		tshaid.ACINS_DATE
        ,		tshaid.SEQ_NO
        ,		#{acinsTitle}
        ,		#{procFg}
        ,       #{regDt}
        ,       #{regId}
        ,       #{modDt}
        ,       #{modId}
    </insert>

    <!-- 실사관리 - 실사 HD 수정 -->
    <!--
        TABLE    : TB_ST_HQ_ACTUAL_INSPECTION
        PARAM    : hqAcinsVO
        COMMENTS : 실사관리 - 실사 HD을 수정한다.
    -->
    <update id="updateHqAcinsHd" parameterType="hqAcinsVO">
        /* USE : HqAcinsMapper.updateHqAcinsHd */
        UPDATE  TB_ST_HQ_ACTUAL_INSPECTION
        SET     (DTL_CNT, ADJ_CNT, TOT_ACINS_AMT)
              = (   SELECT  COUNT(tshaid.PROD_CD)
                    ,		SUM(DECODE(tshaid.ADJ_QTY, 0, 0, 1))
                    ,		SUM(tshaid.ACINS_AMT)
                    FROM    TB_ST_HQ_ACTUAL_INSPECTION_DTL tshaid
                    WHERE	tshaid.HQ_OFFICE_CD	=	#{hqOfficeCd}
                    AND     tshaid.ACINS_DATE	=	#{acinsDate}
                    AND     tshaid.SEQ_NO	    =	#{seqNo}
                )
        ,       ACINS_TITLE = #{acinsTitle}
        ,       PROC_FG     = #{procFg}
        ,       CONFM_DATE  = DECODE(#{procFg}, '0', NULL, SUBSTR(#{modDt}, 0, 8))
        ,       CONFM_ID    = DECODE(#{procFg}, '0', NULL, #{modId})
        ,       MOD_DT      = #{modDt}
        ,       MOD_ID      = #{modId}
        WHERE	HQ_OFFICE_CD  =	#{hqOfficeCd}
        AND     ACINS_DATE	  =	#{acinsDate}
        AND     SEQ_NO	      =	#{seqNo}
    </update>
</mapper>
