<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.iostock.vendr.slipStockInfo.service.impl.SlipStockInfoMapper">
    <!-- 거래처 전표별 입출고내역 - 전표별 입출고내역 리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_VENDR_ORDER, TB_HQ_VENDOR
                   TB_PO_STORE_VENDR_ORDER, TB_MS_VENDOR
        PARAM    : slipStockInfoVO
        COMMENTS : 거래처 전표별 입출고내역 - 전표별 입출고내역 리스트를 조회한다.
    -->
    <select id="getSlipStockInfoList" parameterType="slipStockInfoVO" resultType="DefaultMap">
        /* USE : SlipStockInfoMapper.getSlipStockInfoList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                <![CDATA[
                SELECT  tphvi.SLIP_NO, tphvi.SLIP_FG, tphvi.INSTOCK_DATE
                ,       tphvi.VENDR_CD, thv.VENDR_NM, tphvi.ORDER_SLIP_NO
                ,       tphvi.DTL_CNT, tphvi.IN_AMT, tphvi.IN_VAT, tphvi.IN_TOT
                FROM    TB_PO_HQ_VENDR_INSTOCK tphvi
                ,       TB_HQ_VENDOR thv
                WHERE   tphvi.HQ_OFFICE_CD    = #{hqOfficeCd}
                AND     tphvi.PROC_FG         = '1'
                AND     thv.HQ_OFFICE_CD      = tphvi.HQ_OFFICE_CD
                AND     thv.VENDR_CD          = tphvi.VENDR_CD
                ]]>
                <if test='slipNo != null and slipNo != ""'>
                    AND tphvi.SLIP_NO = #{slipNo}
                </if>
                <if test='orderSlipNo != null and orderSlipNo != ""'>
                    AND tphvi.ORDER_SLIP_NO = #{orderSlipNo}
                </if>
                <if test='(slipNo == null or slipNo == "") and (orderSlipNo == null or orderSlipNo == "")'>
                	AND tphvi.INSTOCK_DATE    BETWEEN #{startDate} AND #{endDate}
                	<if test='slipFg != null and slipFg != ""'>
	                    AND tphvi.SLIP_FG = #{slipFg}
	                </if>
	                <if test='arrVendrCd != null and arrVendrCd != ""'>
	                    AND tphvi.VENDR_CD IN
	                    <foreach collection="arrVendrCd" item="item" open="(" close=")" separator=",">
	                        #{item}
	                    </foreach>
	                </if>
                </if>
                <![CDATA[
                AND     tphvi.SLIP_NO         IN  ( SELECT  tphvid.SLIP_NO
                                                    FROM    TB_PO_HQ_VENDR_INSTOCK_DTL tphvid
                                                    ,       TB_HQ_PRODUCT thp
                                                    WHERE   tphvid.HQ_OFFICE_CD   = tphvi.HQ_OFFICE_CD
                                                    AND     tphvid.SLIP_NO        = tphvi.SLIP_NO
                                                    AND     thp.HQ_OFFICE_CD      = tphvid.HQ_OFFICE_CD
                                                    AND     thp.PROD_CD           = tphvid.PROD_CD
                ]]>
                <if test='prodCd != null and prodCd != ""'>
                    AND tphvid.PROD_CD = #{prodCd}
                </if>
                <if test='prodNm != null and prodNm != ""'>
                    AND thp.PROD_NM LIKE '%'||#{prodNm}||'%'
                </if>
                <if test="prodClassCd != null and prodClassCd != ''">
                    AND thp.PROD_CLASS_CD IN  ( SELECT  #{prodClassCd} AS PROD_CLASS_CD
                                                FROM    DUAL
                                                UNION
                                                SELECT  thpc.PROD_CLASS_CD
                                                FROM    TB_HQ_PRODUCT_CLASS thpc
                                                WHERE   thpc.HQ_OFFICE_CD = #{hqOfficeCd}
                                                START WITH  thpc.P_PROD_CLASS_CD = #{prodClassCd} AND thpc.HQ_OFFICE_CD = #{hqOfficeCd}
                                                CONNECT BY  thpc.P_PROD_CLASS_CD = PRIOR thpc.PROD_CLASS_CD AND thpc.HQ_OFFICE_CD = #{hqOfficeCd}
                                              )
                </if>
                <![CDATA[
                )
                ORDER BY tphvi.INSTOCK_DATE, tphvi.SLIP_NO
                ]]>
            </when>
            <!-- 가맹점 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                <![CDATA[
                SELECT  tpsvi.SLIP_NO, tpsvi.SLIP_FG, tpsvi.INSTOCK_DATE
                ,       tpsvi.VENDR_CD, tmv.VENDR_NM, tpsvi.ORDER_SLIP_NO
                ,       tpsvi.DTL_CNT, tpsvi.IN_AMT, tpsvi.IN_VAT, tpsvi.IN_TOT
                FROM    TB_PO_STORE_VENDR_INSTOCK tpsvi
                ,       TB_MS_VENDOR tmv
                WHERE   tpsvi.STORE_CD        = #{storeCd}
                AND     tpsvi.PROC_FG         = '1'
                AND     tmv.STORE_CD          = tpsvi.STORE_CD
                AND     tmv.VENDR_CD          = tpsvi.VENDR_CD
                ]]>
                <if test='slipNo != null and slipNo != ""'>
                    AND tpsvi.SLIP_NO = #{slipNo}
                </if>
                <if test='orderSlipNo != null and orderSlipNo != ""'>
                    AND tpsvi.ORDER_SLIP_NO = #{orderSlipNo}
                </if>
                <if test='(slipNo == null or slipNo == "") and (orderSlipNo == null or orderSlipNo == "")'>
                	AND tpsvi.INSTOCK_DATE    BETWEEN #{startDate} AND #{endDate}
                	<if test='slipFg != null and slipFg != ""'>
	                    AND tpsvi.SLIP_FG = #{slipFg}
	                </if>
	                <if test='arrVendrCd != null and arrVendrCd != ""'>
	                    AND tpsvi.VENDR_CD IN
	                    <foreach collection="arrVendrCd" item="item" open="(" close=")" separator=",">
	                        #{item}
	                    </foreach>
	                </if>
                </if>
                <![CDATA[
                AND     tpsvi.SLIP_NO         IN  ( SELECT  tpsvid.SLIP_NO
                                                    FROM    TB_PO_STORE_VENDR_INSTOCK_DTL tpsvid
                                                    ,       TB_MS_PRODUCT tmp
                                                    WHERE   tpsvid.STORE_CD   = tpsvi.STORE_CD
                                                    AND     tpsvid.SLIP_NO    = tpsvi.SLIP_NO
                                                    AND     tmp.STORE_CD      = tpsvid.STORE_CD
                                                    AND     tmp.PROD_CD       = tpsvid.PROD_CD
                ]]>
                <if test='prodCd != null and prodCd != ""'>
                    AND tpsvid.PROD_CD = #{prodCd}
                </if>
                <if test='prodNm != null and prodNm != ""'>
                    AND tmp.PROD_NM LIKE '%'||#{prodNm}||'%'
                </if>
                <if test="prodClassCd != null and prodClassCd != ''">
                    AND tmp.PROD_CLASS_CD IN  ( SELECT  #{prodClassCd} AS PROD_CLASS_CD
                                                FROM    DUAL
                                                UNION
                                                SELECT  tmpc.PROD_CLASS_CD
                                                FROM    TB_MS_PRODUCT_CLASS tmpc
                                                WHERE   tmpc.STORE_CD = #{storeCd}
                                                START WITH  tmpc.P_PROD_CLASS_CD = #{prodClassCd} AND tmpc.STORE_CD = #{storeCd}
                                                CONNECT BY  tmpc.P_PROD_CLASS_CD = PRIOR tmpc.PROD_CLASS_CD AND tmpc.STORE_CD = #{storeCd}
                                              )
                </if>
                <![CDATA[
                )
                ORDER BY tpsvi.INSTOCK_DATE, tpsvi.SLIP_NO
                ]]>
            </when>
        </choose>
    </select>


    <!-- 거래처 전표별 입출고내역 - 전표별 입출고내역 상세 리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_VENDR_ORDER, TB_HQ_VENDOR
                   TB_PO_STORE_VENDR_ORDER, TB_MS_VENDOR
        PARAM    : slipStockInfoVO
        COMMENTS : 거래처 전표별 입출고내역 - 전표별 입출고내역 상세 리스트를 조회한다.
    -->
    <select id="getSlipStockInfoDtlList" parameterType="slipStockInfoVO" resultType="DefaultMap">
        /* USE : SlipStockInfoMapper.getSlipStockInfoDtlList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                <![CDATA[
                SELECT  tphvid.PROD_CD, thp.PROD_NM
                ,       tphvid.PO_UNIT_FG, tphvid.PO_UNIT_QTY, tphvid.COST_UPRC
                ,       tphvid.IN_TOT_QTY
                ,       tphvid.IN_AMT
                ,       tphvid.IN_VAT
                ,       tphvid.IN_TOT
                FROM    TB_PO_HQ_VENDR_INSTOCK tphvi
                ,       TB_PO_HQ_VENDR_INSTOCK_DTL tphvid
                ,       TB_HQ_PRODUCT thp
                WHERE   tphvi.HQ_OFFICE_CD    = #{hqOfficeCd}
                AND     tphvi.SLIP_NO         = #{slipNo}
                AND     tphvid.HQ_OFFICE_CD   = tphvi.HQ_OFFICE_CD
                AND     tphvid.SLIP_NO        = tphvi.SLIP_NO
                AND     thp.HQ_OFFICE_CD      = tphvid.HQ_OFFICE_CD
                AND     thp.PROD_CD           = tphvid.PROD_CD
                ORDER BY tphvid.PROD_CD
                ]]>
            </when>
            <!-- 가맹점 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                <![CDATA[
                SELECT  tpsvid.PROD_CD, tmp.PROD_NM
                ,       tpsvid.PO_UNIT_FG, tpsvid.PO_UNIT_QTY, tpsvid.COST_UPRC
                ,       tpsvid.IN_TOT_QTY
                ,       tpsvid.IN_AMT
                ,       tpsvid.IN_VAT
                ,       tpsvid.IN_TOT
                FROM    TB_PO_STORE_VENDR_INSTOCK tpsvi
                ,       TB_PO_STORE_VENDR_INSTOCK_DTL tpsvid
                ,       TB_MS_PRODUCT tmp
                WHERE   tpsvi.STORE_CD    = #{storeCd}
                AND     tpsvi.SLIP_NO     = #{slipNo}
                AND     tpsvid.STORE_CD   = tpsvi.STORE_CD
                AND     tpsvid.SLIP_NO    = tpsvi.SLIP_NO
                AND     tmp.STORE_CD      = tpsvid.STORE_CD
                AND     tmp.PROD_CD       = tpsvid.PROD_CD
                ORDER BY tpsvid.PROD_CD
                ]]>
            </when>
        </choose>
    </select>

</mapper>
