<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.corner.dayOfWeek.service.impl.CornerDayOfWeekMapper">

    <!-- 영수증별매출상세현황 - 영수증별매출상세 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL, TB_MS_TABLE, TB_MS_PRODUCT, TB_MS_PRODUCT_BARCD
        PARAM    : todayBillSaleDtlVO
        COMMENTS : 영수증별매출상세현황 - 영수증별매출상세 리스트를 조회한다.
    -->
    <select id="getCornerDayOfWeekList" parameterType="cornerDayOfWeekVO" resultType="DefaultMap">
       /* USE : CornerDayOfWeekMapper.getCornerDayOfWeekList */
       <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT TSDCP.STORE_CD
       		  ,TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean') yoil
              ,CASE TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean')
                                    WHEN '일' THEN 1
                                    WHEN '월' THEN 2
                                    WHEN '화' THEN 3
                                    WHEN '수' THEN 4
                                    WHEN '목' THEN 5
                                    WHEN '금' THEN 6
                                    ELSE 7
                                END AS DAY_ORDER
              ,SUM(TSDCP.REAL_SALE_AMT) TOT_REAL_SALE_AMT
              ,SUM(TSDCP.TOT_SALE_QTY) TOT_SALE_QTY
              ${sQuery1}
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
       <![CDATA[
        FROM TB_SL_DAILY_CORNR_PROD TSDCP
        WHERE TSDCP.HQ_OFFICE_CD = #{hqOfficeCd}
       ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSDCP.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='arrCornrCd != null and arrCornrCd != ""'>
            AND TSDCP.STORE_CD||'||'||TSDCP.CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSDCP.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSDCP.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        GROUP BY TSDCP.STORE_CD, TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'YYYY-MM-DD'),'DY','NLS_DATE_LANGUAGE=korean')
        ORDER BY DAY_ORDER 
        ]]>
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
    
</mapper>
