<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.prod.payFg.service.impl.ProdPayFgMapper">
    <!-- 상품별매출 - 상품매출현황 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL, TB_MS_TABLE, TB_MS_PRODUCT, TB_MS_PRODUCT_BARCD
        PARAM    : ProdPayFgVO
        COMMENTS : 상품별 매출 - 결제수단별 리스트를 조회한다.
    -->
    <select id="getProdPayFgList" parameterType="prodPayFgVO" resultType="DefaultMap">
        /* USE : ProdPayFgMapper.getProdRankList */
        	SELECT A.PROD_CLASS_NM
			      , A.PROD_CD
			      , A.PROD_NM 
			      , SUM(TOT_SALE_QTY) AS TOT_SALE_QTY
			      , SUM(TOT_SALE_AMT) AS TOT_SALE_AMT
			      , SUM(TOT_DC_AMT) AS TOT_DC_AMT
			      , SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
			      , SUM(TOT_TIP_AMT) AS TOT_TIP_AMT
			      , SUM(TOT_ETC_AMT) AS TOT_ETC_AMT
				  ${sQuery1}
			FROM (
			        SELECT TMP.PROD_CLASS_CD
			              , TMPC.T_PROD_CLASS_CD
			              , TMPCD.PROD_CLASS_NM 
			              , TMP.PROD_CLASS_CD		    
			              , TMP.PROD_CD
			              , TMP.PROD_NM
			              , TSDPP.STORE_CD
			              , TSDPP.PAY_CD
			              , SUM(TSDP.TOT_SALE_QTY) AS TOT_SALE_QTY
			              , SUM(TSDP.TOT_SALE_AMT) AS TOT_SALE_AMT
			              , SUM(TSDP.TOT_DC_AMT) AS TOT_DC_AMT
			              , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
			              , SUM(TSDP.TOT_TIP_AMT) AS TOT_TIP_AMT
			              , SUM(TSDP.TOT_ETC_AMT) AS TOT_ETC_AMT
 							${sQuery2}
			        FROM TB_SL_DAILY_PROD_PAY TSDPP
			            , TB_SL_DAILY_PROD TSDP
			            , TB_MS_PRODUCT TMP
						, (SELECT DISTINCT PROD_CLASS_CD
					     			, CONNECT_BY_ROOT PROD_CLASS_CD AS T_PROD_CLASS_CD
					          FROM (SELECT PROD_CLASS_CD
					          				, P_PROD_CLASS_CD 
					          		FROM TB_MS_PRODUCT_CLASS 
					          		WHERE STORE_CD IN
			          						<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
			                       				#{item}
			                   				</foreach> 
					          )
					         START WITH P_PROD_CLASS_CD ='00000'
					         CONNECT BY PRIOR PROD_CLASS_CD = P_PROD_CLASS_CD
					       ) TMPC
			            , ( SELECT DISTINCT PROD_CLASS_CD
					     			, PROD_CLASS_NM 
					     		FROM TB_MS_PRODUCT_CLASS 
					     		WHERE STORE_CD IN
					     					<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
													#{item}
											</foreach>  
					     	) TMPCD
			        WHERE TSDPP.PROD_CD = TMP.PROD_CD
			        AND TSDPP.STORE_CD = TMP.STORE_CD
			        AND TSDPP.PROD_CD = TSDP.PROD_CD
			        AND TSDPP.STORE_CD = TSDP.STORE_CD
			        AND TSDPP.PROD_CD = TMP.PROD_CD
			        AND TMP.PROD_CLASS_CD = TMPC.PROD_CLASS_CD
			        AND TMPC.T_PROD_CLASS_CD = TMPCD.PROD_CLASS_CD
					<if test='storeCd != null and storeCd != ""'>
		   				AND TSDPP.STORE_CD IN
					     	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
									#{item}
							</foreach>  
					</if>
					<if test='startDate != null and startDate != ""'>
					   	AND TSDPP.SALE_DATE >= #{startDate}
					</if>
					<if test='endDate != null and endDate != ""'>
					   	AND TSDPP.SALE_DATE <![CDATA[<= ]]> #{endDate}
					</if>
					<if test='prodCd != null and prodCd != ""'>
			           	AND TMP.PROD_CD	= #{prodCd}
			        </if>
			    	<if test='prodNm != null and prodNm != ""'>
			           	AND TMP.PROD_NM	LIKE '%'||#{prodNm}||'%'
			        </if>					
			        GROUP BY TMP.PROD_CLASS_CD, TMPC.T_PROD_CLASS_CD, TMPCD.PROD_CLASS_NM , TMP.PROD_CLASS_CD, TMP.PROD_CD, TMP.PROD_NM, TSDPP.STORE_CD ,TSDPP.PAY_CD
			      ) A
			WHERE 1 = 1 
			GROUP BY A.PROD_CLASS_NM,A.PROD_CD,PROD_NM
			ORDER BY A.PROD_CD    
    </select>
	
    <!-- 상품별매출 - 결제수단 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : ProdPayFgVO
        COMMENTS : 일자별 - 결제수단 컬럼 리스트를 조회한다.
    -->
    <select id="getPayColList" parameterType="prodPayFgVO" resultType="DefaultMap">
        /* USE : ProdPayFgMapper.getPayColList */
        <![CDATA[
        SELECT  TCN.NMCODE_CD AS PAY_CD, TCN.NMCODE_NM AS PAY_NM, TCN.NMCODE_ITEM_1 AS PAY_METHOD
        FROM    TB_CM_NMCODE TCN
        WHERE   TCN.NMCODE_GRP_CD   =   '024'
        ORDER
        BY      TCN.NMCODE_CD
        ]]>
    </select>
    
</mapper>
