 @charset "utf-8";
/* Copyrightⓒ KCP Co.,Ltd. All Rights Reserved.
File: component
*/

/*
  - Button
  - Slectbox and Input
  - Tables
  - Pagenation
  - Scroll_top
  - Tab
  - Pagenation
  - SMS
  - calinder
*/

/*ico*/
.ico{width:50px;padding:3px 5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:12px;font-weight:700}
.ico i{margin:0 4px 1px 0}
.ico i.ft_big{ font-size: 11pt}
.ico i.ft_sm{ font-size: 8pt}


.ico2{ width:42px; padding:2px; margin-left:4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:12px;font-weight:700;text-align:center;letter-spacing:-1.5px}

.ico2.on{color:#fff}
.ico2.off{color:#808080}


/* Button */
.btn_list {position:relative;margin:0 30px}
.btn{margin-left:6px;border-radius:2px}
.btn:lang(en) {font-weight:100}
.btn02{margin-left:3px;border-radius:4px}/*160304 추가*/
.btn02:lang(en) {font-weight:100}/*160304 추가*/
.btn_default {background-color:#fff!impotrnat;border:1px solid #5d6573!important;color:#5d6573!important}
.btn_xxs {font-size:11px;color:#fff;font-weight:bold;padding:2px 10px}
.btn_xxs02 {font-size:14px;color:#fff;font-weight:bold;padding:0px 6px 3px 6px}
.btn_xxs03 {font-size:12px;color:#fff;padding:0px 12px 1px 12px}/*160304 추가*/
.btn_xxs_sqr{font-size:15px;font-weight:bold;padding:0px 10px 4px 10px}/*160304 추가*/
.btn_xxs_w {font-size:11px;font-weight:bold;padding:2px 10px}
.btn_xxs_w150 { width: 150px; font-size:11px;font-weight:bold;padding:2px 5px}
.btn_xs {font-size:12px;color:#fff;font-weight:bold;padding:6px 15px}
.btn_xs02 {font-size:12px;color:#fff;font-weight:bold;padding:4px 15px}
.btn_md {font-size:14px;color:#fff;font-weight:bold;padding:8px 15px 7px}
.btn_lg {font-size:16px;color:#fff;font-weight:bold;padding:12px 15px}
.btn_xlg {font-size:16px;color:#fff;font-weight:bold;padding:12px 35px}
.btn_xl_sqr{font-size:12px;color:#fff;font-weight:bold;padding:24px 18px}/*160304 추가*/
.btn_xl_sqr02{font-size:14px;color:#fff;font-weight:bold;padding:14px 30px}/*160304 추가*/
.btn_icon {vertical-align:middle;padding-right:8px}

.btn_primary {background-color:#836cc6!important}
.btn_primary:hover {background-color:#705eaa!important}
.btn_primary_w {color:#836cc6; border: 1px solid #836cc6; background-color:#fff;!important}
.btn_primary_w:hover {color:#705eaa; border: 1px solid #705eaa; background-color:#fff!important}
.btn_primary_w02 {color:#836cc6; border: 2px solid #836cc6; background-color:#fff;!important} /*160229 추가*/
.btn_primary_w02:hover {color:#705eaa; border: 2px solid #705eaa; background-color:#fff!important}/*160229 추가*/
.btn_accent {background-color:#28b0a6!important}
.btn_accent:hover {background-color:#21a399!important}
.btn_accent_w {color:#28b0a6; border: 1px solid #28b0a6; background-color:#fff!important}
.btn_accent_w:hover {color:#21a399; border: 1px solid #21a399; background-color:#fff!important}
.btn_dark {background-color:#737881!important}
.btn_dark:hover {background-color:#62666f!important}
.btn_point {background-color:#ff8888!important}
.btn_point:hover {background-color:#f28181!important}
.btn_point_w {color:#ff8888; border: 1px solid #ff8888; background-color:#fff!important}
.btn_point_w:hover {color:#f28181; border: 1px solid #f28181; background-color:#fff!important}
.btn_gray_w {color:#454545; border: 1px solid #8e8e8e; background-color:#e6e6e6!important}
.btn_gray_w:hover {color:#a6a6a6; border: 1px solid #a6a6a6; background-color:#ededed!important}
.btn_pop_close01{position:absolute;top:13px;right:28px;width:28px;height:28px;font-size:14px;color:#808080;background:#fff;padding-bottom:4px}
.btn_pop_close01:hover{color:#454545;}
.btn_search{width:28px;height:28px;font-size:14px;color:#808080;background:#fff;padding-bottom:4px}
.btn_search:hover{color:#454545} 
.btn_white{background:#fff;border: 1px solid #ccc}/*160304 추가*/
.btn_white:hover{background:#f0f0f0;border: 1px solid #ccc}/*160304 추가*/


/* Slectbox and Input */
.label {padding-top:14px;color:#666666;float:left}
.label02 {display: block; padding-top:3px;color:#666666;float:left}

.select,.input{width:100%;height:36px;margin:5px;border:1px solid #ccc;border-radius:2px;padding-left:10px;color:#595959;background:#fff}
.select:focus,.input:focus {border:1px solid #28b0a6;background:#fff }
.select02,.input02{border:1px solid #ccc;border-radius:2px;padding-left:10px;color:#595959;background:#fff}
.select02:focus,.input02:focus {border:1px solid #28b0a6;background:#fff}
.select_xs {height:30px!important}
.input_calendar {position:relative}
.input_calendar_sm {width:100px;position:relative}
.input_timer_sm {width:84px;position:relative}
.ui_date_picker {position:absolute;top:6px;right:-4px;width:38px;height:34px;font-size:18px;color:#707070;background:#fff;padding-bottom:4px}
.ui_date_picker_sm {position:absolute;top:6px;left:72px;width:22px;height:22px;font-size:14px;color:#707070;background:#fff;padding-bottom:4px}

.ui_date_picker_m{position:absolute;top:7px;right:4px;width:22px;height:22px;font-size:14px;color:#707070;background:#fff;padding-bottom:4px}

.checkbox,.radio {width:15px;height:15px;margin-right:5px}
.select_checkbox {margin-top:8px}
.select_checkbox>li {float:left;margin-right:15px;color:#585858}
.select_checkbox02 {}
.select_checkbox02>li {float:left;margin-right:15px;color:#585858}

.ui_period {margin-top:4px}
.ui_period>li {float:left;padding-right:5px }
.ui_period>li>button{height:36px;padding:0 10px;color:#666;font-weight:bold;;border-radius:2px;background:#dcdcdc}
.ui_period>li>button:hover,.ui_period>li>button:focus {background:#737373;color:#fff}

.textarea{width:100%; padding: 8px; border:1px solid #ccc;border-radius:2px;padding-left:10px;color:#595959;background:#fff}
.textarea:focus {border:1px solid #28b0a6;background:#fff}

.input_group{width:100%;height:36px;margin:5px;}

/*list*/
.list li{display:inline-block; margin-bottom:4px}
/*
.list_CreditCd_cancel{padding:14px 24px}
.list_CreditCd_cancel>ul>li{display:inline-block;letter-spacing:-0.5px;padding-left:24px}
.list_CreditCd_cancel>ul>li:first-child{padding-left:0}
.list_CreditCd_cancel>ul>li>label{margin-right:8px}*/


/* Tables */
.table_wrap {overflow-x:auto;padding-bottom:30px}
.table_wrap02 {padding-bottom:30px}
.table_wrap01 {padding-bottom:14px}
.table_wrap_none {padding-bottom:0}

.table_tit {text-align:left;font-size:14px;font-weight:bold;color:#474747!important;padding:10px 30px;background:#f9f9f9;border-bottom:1px solid #eee}


.table_search {width:100%}
.table_search th,.table_search td {padding:10px 10px 0 10px;line-height:1.2}
.table_search th {height:56px; color:#666;text-align:left; padding-left:32px}/*160229 높이값 설정*/

.table {width:100%}
.table th,.table td {padding:10px;line-height:1.2;text-align:center}
.table th {color:#666}
.table.table .row_first th,.table.table .row_first td {border-top:0}
.table.table .row_last th,.table.table .row_last td {border-bottom:0}
.table.table .col_first{border-left:0}
.table.table .col_last{border-right:0}
.table .td_first td {border-top:1px solid #d2d2d2!important}
.table.table_1 th,.table.table_1 td {border:1px solid #eee}

.table01 {width:100%}
.table01 th,.table01 td {height:46px;padding:6px;line-height:1.2}
.table01 th {background:#f7f8f8;color:#666}
.table01 td {padding-left:12px}
.table01 th {color:#666}
.table01.table01 .row_first th,.table01.table01 .row_first td {border-top:0}
.table01.table01 .row_last th,.table01.table01 .row_last td {border-bottom:0}
.table01.table01 .col_first{border-left:0}
.table01.table01 .col_last{border-right:0}
.table01.table_1 th,.table01.table_1 td {border:1px solid #eee}
.table01 .td_first td,.table01 .td_first th{border-top:1px solid #d2d2d2!important}
.table01 .td_last td,.table01 .td_last th{border-bottom:1px solid #d2d2d2!important}

.table02 {width:100%}
.table02 th,.table02 td {height:46px;padding:5px 12px;line-height:1.2}
.table02 th {background:#f7f8f8;color:#666}
.table02 td.etc{font-weight:bold;text-align:center;background:#f7f8f8;color:#666}
.table02.table02 .row_first th,.table02.table02 .row_first td {border-top:0}
.table02.table02 .row_last th,.table02.table02 .row_last td {border-bottom:0}
.table02.table02 .col_first{border-left:0}
.table02.table02 .col_last{border-right:0}
.table02 .td_first td, .table02 .td_first th  {border-top:1px solid #d2d2d2!important}
.table02 .td_bottom td {border-bottom:1px solid #d2d2d2!important}
.table02.table_02 th,.table02.table_02 td {border:1px solid #eee}

/*테이블 가로형*/
.table03{width:100%}
.table03 th,.table03 td {height: 46px;line-height:1.2}
.table03 th {text-align:left;font-weight: normal;color:#666;background:#f7f8f8;padding:6px 10px 6px 22px;}
.table03 td{padding:6px 10px 6px 16px}
.table03.table03 .row_first th,.table03.table03 .row_first td {border-top:0}
.table03.table03 .row_last th,.table03.table03 .row_last td {border-bottom:0}
.table03.table03 .col_first{border-left:0}
.table03.table03 .col_last{border-right:0}
.table03.table_3 th,.table03.table_3 td {border:1px solid #eee}
.table03 .td_first td,.table03 .td_first th{border-top:1px solid #d2d2d2!important}
.table03 .td_last td,.table03 .td_last th{border-bottom:1px solid #d2d2d2!important}

/*테이블-리스트 - 160229 수정*/
.tbl_list{width:100%}
.tbl_list th,.tbl_list td{line-height:1.2;padding:12px 8px;text-align:center}
.tbl_list th{color:#666}
.tbl_list tr:nth-child(even){background-color:#f9f9f9}
.tbl_list.tbl_list .row_first th,.tbl_list.tbl_list .row_first td {border-top:0!important}/* 160229 !important 추가*/
.tbl_list.tbl_list .row_last th,.tbl_list.tbl_list .row_last td {border-bottom:0!important}/* 160229 !important 추가*/
.tbl_list.tbl_list .col_first{border-left:0!important}/* 160229 !important 추가*/
.tbl_list.tbl_list .col_last{border-right:0!important}/* 160229 !important 추가*/
.tbl_list .td_first td{border-top:1px solid #d2d2d2!important}
.tbl_list .td_last th, .tbl_list .td_last td {border-bottom:1px solid #d2d2d2!important}/* 160229 수정 : .tbl_list .td_last td 추가*/
.tbl_list.tbl_list_1 th,.tbl_list.tbl_list_1 td {border:1px solid #eee}

/*테이블-리스트: 다중 합계영역-160229 추가*/
.tbl_list01{overflow-x:auto}
.tbl_list01 table{width:110%}/* width를 100%할 경우 스크롤이 생기지 않음*/
.tbl_list01 th,.tbl_list01 td{line-height:1.2;padding:12px 8px;border-right:1px solid #eee;border-bottom:1px solid #eee}
.tbl_list01 th.col_last, .tbl_list01 td.col_last{border-right:0!important}
.tbl_list01 .row_last{border-bottom:1px solid #efecf5!important}
.tbl_list01 th{color:#666}
.tbl_list01 td{text-align:right}
.tbl_list01 .patition th, .tbl_list01 .patition td{border-bottom:1px solid #d2d2d2}
.tbl_list01 .bar_b{border-bottom:1px solid #eee!important}
.tbl_list01 .bar_b02{border-bottom:1px solid #d2d2d2!important}

/*다중 합계영역-160229 추가*/
.total_t td{border-bottom:1px solid #ddd9e8!important}
.total th{color:#544580!important}
.total td {color:#544580!important; font-weight: normal}
.td_bar_r td, .td_bar_r th {border-right:1px solid #ddd9e8!important}
.td_bar_rb td, .td_bar_rb th {border-right:1px solid #ddd9e8!important;border-bottom:1px solid #ddd9e8!important}

.inner_table {width:100%;}
.inner_table th,.inner_table td{font-weight:normal;text-align:left}

/* Pagination */
.pagination {width:421px;margin:25px auto 0;text-align:center;}
.pagination>ul {display:inline-block}
.pagination>ul>li {float:left;background: #fff}
.pagination>ul>li>a {width:35px;padding:5px 0;display:block;margin-left:-1px;border:1px solid #ccc;font-size:14px}
.pagination>ul>li>.prev {padding:8px 0;border-radius:2px 0 0 2px;font-size:10px}
.pagination>ul>li>.next {padding:8px 0;border:1px solid #ccc;border-radius:0 2px 2px 0;font-size:10px}
.pagination>ul>li>a.page_num:hover{color:#fff;background:#28b0a6;border:1px solid #1f9c93}.pagination>ul>li>.prev:hover,.pagination>ul>li>.next:hover {background: #f6f6f6;}
.pagination>ul>li>a.page_num.on {position:relative;color:#fff;background:#28b0a6;border:1px solid #1f9c93!important}


/* Scroll_top */
.scroll_top {position:fixed;right:30px;bottom:20px;display:none;z-index:1}
.scroll_top.on {display:block}
.scroll_top button{width:45px;height:45px;border-radius:2px;background:url(../img/bg_drop.png);color:#fff;font-size:18px}
.scroll_top:hover {background:url(../img/bg_drop_over2.png);border-radius:2px}

/* Tab */
.tab {margin:0 30px 20px 30px;height:40px;border-bottom:1px solid #b3b3b3}
.tab ul>li,.tab02 ul>li,.tab_pop ul>li {margin-right:5px;float:left}
.tab ul>li>a {height:40px;padding:10px 30px;display:block;color:#474747;font-weight:bold;border-radius:3px 3px 0 0;background:#e6e6e6;border:1px solid #b3b3b3}
.tab>ul>li>a:hover,.tab>ul>li>a.on {background:#ededed;border-bottom:1px solid #ededed!important}

.tab02 {margin:20px 0;height:40px;border-bottom:1px solid #b3b3b3}
.tab02 ul>li>a {height:40px;padding:10px 12px;display:block;color:#474747;font-weight:bold;border-radius:3px 3px 0 0;background:#e6e6e6;border:1px solid #b3b3b3}
.tab02>ul>li>a:hover,.tab02>ul>li>a.on {background:#ededed;border-bottom:1px solid #ededed!important}

/*SMS*/
.sms_wrap{width:100%; background:#fff;}
.sms_layout{width:100%; padding:28px 16px 12px; background:url(../img/img_sms.gif) no-repeat 86px 22px;-moz-border-radius:16px;-webkit-border-radius:16px;border-radius:16px;border: 1px solid #c7c7c7;-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3));box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3)}
.sms_txt_view{width: 100%; height: 120px; margin-top: 20px; padding: 12px; background:#ddf0ee;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}/* 160304 백그라운드 수정 / 수정 전 #b1e8e4*/
.sms_txt_view .txt_area{width: 100%; height: 100px; overflow: hidden; background:#ddf0ee; border: 1px solid #ddf0ee}/* 160304 백그라운드 수정 / 수정 전 #b1e8e4*/
.sms_byte{text-align: right; margin: 8px 0;}
.tel_num_wrap{width: 100%; height: 90px; margin-top:8px;padding:0 12px 6px 12px;background:#f5f5f5;border:1px solid #e5e5e5;  overflow-y: scroll;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.tel_num_wrap li{font-size: 12px; line-height: 2.5; border-bottom: 1px dotted #c7c7c7;}
.tel_num_wrap i{color:#666; margin: 0 5px 0px 0}
.tel_num_wrap input{ height: 22px;background:#f5f5f5; border: 1px solid #f5f5f5}
.sms_sand{ width: 100%; padding: 5px 0; font-weight: bold; margin-top: 10px}
.sms_sand input{ padding:6px 8px}

/*SMS_xl 140304 추가*/
.sms_wrap_xl{height: 470px; background:#fff}
.sms_layout_xl{width:100%; padding:28px 16px 22px; background:url(../img/img_sms.gif) no-repeat 50% 22px;-moz-border-radius:32px;-webkit-border-radius:32px;border-radius:32px;border: 1px solid #c7c7c7;-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3));box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3)}
.sms_layout_xl .view{width: 100%; height: 190px; margin-top: 20px; padding: 12px; background:#ddf0ee;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.sms_layout_xl .txt_area{width:100%; overflow:hidden; background:#ddf0ee; border:0}
.sms_layout_xl .tel_num{width: 100%; height:120px; margin-top:8px;padding:0 12px 6px 12px;background:#f5f5f5;border:1px solid #e5e5e5;overflow-y: scroll;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3p}
.sms_layout_xl .tel_num li{font-size: 12px; line-height: 2.5; border-bottom: 1px dotted #c7c7c7}
.sms_layout_xl .tel_num i{color:#666; margin: 0 5px 0px 0}
.sms_layout_xl .tel_num  input{ height: 22px;background:#f5f5f5; border: 1px solid #f5f5f5}
.sms_layout_xl .sms_sand{ width: 100%;  font-weight: bold; margin-top: 10px;}
.sms_layout_xl .sms_sand input{padding:6px 8px;}

/*calinder*/
.calender_wrap{position:absolute;top:170px;left:710px}
.calender{width:200px; height: 284px; background:#fff;border:1px solid #ddd}
.calender .tit{width:100%; height:32px;font-size: 12px;color:#666;font-weight:700;text-align: center; background:#ebebeb;padding: 8px 0}
.calender .tit i{color:#a3a3a3;font-size:18px;padding-bottom:3px}
.calender .tit i:hover{color:#757575}
.calender .today{height:26px;text-align:center;border-bottom: 1px solid #cccccc;padding-top:4px}
.calender .today i{font-size:16px;color:#dbdbdb;padding-bottom:4px}
.calender .date table{width: 98%; margin: 0 auto}
.calender .date th, .date td{width:28px;height:30px;font-size:11px}
.calender .date td{text-align:center}
.calender .date td.pick{background:#d9efeb; border:1px solid #28b0a6}
.calender .date td:hover{background:#d9efeb; border:1px solid #28b0a6}



