 @charset "utf-8";
/* Copyrightⓒ KCP Co.,Ltd. All Rights Reserved.
File: core
*/

/*
  - Font-Awesome Fonts
  - Reset
  - General
  - Helper Classes
  - Column Classes
*/


/* Font-Awesome Fonts */
@import url(icon.min.css);


/* Reset */
* {outline: none !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button,label {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,caption {font-size:12px;line-height:1.5;font-family:Tahoma,돋움,Geneva,sans-serif;color:#808080}
a,a:active, a:hover {color:#595959;text-decoration:none;cursor:pointer}
a:active {background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
.fa,label {vertical-align:middle}
table {border-spacing:0;border-collapse:collapse; word-break:keep-all}/*160331 word-break: break-all 추가*/
textarea{resize:none;wrap:hard}
img{border:0;vertical-align:bottom}
table, th, td, div, p, ul, li {word-wrap: break-word}/*160304 word-break: break-all 삭제*/


/* General */
body {background:#ededed}
#wrapper {height:100%;width:100%}
h1,h2,h3,h4,h5,h6 {color:#474747;font-size:20px}
.hidden {position:absolute;left:-9999px}
.clear:after {clear:both;content:"";display:block}
.inner {padding:15px 10px}
.bar {display:inline-block;width:1px;height:9px;margin:0 15px;background:#9f9f9f}
.hyphen {display:inline-block;width:5px;height:1px;position:absolute;background:#9f9f9f;margin:20px 0 0 -0.20%  }
.hyphen02 {display:inline-block;width:20px;height:1px; position:absolute;background:#9f9f9f;margin:20px 0 0 -0.20%  }
.pop_hyphen {display:inline-block;width:5px;height:1px;position:absolute;background:#9f9f9f;margin:18px 0 0 -0.60%  }
.pop_hyphen02 {display:inline-block;width:5px;height:1px;position:absolute;background:#9f9f9f;margin:18px 0 0 -0.20%  }
.slash {display:inline-block;width:20px;height:30px;position:absolute;margin:15px 0 0 -0.20%  }


/* Helper classes */
.p_0{padding:0!important}
.p_t_0{padding-top:0!important}
.p_t_2{padding-top:2px!important}
.p_t_5{padding-top:5px!important}
.p_t_8{padding-top:8px!important}
.p_t_10{padding-top:10px!important}
.p_t_12{padding-top:12px!important}
.p_t_15{padding-top:15px!important}
.p_t_20{padding-top:20px!important}
.p_t_30{padding-top:30px!important}
.p_b_2{padding-bottom:2px!important}
.p_b_5{padding-bottom:5px!important}
.p_b_10{padding-bottom:10px!important}
.p_b_20{padding-bottom:20px!important}
.p_r_5{padding-right:5px!important}
.p_r_10{padding-right:10px!important}
.p_r_15{padding-right:15px!important}
.p_r_20{padding-right:20px!important}
.p_r_35{padding-right:35px!important}/*160512 추가*/
.p_l_0{padding-left:0!important}/*160516 추가*/ 
.p_l_5{padding-left:5px!important}
.p_l_10{padding-left:10px!important}
.p_l_15{padding-left:15px!important}
.p_l_40{padding-left:40px!important}/*160229 추가*/
.p_l_50{padding-left:50px!important}
.p_all_6{padding:6px!important}
.p_all_8{padding:8px!important}
.p_all_25{padding:25px!important}
/* Helper classes */ 
.p_all_4x3{padding: 4px 3px!important}/*160603 추가*/ 
.p_tb_4{padding:4px 0!important}
.p_tb_20{padding:20px 0!important}
.p_side_5{padding:0 5px!important}

.m_0{margin:0!important}
.m_t_0{margin-top:0!important}
.m_t_5{margin-top:5px!important}
.m_t_3{margin-top:3px!important}/*160516 추가*/ 
.m_t_10{margin-top:10px!important}
.m_t_15{margin-top:15px!important}
.m_t_20{margin-top:20px!important}
.m_t_25{margin-top:25px!important}
.m_t_30{margin-top:30px!important}
.m_t_40{margin-top:40px!important}
.m_b_0{margin-bottom:0!important}
.m_b_2{margin-bottom:2px!important}
.m_b_5{margin-bottom:5px!important}
.m_b_10{margin-bottom:10px!important}
.m_b_15{margin-bottom:15px!important}
.m_b_20{margin-bottom:20px!important}/*160304 추가*/
.m_b_30{margin-bottom:30px!important}
.m_r_0{margin-right:0!important}
.m_r_05p{margin-right:0.5%!important}
.m_r_025p{margin-right:0.25%!important}
.m_r_5{margin-right:5px!important}
.m_r_8{margin-right:8px!important}
.m_r_10{margin-right:10px!important}
.m_r_15{margin-right:15px!important}
.m_r_20{margin-right:20px!important}
.m_r_30{margin-right:30px!important}
.m_l_0{margin-left:0px!important}
.m_l_5{margin-left:5px!important}
.m_l_10{margin-left:10px!important}
.m_l_15{margin-left:15px!important}
.m_c{margin: 0 auto!important}

.m_eml_2 {margin-left:0.167em} 
.m_emr_2 {margin-right:0.167em}
.m_pl_3 {margin-left:3%} 
.m_pr_3 {margin-right:3%}

/*width*/
.w_xs {min-width:80px!important}
.w_sm {min-width:100px!important}
.w_md {min-width:115px!important}
.w_lg {min-width:140px!important}
.w_xl {min-width:160px!important}
.sel_md {width:160px!important}

.w_80p{width:80px!important}
.w_11_8{width:11.8%!important}
.w_14{width:14%!important}
.w_15_6{width:15.6%!important}/*160610 추가*/ 
.w_16_9{width:16.9%!important}
.w_20{width:20%!important}

.w_23{width:23%!important}
.w_24{width:24%!important}
.w_24_8{width:24.8%!important}
.w_27{width:27%!important}
.w_27_3{width:27.3%!important}

.w_28{width:28%!important}
.w_30{width:30%!important}
.w_31_4{width:31.4%!important}/*160516*/
.w_33{width:33%!important}
.w_34_6{width:34.6%!important}
.w_36{width:36%!important}

.w_37_2{width:37.2%!important}
.w_40{width:40%!important}
.w_42{width:42%!important}
.w_49_85{width:49.85%!important}
.w_52{width:52%!important}

.w_58{width:58%!important}
.w_60{width:60%!important}
.w_62{width:62%!important}/*160603 추가*/ 
.w_72{width:72%!important}
.w_74{width:74%!important}
.w_79{width:79%!important}

.w_80{width:80%!important}
.w_82{width:82%!important}
.w_90{width:89%!important}
.w_92{width:92%!important}
.w_96{width:96%!important}

.w_97{width:97%!important}
.w_98_5{width:98.5%!important}
.w_100{width:100%!important}
.w_1600p{width:1600px!important}

/*heite*/
.h_22{height:22px!important}
.h_26{height:26px!important}
.h_30{height:30px!important}
.h_36{height:36px!important}
.h_46{height:46px!important}
.h_56{height:56px!important}
.h_140{height:140px!important}
.h_200{height:200px!important}
.h_400{height:400px!important}

/*font*/
.f_bold {font-weight:bold}
.f_bold_none{font-weight:normal}/*160229 추가*/
.f_deco_underline{text-decoration:underline}
.f_lighter {font-weight:lighter}
.ft_xs{font-size:9px;letter-spacing:-1.5px}
.ft_md{font-size:11px}
.ft_xl{font-size:16px}/*160229 추가*/
.ft_ltspc-1{letter-spacing:-0.1em}
.ft_pp{color:#937ddb!important}
.ft_gr{color:#28b0a6!important}
.ft_gr02{color:#51c5bc!important}
.ft_org{color:#ff8888!important}
.ft_gy{color:#b0b0b0!important}
.ft_dark_gy{color:#555!important}


/*border*/
.bd_outline{border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7}
.bd_innerline{border-bottom:1px solid #eeeeee}
.bd_partition{border-bottom:1px solid #c7c7c7}
.bd_partition02{border-bottom:1px solid #d2d2d2}

/*BG*/
.bg_point{background:#f9f9f9!important}
.bg_gy{background:#f7f8f8!important}
.bg_gy3{background:#f1f6f6!important}
.bg_white {background:#fff!important}
.bg_org{background:#ff8888!important; border: 1px solid #f28181!important}
.bg_sbl{background:#73baf6!important; border: 1px solid #5facec!important}
.bg_gy2{background:#808080!important; border: 1px solid #808080!important}
.bg_gy_w{background: #fff!important; border: 1px solid #808080!important}
.bg_green{background:#28b0a6!important; border: 1px solid #21a399!important}
.bg_green2{background:#f2faf9!important}
.bg_total{background:#efecf5!important}/*160229 추가*/
.bg_escr{background:#fff6f6!important}/*160229 : 결제관리 - 에스크로 추가*/
.bg_escr:hover{background:#fff1f1!important}
.bg_defer{background:#f3f7fb!important}/*160229 : 정산관리 - 정산보류 추가*/
.bg_defer:hover{background:#edf2f8!important}

.bg_defer_01{background:#f3f7fb!important}/*160310 : 정산관리 - 정산보류 추가*/

/*txt_option*/
.txt_aln_l{text-align:left!important}
.txt_aln_r{text-align:right!important}
.txt_aln_c{text-align:center!important}

.left {float:left}
.right {float:right}

/* Column Classes */
.col_1,.col_2,.col_3,.col_4,.col_5,.col_6,.col_7,.col_8,.col_9,.col_10,.col_12,.col_13,.col_14,.col_15,.col_16,.col_17,.col_18{padding:0 10px}

.col {margin:1% 0 1%}
.col_1 {width:100%}
.col_2 {width:89.9%}
.col_3 {width:79.8%}
.col_4 {width:79.8%}
.col_5 {width:59.6%}
.col_6 {width:49.5%}
.col_7 {width:39.4%}
.col_8 {width:29.3%}
.col_9 {width:19.2%}
.col_10 {width:9.1%}
.col_11 {width:31.33%}
.col_12 {width:90.1222%}
.col_13 {width:49%}
.col_14 {width:70%}
.col_15 {width:50%}
.col_16 {width:30%}
.col_17 {width:25%}
.col_18 {width:15%}
.col_19 {width:84%}
.col_20 {width:90.1222%}
.col_21 {width:64.66%}

/* Icon */
.i_menu_pullbar {font-size:21px;color:#43454f}
.i_list_alt,.i_cog,.i_desktop,.i_list{width:64px;text-align:center}
.i_list_alt,.i_desktop,.i_list {font-size:20px}
.i_list_alt {font-size:21px}
.i_cog {font-size:23px}
.i_plus,.i_minus {padding-left:8px;font-size:10px} 
.i_menuplus{padding-left:8px;font-size:10px}

.i_dft_set {width:64px;text-align:center;font-size: 18px}
.i_size_sm{font-size: 16px!!important}
.i_size_m{font-size: 20px!important}
.i_size_xxl{font-size: 28px!important}


/*link type*/
.link,.link:hover,.link:active{text-decoration:underline;color:blue}
.link02{}
.link02:hover,.link02:active{text-decoration:underline;color:blue}

