 @charset "utf-8";
/* Copyrightⓒ KCP Co.,Ltd. All Rights Reserved.
File: Topbar,Left-sidebar
*/

/* Top bar */
.topbar {position:fixed;right:0;top:0;z-index:1;width:100%;height:68px;background:#fff;border-bottom:1px solid #d4d4d4}
.topbar:after {clear:both;display:block;content:""}
.topbar_shadow {width:100%;height:3px;position:absolute;top:60px;background:url(../img/bg_top_shadow.png) repeat-x}

.menu_pullbar {width:64px;height:68px;border-right:1px solid #dfdfdf;position:absolute;z-index:1;}
.menu_pullbar li{white-space; nowrap}
.menu_pullbar>button{width:100%;height:100%}

.topbar_logo {background:#39424e;width:226px;height:68px;border-bottom:1px solid #2e3032}
.topbar_logo.minimal {width:68px}
.topbar_logo .logo{width:226px;height:68px;background:url(../img/logo.png) no-repeat}
.topbar_logo.minimal .logo {width:68px;height:68px;background:url(../img/logo_s.png) no-repeat}
.topbar_logo .logo>a {width:226px;heihgt:68px;display:block;color:#989898;font-weight:lighter;font-size:13px;text-align:center;padding-top:44px}
.topbar_logo.minimal .logo>a {width:64px!important;heihgt:68px!important;display:block;color:#39424e;overflow:hidden}

.topbar_menu {position:absolute;top:0;left:226px;min-width:1024px}
.topbar_menu.minimal {left:68px}
.menu {position:relative;left:30px;margin:30px 0 0 64px}
.menu>li {float:left;margin-right:40px}
.menu>li>a {font-size:14px;font-weight:bold;color:#444}
.menu>li>a:hover,.menu>li>a:focus,.menu>li>a.on {color:#16b6ac;}

.topbar_right {position:absolute;top:0;right:30px;text-align:right;margin-top:10px;color:#666;font-size:13px}
.topbar_right>ul>li {margin-left:15px}
.topbar_right .top_icon {margin-right:5px;color:#333}
.topbar_right>ul>li,.topbar_right>ul>li>a {float:left;font-size:11px;color:#111}
.topbar_right>ul>li>a:hover,.topbar_right>ul>li>a:focus,.topbar_right>ul>li>a:hover>.top_icon,.topbar_right>ul>li>a:focus>.top_icon {color:#28b0a6}

/* Side menu */
.side_menu {position:fixed;top:68px;width:226px;height:100%;background:#39424e;z-index:11}
.side_menu.minimal {width:68px}/*160203 추가*/
.side_menu.minimal>ul>li>a>span,.side_menu.minimal .i_menuplus{display:none}/*160203 추가*/
.side_menu.close {width:64px}
.side_menu.close>ul>li>a>span,.side_menu.close .i_menuplus{display:none}/*160203 추가*/

.side_menu>ul>li>a {padding:18px 0;font-size:14px;font-weight:bold;color:#fff;display:block}
.side_menu>ul>li>a>span {display:inline-block;width:128px;vertical-align:middle}
.side_menu>ul>li>a:hover,.side_menu>ul>li>a:focus,.side_menu>ul>li>a.on {background:#28b0a6}

.menu_depth_2 {background:#30353e;padding-top:16px}
.menu_depth_2>li>a {padding:0 0 17px 64px;width:190px;font-size:12px;color:#828a9c;display:block}
.menu_depth_2>li>a:hover,.depth_2>li>a:focus,.menu_depth_2>li>a.on {font-weight:bold;color:#fff}

.menu_depth_3 {background:#272a33;padding:12px 0 5px;margin-bottom:12px}
.menu_depth_3.last {margin-bottom:0}
.menu_depth_3>li>a {color:#6d707b;display:block;padding:0 0 8px 64px;width:190px}
.menu_depth_3>li>a:hover,.menu_depth_3>li>a:focus,.menu_depth_3>li>a.on {color:#28b0a6}
.menu_depth_3>li>a:hover:before,.menu_depth_3>li>a:focus:before,.menu_depth_3>li>a.on:before{content:"\f0da";padding-right:6px;font-family:FontAwesome;font-size:12px;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
