 @charset "utf-8";
/* Copyrightⓒ KCP Co.,Ltd. All Rights Reserved.
File: page
*/

/* Setting & Title */
.content_page {position:relative;left:0;top:0;margin-left:226px}
.content_page.minimal {margin-left:68px}
.content_page>.content {min-width:1024px;padding:68px 0 80px}
.location {margin:18px 30px 25px 30px}
.location>.angle:before {display:inline-block;margin:0 10px 0 15px;content:"\f105";padding-right:6px;font-family:FontAwesome;font-size:12px;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.location>.angle.last {color:#474747}
.page_title {margin:-6px 30px 15px}

.content_row {margin:0 30px}
.content_tit>h3 {font-size:12px;color:#666;margin-bottom:10px}

.content_box{height:auto;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #c7c7c7}
.content_box:after {clear:both;content:"";display:block}
.content_box>.wrap {padding:22px 10px}
.content_box>.wrap:after {clear:both;content:"";display:block}

.content_box>.wrap02 {padding:14px 10px 20px}
.content_box>.wrap02:after {clear:both;content:"";display:block}

.box_tit {position:relative;background:#f9f9f9;padding:0 50px 0 30px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.box_tit>h3 {padding:10px 0;font-size:14px;color:#545454;display:inline-block;}
.box_tit>h3>a {position:absolute;right:30px;padding-top:1px;font-size:20px;line-height:0;color:#808080}
.box_tit>h3>a:hover {color:#454545}

.search-area {width:100%;height:36px;margin:30px auto 40px;text-align:center}
.info_count {padding-top:12px}
.info_count em {padding-left:10px;color:#16b6ac;font-weight:bold}


/* ie8용 박스 테두리*/
@media \0screen {
.content_box,.login_box {border:1px solid #e5e5e5}
}

/*다중정보view*/
.multi_page_title {margin:-6px 30px 10px 30px}/*160311 수정 :  수정전 margin:-6px 30px 10px 15px*/
.multi_wrap{width:100%;margin-bottom:30px}/*160201 수정(window--->width)*/
.multi_wrap:after {clear:both;content:"";display:block}
.multi_cont{margin: 0 24px}/*160311 수정 :  수정전 margin: 0 12px*/
.wrap_left{height:860px;width:60%;padding:0 8px 20px 4px;overflow:auto;border-right:1px solid #d7d7d7;float:left}
.wrap_left.close{width:99%;height:100%;overflow:hidden}
.wrap_right{height:860px;width:40%;padding:0 2px 15px 0;float:right}
.wrap_right.close{width:0.5%; overflow:hidden}

.full_veiw{width:160px;float: right;position:absolute;top:130px;right:42%}
.full_veiw:after {clear:both;content:"";display:block}
.full_veiw.section_veiw{right:34px}


/*거래건수 영역*/
.deal_box{height:86px;padding:12px 18px 10px;background-color:#fff;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border: 1px solid #c7c7c7}
.count_num{font-size: 32px;letter-spacing:-1px}


/* Page_info */
.page_info {margin:0 30px 20px 30px;padding:15px 30px;background:#e1e1e1;color:#666;line-height:20px}

/* Footer */
.footer {position:relative;bottom:0;width:100%;height:35px;padding-left:30px;clear: both}
.footer {color:#737373}
.footer>a {color:#28b0a6}


/* Login */
body.login {background:#39424e}
.login_wrap {width:100%;position:absolute;top:20%}
.login_box {width:440px;height:380px;background:#fff;margin:0 auto;-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,1);-moz-box-shadow:0 3px 5px 0 rgba(0,0,0,1));box-shadow:0 3px 5px 0 rgba(0,0,0,1);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.login_tit{width:100%;height:90px;background:#efefef;border-bottom:1px solid #e2d2d2;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0}
.login_logo {width:100%;height:100%;margin:0 auto;padding:33px 0 0 250px;font-size:15pt;color:gray;background:url(../img/logo-login.gif) no-repeat 60px 18px}
.login_cont {padding:42px}
.login_input {width:100%;border:1px solid #c7c7c7;color:#454545;height:36px;padding:0 8px;font-size:10pt;border:1px solid #ccc;border-radius:2px}
.login_input:focus {border:1px solid #28b0a6}
.login_box .checkbox {width:100%}
.checkbox>input {margin-right:5px;width:18px;height:18px}
.checkbox>label {color:#666;font-size:11pt}
.copylight {text-align:center;color:#9eabbb;margin-top:35px}
.login-bt {width:100%;height:50px;color:#fff;font-weight:700;font-size:12pt}
.login-bt.btn-gr {background-color:#28b0a6!important}
.login-bt.btn-gr:hover {background-color:#26a79e!important}


/*Error*/
.Error_wrap{width:100%;margin:120px 0 0;padding:90px 0 110px; border-bottom: 1px solid #d2d2d2;border-top: 1px solid #d2d2d2;background:#fff;color: #333;}
.Error_inner{min-width:1024px;margin:0 auto;}
.Error_inner .Error_ico{width: 100%; height:140px;background:url(../img/ico_02.gif) no-repeat 50%}
.Error_inner .Error_txt_01{width:100%;padding:30px 25px;text-align: center;font-size:14pt;line-height: 32px}
.Error_inner .Error_txt_01 li:first-child{font-size:22pt;letter-spacing:-1px;padding-bottom:18px}
.Error_inner .btn_area{width: 100%; text-align: center}