 @charset "utf-8";
/* Copyrightⓒ KCP Co.,Ltd. All Rights Reserved.
File: page
*/

/* Popup : password-reset*/
.pw_table_wrap {width:96%; overflow-x:visible; margin-bottom: 20px; margin-left: 3px;}
.pw_table_wrap table{width:100%;}
.pw_table_wrap th{background:#f8f8f8;color:#666;}
.pw_table_wrap th,.pw_table_wrap td{height:54px;line-height:1.2;text-align:left;padding:4px 0 4px 12px;}
.pw_table_wrap.bd_outline{border-top:1px solid #acacac; border-bottom:1px solid #acacac}
.pw_table_wrap .bd_innerline{border-bottom:1px solid #eeeeee}
.pw_table_wrap input{width:90%}
.pop_btn{text-align:center}
.pop_btn li{display: inline-block}

/* pop-up*/
.pop_wrap {height:auto;position:relative;top:0;left:0;background:#fff;padding: 16px 30px}
.pop_wrap.wd_pop_xl{width:780px}
.pop_wrap.wd_pop_b{width:700px}
.pop_wrap.wd_pop_md{width:560px}
.pop_wrap.wd_pop_xs{width:340px}

.pop_tit {height:36px;border-bottom:1px solid #12a59c;color:#666;font-size:16px;font-weight:700}
.pop_tit_s {height:26px;font-weight:700}
.pop_con_wrap{width:100%}
.pop_con_wrap02{width: 100%;}
.pop_con_info ul{}
.pop_con_info li{line-height:2}
.pop_con_info li i{color:#12a59c;}
.pop_con_info i{ margin:0 4px 2px 0}

/*세로형 테이블-nomal*/
.pop_tbl {width:99.6%; margin-bottom: 20px}
.pop_tbl table{width:100%;}
.pop_tbl th{background:#f8f8f8;color:#666;font-weight:normal}
.pop_tbl td{text-align:left;padding-left: 10px}
.pop_tbl th,.pop_tbl td{height:32px;line-height:1.2;border-bottom:1px solid #eeeeee}
.pop_tbl.pop_tbl .last_col{border-bottom:0}
.pop_tbl td input,.pop_tbl td select{margin: 5px 0}
.pop_tbl.pop_tbl .row_first th,.pop_tbl.pop_tbl .row_first td {border-top:0}
.pop_tbl.pop_tbl .row_last th,.pop_tbl.pop_tbl .row_last td {border-bottom:0}

/*가로형 big-table*/
.pop_tbl02 {width:99.8%; margin-bottom: 20px;}
.pop_tbl02 table{width:100%;}
.pop_tbl02 th{background:#f8f8f8; color:#666; font-weight: normal;padding:14px 4px}
.pop_tbl02 td{text-align: center; padding:12px 4px}
.pop_tbl02 th,.pop_tbl02 td{border-bottom:1px solid #eeeeee}
.pop_tbl02 th, .pop_tbl02 td{line-height:1.5}
.pop_tbl02 td input,.pop_tbl02 td select{margin: 5px 0}
.pop_tbl02.pop_tbl02 .row_first th,.pop_tbl02.pop_tbl02 .row_first td {border-top:0}
.pop_tbl02.pop_tbl02 .row_last th,.pop_tbl02.pop_tbl02 .row_last td {border-bottom:0}

/*가로형 테이블-nomal*/
.pop_tbl03 {width:99.8%; margin-bottom: 20px}
.pop_tbl03 table{width:100%;word-break:break-all} /*160603 word-break:break-all 추가*/ 
.pop_tbl03 th{background:#f8f8f8;color:#666;font-weight:normal}
.pop_tbl03 td{text-align:center}
.pop_tbl03 th,.pop_tbl03 td{height:32px;padding:4px 0;line-height:1.5;border-bottom:1px solid #eeeeee}
.pop_tbl03.pop_tbl03 .fitst_col{border-top:0}
.pop_tbl03.pop_tbl03 .last_col{border-bottom:0}
.pop_tbl03 .td_bottom td, .pop_tbl03 .td_bottom th {border-bottom:1px solid #d2d2d2!important}
.pop_tbl03 .td_top td,.pop_tbl03 .td_top th{border-top:1px solid #d2d2d2!important}
.pop_tbl03 i.blt_green{font-size: 14px;color:#69d7d0;margin-right:5px;margin-bottom:3px}
.pop_tbl03 th input,.pop_tbl03 td input,.pop_tbl03 td select{margin: 5px 0;}
.pop_tbl03.pop_tbl03 .row_first th,.pop_tbl03.pop_tbl03 .row_first td {border-top:0}
.pop_tbl03.pop_tbl03 .row_last th,.pop_tbl03.pop_tbl03 .row_last td {border-bottom:0}
.pop_tbl03 .td_bottom td {border-bottom:1px solid #d2d2d2!important}
.pop_tbl03 .td_top td {border-top:1px solid #d2d2d2!important}

/*가로형 테이블-aii_section*/
.pop_tbl04 {width:99.8%; margin-bottom: 20px;}
.pop_tbl04 table{width:100%; word-break:normal}
.pop_tbl04 th{background:#f8f8f8;color:#666;font-weight:normal}
.pop_tbl04 td{text-align:center;}
.pop_tbl04 th,.pop_tbl04 td{height:32px;padding:4px 0;line-height:1.5;border:1px solid #eeeeee}
.pop_tbl04.pop_tbl04 .first_col{border-left:0}
.pop_tbl04.pop_tbl04 .last_col{border-right:0}
.pop_tbl04.pop_tbl04 .bottom_col{border-bottom:0}
.pop_tbl04 .td_bottom td {border-bottom:1px solid #d2d2d2!important}
.pop_tbl04 .td_top td {border-top:1px solid #d2d2d2!important}
.pop_tbl04 i{font-size: 14px;color:#69d7d0;margin-right:5px;margin-bottom:3px}
.pop_tbl04.pop_tbl04 .row_first th,.pop_tbl04.pop_tbl04 .row_first td {border-top:0}
.pop_tbl04.pop_tbl04 .row_last th,.pop_tbl04.pop_tbl04 .row_last td {border-bottom:0}

/*세로형 테이블 : 작은칸*/
.pop_tbl05 {width:99.6%; margin-bottom: 20px}
.pop_tbl05 table{width:100%;}
.pop_tbl05 th{background:#f8f8f8;color:#666;font-weight:normal}
.pop_tbl05 td{text-align:left;padding-left: 10px}
.pop_tbl05 th,.pop_tbl05 td{ padding: 5px 8px 8px 10px; line-height:1.2;border-bottom:1px solid #eeeeee}
.pop_tbl05.pop_tbl05 .last_col{border-bottom:0}
.pop_tbl05 td input,.pop_tbl05 td select{margin: 5px 0}
.pop_tbl05 td .vtc_t{vertical-align:top}

/*세로형 테이블(신용카드 거래상세내역)-nomal 160503추가*/
.pop_tbl_card {width:99.6%; margin-bottom: 20px}
.pop_tbl_card table{width:100%;word-break:break-all}  

.pop_tbl_card th{background:#f8f8f8;color:#666;font-weight:normal}
.pop_tbl_card td{text-align:left;padding:3px 0 3px 10px;line-height:20px} 
.pop_tbl_card th,.pop_tbl_card td{height:32px;line-height:1.2;border-bottom:1px solid #eeeeee;}
.pop_tbl_card.pop_tbl_card .last_col{border-bottom:0}
.pop_tbl_card td input,.pop_tbl_card td select{margin: 5px 0}
.pop_tbl_card.pop_tbl_card .row_first th,.pop_tbl_card.pop_tbl_card .row_first td {border-top:0}
.pop_tbl_card.pop_tbl_card .row_last th,.pop_tbl_card.pop_tbl_card .row_last td {border-bottom:0} 

.pop-choice{width:100%}
.pop-choice li{display:inline-block}

/*등록메세지-160304 추가*/
.messege{}
.messege p{font-weight: bold}
.messege p .txt_r{display:inline-block;font-weight: normal;float: right}
.messege .txt_wrap{padding:8px 10px; background:#f8f8f8}
.messege .txt_wrap li{display: inline-block}
.messege .txt_wrap .write{width:380px; padding:6px 10px}

/*이메일 발송-160304 추가*/
.email{color:#585858}
.email .sand{background:#f8f8f8;padding:8px 0 10px}
.email .sand table{width:100%}
.email .txt_wrap{margin-top: 12px;padding:24px 30px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2}
.email .txt_wrap li{line-height: 24px}
.email .txt_wrap em{ font-weight: bold}

/*페이징*/
.pop_paging{width:340px;height:24px;margin:0 auto 30px;font-weight: bold; padding-left:18px}
.pop_paging>ul>li{float:left;margin-right: 4px}
.pop_paging>ul>li>a{display:block;width:22px;height:18px}
.pop_paging>ul>li>a>i{font-size:16px; padding-bottom:1px;font-weight:700}
.pop_paging>ul>li>a.prev:hover,.pop_paging>ul>li>a.next:hover{color:#333}
.pop_paging>ul>li>a:hover, .pop_paging>ul>li>a.on{position:relative; color:#28b0a6}

/*탭*/
.tab_pop {height:35px;border-bottom:1px solid #ccc}
.tab_pop ul>li>a {display:block;height:35px;padding:8px 25px;border-top:1px solid #c7c7c7;background:#fafafa;border-left:1px solid #c7c7c7;border-right:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7; color: #a1a1a1; font-weight:bold}
.tab_pop ul>li>a:hover,.tab_pop ul>li>a.on {border-top:1px solid #a1a1a1;border-left:1px solid #a1a1a1;border-right:1px solid #a1a1a1;border-bottom:1px solid #fff;background:#fff; color:#28b0a6}

/*Layer*/
.layer_wrap{position:absolute;z-index:500}
.layer_bg{background:#fff;border:1px solid #d2d2d2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.layer_bg .top{background:#bee7e4; border-bottom: 1px solid #9ed8d4}
.layer_logo{width: 100%; height:42px;background: url(../img/logo_02.png)no-repeat 8px 8px}
.layer_logo i{font-size:18px;color:#fff}
.layer_copy {padding:32px 40px 2px 40px}
.layer_copy li{font-size:14pt;font-weight:700;color:#666}