@import url('../../solbipos/css/cmm/KoPubDotum.css');
@font-face {
     font-family: 'NotoR';
     src: url('../../solbipos/css/cmm/fonts/NotoSansCJKkr-Regular.woff') format('woff');
}

.container {
  width: 1024px;
  height: 768px;
  margin: 0px auto;
  padding: 0px;
  /*border: 1px solid #bcbcbc;*/
  position: relative;
}
#grid {
  width: 274px;
  height: 640px;
  padding: 0px;
  margin-bottom: 0px;
  float: left;
  border: 1px solid #bcbcbc;
  position: absolute;
  top: 0px;
  left: 0px;
}
#content {
  width: 750px;
  height: 640px;
  padding: 1px;
  margin-bottom: 0px;
  float: left;
  border: 1px solid #bcbcbc;
  position: absolute;
  top: 0px;
  left: 274px;
}
#format {
  width: 250px;
  height: 640px;
  padding: 0px;
  margin-bottom: 0px;
  float: left;
  border: 1px solid #bcbcbc;
  position: absolute;
  top: 0px;
  left: 676px;
}

#content div {
    font-family:inherit;
    font-weight:inherit;
    font-size:inherit;
    color:inherit;
}

#geGroupContainer, #geProdContainer {
  overflow-x:scroll;
  overflow-y:hidden;
  position:absolute;
  cursor:default;
  background-color:#ffffff;
  outline:none;
  /*border: 1px solid #bcbcbc;*/
}
#geGroupContainer {
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#geProdContainer {
  left:0px;
  top:120px;
  width:400px;
  height:380px;
}
.hidden {
  position:absolute;
  background-color:#ffffff;
  outline:none;
  left:0px;
  top:482px;
  bottom:0px;
  width:400px;
  height:20px;
}

.geBtn {
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  color: #333;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  margin: 0 0 0 8px;
  min-width: 72px;
  outline: 0;
  padding: 0 8px;
  cursor: pointer;
}
.geBtn:hover, .geBtn:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  background-image: linear-gradient(#f8f8f8 0px,#f1f1f1 100%);
  color: #111;
}
.geBtn:disabled {
  opacity: .5;
}



