<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.anals.monthly.service.impl.SaleAnalsMonthlyMapper">

    <!-- 월력판매분석 - 월력판매분석 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_PROD
        PARAM    : saleAnalsMonthlyVO
        COMMENTS : 월력판매분석 - 월력판매분석 리스트를 조회한다.
    -->
	<select id="getStSaleAnalsMonthlyList" parameterType="saleAnalsMonthlyVO" resultType="DefaultMap">
		/* USE : SaleAnalsMonthlyMapper.getStSaleAnalsMonthlyList */
        <![CDATA[
        SELECT	SUN, MON, TUE, WED, THU, FRI, SAT
		FROM	(
					SELECT	A.DT ||'||'|| NVL(B.TOT_SALE_AMT,0)||'||'||NVL(C.HOLIDAYYN,'N') AS DT, A.DW, A.WEEK
					FROM	(
								SELECT	TRUNC(DT + LEVEL-1, 'D') AS WEEK
										, TO_CHAR(DT + LEVEL-1, 'D') AS DW
										, TO_CHAR(DT + LEVEL-1,'yyyymmdd') AS DT
								FROM    (

											SELECT  TO_DATE(#{reqYearMonth}, 'yyyymm') DT
											FROM    DUAL
										)
								CONNECT BY LEVEL < = TO_CHAR(LAST_DAY(DT), 'dd')
							) A
							LEFT OUTER JOIN (
								SELECT	SALE_DATE AS DT
										, SUM(TOT_SALE_AMT) AS TOT_SALE_AMT
								FROM	TB_SL_DAILY_PROD
								WHERE	1=1
								AND HQ_OFFICE_CD = #{hqOfficeCd}
		]]>
		<if test='hqBrandCd != null and hqBrandCd != ""'>
										AND HQ_BRAND_CD = #{hqBrandCd}
		</if>
		<if test='storeCd != null and storeCd != ""'>
										AND STORE_CD = #{storeCd}
		</if>
		<if test='reqYearMonth != null and reqYearMonth != ""'>
										AND SUBSTR(SALE_DATE,1,6) = #{reqYearMonth}
		</if>
		<![CDATA[
								GROUP BY SALE_DATE
							) B
							ON A.DT = B.DT
                            LEFT OUTER JOIN (
								SELECT	HOLIDAY_DT AS DT
                                        , 'Y' AS HOLIDAYYN
								FROM	TB_MS_HOLIDAY
								WHERE	1=1
		]]>
		<if test='storeCd != null and storeCd != ""'>
										AND STORE_CD = #{storeCd}
		</if>
		<if test='reqYearMonth != null and reqYearMonth != ""'>
										AND SUBSTR(HOLIDAY_DT,1,6) = #{reqYearMonth}
		</if>
		<![CDATA[
							) C
							ON A.DT = C.DT
				)
		PIVOT   (
					MAX(DT) FOR DW IN ('1' AS SUN, '2' AS MON, '3' AS TUE, '4' AS WED, '5' AS THU, '6' AS FRI, '7' AS SAT)
				)
		ORDER BY WEEK
		]]>
	</select>
    
    <!-- 월력판매분석 - 결제수단 상세 팝업 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL_PAY
        PARAM    : saleAnalsMonthlyVO
        COMMENTS : 월력판매분석 - 결제수단 상세 팝업 리스트를 조회한다.
    -->
    <select id="getSaleAnalsMonthlyPopupList" parameterType="saleAnalsMonthlyVO" resultType="DefaultMap">
		SELECT  TSSDP.SALE_DATE
		,       TSSDP.POS_NO
		,       TSSDP.BILL_NO
		,       TSSDP.PAY_CD
		,       (   SELECT  NMCODE_NM
		            FROM    TB_CM_NMCODE
		            WHERE   NMCODE_GRP_CD   =   '024'
		            AND     NMCODE_CD       =   TSSDP.PAY_CD
		        )   AS  PAY_CD_NM
		,       SUM(TSSDP.PAY_AMT)  AS PAY_AMT
		FROM    TB_SL_SALE_HDR TSSH
		,       TB_SL_SALE_DTL_PAY TSSDP
		WHERE   TSSH.HQ_OFFICE_CD = TSSDP.HQ_OFFICE_CD
		AND     TSSH.HQ_BRAND_CD = TSSDP.HQ_BRAND_CD
		AND     TSSH.STORE_CD = TSSDP.STORE_CD
		AND     TSSH.SALE_DATE = TSSDP.SALE_DATE
		AND     TSSH.POS_NO = TSSDP.POS_NO
		AND     TSSH.BILL_NO = TSSDP.BILL_NO
	    AND     TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
		<if test='storeCd != null and storeCd != ""'>
		    AND     TSSDP.STORE_CD  = #{storeCd}
		</if>
		<if test='saleDate != null and saleDate != ""'>
            AND     TSSDP.SALE_DATE = #{saleDate}
        </if>
		GROUP
		BY      TSSDP.SALE_DATE
		,       TSSDP.POS_NO
		,       TSSDP.BILL_NO
		,       TSSDP.PAY_CD
		ORDER BY TSSDP.POS_NO, TSSDP.BILL_NO,   TSSDP.PAY_CD
    </select>
</mapper>
