<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.table.month.service.impl.TableMonthMapper">
	<select id="getTableMonthList" parameterType="tableMonthVO" resultType="DefaultMap">
		<include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT SALE_YM SALE_YM
       		, NVL(SUM(REAL_SALE_AMT), 0) TOT_REAL_SALE_AMT
       		, NVL(SUM(SALE_CNT), 0) TOT_SALE_CNT
       		, NVL(SUM(GUEST_CNT_1), 0) TOT_GUEST_CNT
       		${sQuery1}
     	<include refid="CmmSQL.PagingTemplateCount"/>
		FROM TB_SL_MONTHLY_TABLE TSDT
		WHERE 1 = 1
			  <!-- AND HQ_OFFICE_CD = #{hqOfficeCd} -->
			  <if test='arrTableCd != null and arrTableCd.length >= 0'>
			  	AND STORE_CD||'||'||TBL_CD IN
			  	<foreach collection="arrTableCd" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			  </if>
			  <if test='startDate != null and startDate != ""'>
			  	AND TSDT.SALE_YM <![CDATA[>= ]]> #{startDate}
			  </if>
			  <if test='endDate != null and endDate != ""'>
			  	AND TSDT.SALE_YM <![CDATA[<= ]]> #{endDate}
			  </if>

			<!--   AND TBL_CD in (${sQuery2})
			  <![CDATA[
   			  AND TSDT.SALE_YM >= TO_CHAR(TO_DATE(#{startDate}, 'YYYYMMDD'),'YYYYMM')
   			  AND TSDT.SALE_YM <= TO_CHAR(TO_DATE(#{endDate}, 'YYYYMMDD'),'YYYYMM')
   			  ]]> -->
		GROUP
		BY 	  SALE_YM
		ORDER
		BY    SALE_YM DESC
		<include refid="CmmSQL.PagingTemplateBottom"/>
	</select>

	<select id="getStoreTableList" parameterType="tableMonthVO" resultType="DefaultMap">

        SELECT	TMP.STORE_CD||'||'||TMP.TBL_CD AS TABLE_CD
				, TMP.TBL_NM AS TABLE_NM
				, (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = TMP.STORE_CD) AS STORE_NM
		FROM    TB_MS_TABLE TMP
		WHERE	1=1
			<if test='arrStoreCd != null and arrStoreCd.length >= 0'>
               	AND TMP.STORE_CD IN
               	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                   	#{item}
               	</foreach>
           	</if>
           	<if test='arrTableCd != null and arrTableCd.length >= 0'>
               	AND TMP.STORE_CD||'||'||TMP.TBL_CD IN
               	<foreach collection="arrTableCd" item="item" open="(" close=")" separator=",">
                   	#{item}
               	</foreach>
           	</if>
        ORDER BY TMP.STORE_CD||'||'||TMP.TBL_CD

    </select>

</mapper>
