<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.prod.cls.service.impl.ProdClassMapper">
    <!-- 상품별매출 - 분류별 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL, TB_MS_TABLE, TB_MS_PRODUCT, TB_MS_PRODUCT_BARCD
        PARAM    : todayBillSaleDtlVO
        COMMENTS : 영수증별매출상세현황 - 영수증별매출상세 리스트를 조회한다.
    -->
    <select id="getProdClassList" parameterType="prodClassVO" resultType="DefaultMap">
        /* USE : ProdRankMapper.getProdRankList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
 		SELECT  A.LV1_CD
				,A.LV1_NM
                ,A.LV2_CD
                ,A.LV2_NM
                ,A.LV2_NM_FULL
                ,A.LV3_CD
                ,A.LV3_NM
                ,A.LV3_NM_FULL
                ,C.PROD_CD
                ,B.PROD_NM
                ,SUM(C.TOT_SALE_QTY)     AS TOT_SALE_QTY
                ,SUM(C.TOT_SALE_AMT)     AS TOT_SALE_AMT
                ,SUM(C.TOT_DC_AMT)       AS TOT_DC_AMT
                ,SUM(C.REAL_SALE_AMT)    AS REAL_SALE_AMT
        <include refid="CmmSQL.PagingTemplateCount"/>
		<choose>
         <when test='orgnFg != null and orgnFg == "H"'>    <!-- 본사 -->
             FROM    (
                         SELECT  A.P_PROD_CLASS_CD   AS LV1_CD,
                                 A.PROD_CLASS_CD     AS LV2_CD,
                                 A.PROD_CLASS_NM     AS LV2_NM,
                                 B.PROD_CLASS_CD     AS LV3_CD,
                                 B.PROD_CLASS_NM     AS LV3_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    A.P_PROD_CLASS_CD) FROM DUAL)    AS LV1_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    A.PROD_CLASS_CD  ) FROM DUAL)    AS LV2_NM_FULL,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    B.PROD_CLASS_CD  ) FROM DUAL)    AS LV3_NM_FULL
                         FROM    (
                                     SELECT  HQ_OFFICE_CD,
                                           P_PROD_CLASS_CD,
                                           PROD_CLASS_CD,
                                           PROD_CLASS_NM
                                     FROM    TB_HQ_PRODUCT_CLASS
                                     WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                     AND     P_PROD_CLASS_CD IN (
                                                                    SELECT  PROD_CLASS_CD
                                                                    FROM    TB_HQ_PRODUCT_CLASS
                                                                    WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                                    AND     P_PROD_CLASS_CD = '00000'
                                                                 )
                                 )                      A,
                                 TB_HQ_PRODUCT_CLASS    B
                         WHERE   B.P_PROD_CLASS_CD IN    (
                                                             SELECT  PROD_CLASS_CD
                                                             FROM    TB_HQ_PRODUCT_CLASS
                                                             WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                             AND     P_PROD_CLASS_CD IN (
                                                                                      SELECT  PROD_CLASS_CD
                                                                                            FROM    TB_HQ_PRODUCT_CLASS
                                                                                            WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                                                            AND     P_PROD_CLASS_CD = '00000'
                                                                                         )
                                                         )
                         AND     A.HQ_OFFICE_CD  = B.HQ_OFFICE_CD
                         AND     A.PROD_CLASS_CD = B.P_PROD_CLASS_CD
                     )                   A,
                     TB_HQ_PRODUCT       B,
                     TB_SL_DAILY_PROD    C
             WHERE   B.HQ_OFFICE_CD   = #{hqOfficeCd}
             AND     B.PROD_CLASS_CD = A.LV3_CD
             AND     B.PROD_CD       = C.PROD_CD
             AND     C.HQ_OFFICE_CD  = #{hqOfficeCd}
			<if test='storeCd != null and storeCd != ""'>
			   AND C.STORE_CD IN
				     	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
								#{item}
						</foreach>  
			</if>
			<if test='startDate != null and startDate != ""'>
			   AND C.SALE_DATE >= #{startDate}
			</if>
			<if test='endDate != null and endDate != ""'>
			   AND C.SALE_DATE <![CDATA[<= ]]> #{endDate}
			</if>
			<if test='prodClassCd != null and prodClassCd != ""'>
	           AND B.PROD_CLASS_CD	IN (
	                                          SELECT
	                                              PROD_CLASS_CD
	                                          FROM
	                                              TB_HQ_PRODUCT_CLASS
	                                          WHERE
	                                              HQ_OFFICE_CD = #{hqOfficeCd}
	                                          START WITH
	                                              PROD_CLASS_CD = #{prodClassCd}
	                                              AND HQ_OFFICE_CD = #{hqOfficeCd}
	                                          CONNECT BY
	                                              PRIOR PROD_CLASS_CD = P_PROD_CLASS_CD
	                                              AND HQ_OFFICE_CD = #{hqOfficeCd}
	                                        )
	        </if>
	        <if test='prodCd != null and prodCd != ""'>
	           AND C.PROD_CD	= #{prodCd}
	        </if>
	    	<if test='prodNm != null and prodNm != ""'>
	           AND B.PROD_NM	LIKE '%'||#{prodNm}||'%'
	        </if>
         </when>
         <when test='orgnFg != null and orgnFg == "S"'>    <!-- 가맹점 -->
             FROM    (
                         SELECT  A.P_PROD_CLASS_CD   AS LV1_CD,
                                 A.PROD_CLASS_CD     AS LV2_CD,
                                 A.PROD_CLASS_NM     AS LV2_NM,
                                 B.PROD_CLASS_CD     AS LV3_CD,
                                 B.PROD_CLASS_NM     AS LV3_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, A.P_PROD_CLASS_CD) FROM DUAL)    AS LV1_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, A.PROD_CLASS_CD  ) FROM DUAL)    AS LV2_NM_FULL,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, B.PROD_CLASS_CD  ) FROM DUAL)    AS LV3_NM_FULL
                         FROM    (
                                     SELECT  STORE_CD,
                                           P_PROD_CLASS_CD,
                                           PROD_CLASS_CD,
                                           PROD_CLASS_NM
                                     FROM    TB_MS_PRODUCT_CLASS
                                     WHERE   STORE_CD        = #{storeCd}
                                     AND     P_PROD_CLASS_CD IN (
                                                                    SELECT  PROD_CLASS_CD
                                                                    FROM    TB_MS_PRODUCT_CLASS
                                                                    WHERE   STORE_CD        = #{storeCd}
                                                                    AND     P_PROD_CLASS_CD = '00000'
                                                                 )
                                 )                      A,
                                 TB_MS_PRODUCT_CLASS    B
                         WHERE   B.P_PROD_CLASS_CD IN    (
                                                             SELECT  PROD_CLASS_CD
                                                             FROM    TB_MS_PRODUCT_CLASS
                                                             WHERE   STORE_CD        = #{storeCd}
                                                             AND     P_PROD_CLASS_CD IN (
                                                                                      SELECT  PROD_CLASS_CD
                                                                                            FROM    TB_MS_PRODUCT_CLASS
                                                                                            WHERE   STORE_CD        = #{storeCd}
                                                                                            AND     P_PROD_CLASS_CD = '00000'
                                                                                         )
                                                         )
                         AND     A.STORE_CD      = B.STORE_CD
                         AND     A.PROD_CLASS_CD = B.P_PROD_CLASS_CD
                     )                   A,
                     TB_MS_PRODUCT       B,
                     TB_SL_DAILY_PROD    C
             WHERE   B.STORE_CD      = #{storeCd}
             AND     B.PROD_CLASS_CD = A.LV3_CD
             AND     B.PROD_CD       = C.PROD_CD
             AND     C.HQ_OFFICE_CD  = #{hqOfficeCd}
             AND     C.STORE_CD      = #{storeCd}
			<if test='startDate != null and startDate != ""'>
			   AND C.SALE_DATE >= #{startDate}
			</if>
			<if test='endDate != null and endDate != ""'>
			   AND C.SALE_DATE <![CDATA[<= ]]> #{endDate}
			</if>
	        <if test='prodClassCd != null and prodClassCd != ""'>
                AND     B.PROD_CLASS_CD IN  (
                                                SELECT              PROD_CLASS_CD
                                                FROM                TB_MS_PRODUCT_CLASS
                                                WHERE               STORE_CD        = #{storeCd}
                                                START WITH          PROD_CLASS_CD   = #{prodClassCd}
                                                AND                 STORE_CD        = #{storeCd}
                                                CONNECT BY PRIOR    PROD_CLASS_CD   = P_PROD_CLASS_CD
                                                AND                 STORE_CD        = #{storeCd}
                                            )
            </if>
		    <if test='prodCd != null and prodCd != ""'>
	           AND C.PROD_CD	= #{prodCd}
	        </if>
	    	<if test='prodNm != null and prodNm != ""'>
	           AND B.PROD_NM	LIKE '%'||#{prodNm}||'%'
	        </if>
         </when>
      </choose>
    GROUP BY    A.LV1_CD,
                A.LV2_CD,
                A.LV2_NM,
                A.LV3_CD,
                A.LV3_NM,
                A.LV1_NM,
                A.LV2_NM_FULL,
                A.LV3_NM_FULL,
                C.PROD_CD,
                B.PROD_NM
    ORDER BY LV1_CD, LV2_CD, LV3_CD, PROD_CD
    <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
    
<!-- 상품별매출 - 분류별 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL, TB_MS_TABLE, TB_MS_PRODUCT, TB_MS_PRODUCT_BARCD
        PARAM    : todayBillSaleDtlVO
        COMMENTS : 영수증별매출상세현황 - 영수증별매출상세 리스트를 조회한다.
    -->
    <select id="getProdClassExcelList" parameterType="prodClassVO" resultType="DefaultMap">
        /* USE : ProdClassMapper.getProdClassExcelList */
 		SELECT  A.LV1_CD
				,A.LV1_NM
                ,A.LV2_CD
                ,A.LV2_NM
                ,A.LV2_NM_FULL
                ,A.LV3_CD
                ,A.LV3_NM
                ,A.LV3_NM_FULL
                ,C.PROD_CD
                ,B.PROD_NM
                ,SUM(C.TOT_SALE_QTY)     AS TOT_SALE_QTY
                ,SUM(C.TOT_SALE_AMT)     AS TOT_SALE_AMT
                ,SUM(C.TOT_DC_AMT)       AS TOT_DC_AMT
                ,SUM(C.REAL_SALE_AMT)    AS REAL_SALE_AMT
		<choose>
         <when test='orgnFg != null and orgnFg == "H"'>    <!-- 본사 -->
             FROM    (
                         SELECT  A.P_PROD_CLASS_CD   AS LV1_CD,
                                 A.PROD_CLASS_CD     AS LV2_CD,
                                 A.PROD_CLASS_NM     AS LV2_NM,
                                 B.PROD_CLASS_CD     AS LV3_CD,
                                 B.PROD_CLASS_NM     AS LV3_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    A.P_PROD_CLASS_CD) FROM DUAL)    AS LV1_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    A.PROD_CLASS_CD  ) FROM DUAL)    AS LV2_NM_FULL,
                                 (SELECT  SF_GET_PROD_CLASSES('H', #{hqOfficeCd},    B.PROD_CLASS_CD  ) FROM DUAL)    AS LV3_NM_FULL
                         FROM    (
                                     SELECT  HQ_OFFICE_CD,
                                           P_PROD_CLASS_CD,
                                           PROD_CLASS_CD,
                                           PROD_CLASS_NM
                                     FROM    TB_HQ_PRODUCT_CLASS
                                     WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                     AND     P_PROD_CLASS_CD IN (
                                                                    SELECT  PROD_CLASS_CD
                                                                    FROM    TB_HQ_PRODUCT_CLASS
                                                                    WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                                    AND     P_PROD_CLASS_CD = '00000'
                                                                 )
                                 )                      A,
                                 TB_HQ_PRODUCT_CLASS    B
                         WHERE   B.P_PROD_CLASS_CD IN    (
                                                             SELECT  PROD_CLASS_CD
                                                             FROM    TB_HQ_PRODUCT_CLASS
                                                             WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                             AND     P_PROD_CLASS_CD IN (
                                                                                      SELECT  PROD_CLASS_CD
                                                                                            FROM    TB_HQ_PRODUCT_CLASS
                                                                                            WHERE   HQ_OFFICE_CD    = #{hqOfficeCd}
                                                                                            AND     P_PROD_CLASS_CD = '00000'
                                                                                         )
                                                         )
                         AND     A.HQ_OFFICE_CD  = B.HQ_OFFICE_CD
                         AND     A.PROD_CLASS_CD = B.P_PROD_CLASS_CD
                     )                   A,
                     TB_HQ_PRODUCT       B,
                     TB_SL_DAILY_PROD    C
             WHERE   B.HQ_OFFICE_CD   = #{hqOfficeCd}
             AND     B.PROD_CLASS_CD = A.LV3_CD
             AND     B.PROD_CD       = C.PROD_CD
             AND     C.HQ_OFFICE_CD  = #{hqOfficeCd}
			<if test='storeCd != null and storeCd != ""'>
			   AND C.STORE_CD IN
				     	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
								#{item}
						</foreach>  
			</if>
			<if test='startDate != null and startDate != ""'>
			   AND C.SALE_DATE >= #{startDate}
			</if>
			<if test='endDate != null and endDate != ""'>
			   AND C.SALE_DATE <![CDATA[<= ]]> #{endDate}
			</if>
			<if test='prodClassCd != null and prodClassCd != ""'>
	           AND B.PROD_CLASS_CD	IN (
	                                          SELECT
	                                              PROD_CLASS_CD
	                                          FROM
	                                              TB_HQ_PRODUCT_CLASS
	                                          WHERE
	                                              HQ_OFFICE_CD = #{hqOfficeCd}
	                                          START WITH
	                                              PROD_CLASS_CD = #{prodClassCd}
	                                              AND HQ_OFFICE_CD = #{hqOfficeCd}
	                                          CONNECT BY
	                                              PRIOR PROD_CLASS_CD = P_PROD_CLASS_CD
	                                              AND HQ_OFFICE_CD = #{hqOfficeCd}
	                                        )
	        </if>
	        <if test='prodCd != null and prodCd != ""'>
	           AND C.PROD_CD	= #{prodCd}
	        </if>
	    	<if test='prodNm != null and prodNm != ""'>
	           AND B.PROD_NM	LIKE '%'||#{prodNm}||'%'
	        </if>
         </when>
         <when test='orgnFg != null and orgnFg == "S"'>    <!-- 가맹점 -->
             FROM    (
                         SELECT  A.P_PROD_CLASS_CD   AS LV1_CD,
                                 A.PROD_CLASS_CD     AS LV2_CD,
                                 A.PROD_CLASS_NM     AS LV2_NM,
                                 B.PROD_CLASS_CD     AS LV3_CD,
                                 B.PROD_CLASS_NM     AS LV3_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, A.P_PROD_CLASS_CD) FROM DUAL)    AS LV1_NM,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, A.PROD_CLASS_CD  ) FROM DUAL)    AS LV2_NM_FULL,
                                 (SELECT  SF_GET_PROD_CLASSES('S', #{storeCd}, B.PROD_CLASS_CD  ) FROM DUAL)    AS LV3_NM_FULL
                         FROM    (
                                     SELECT  STORE_CD,
                                           P_PROD_CLASS_CD,
                                           PROD_CLASS_CD,
                                           PROD_CLASS_NM
                                     FROM    TB_MS_PRODUCT_CLASS
                                     WHERE   STORE_CD        = #{storeCd}
                                     AND     P_PROD_CLASS_CD IN (
                                                                    SELECT  PROD_CLASS_CD
                                                                    FROM    TB_MS_PRODUCT_CLASS
                                                                    WHERE   STORE_CD        = #{storeCd}
                                                                    AND     P_PROD_CLASS_CD = '00000'
                                                                 )
                                 )                      A,
                                 TB_MS_PRODUCT_CLASS    B
                         WHERE   B.P_PROD_CLASS_CD IN    (
                                                             SELECT  PROD_CLASS_CD
                                                             FROM    TB_MS_PRODUCT_CLASS
                                                             WHERE   STORE_CD        = #{storeCd}
                                                             AND     P_PROD_CLASS_CD IN (
                                                                                      SELECT  PROD_CLASS_CD
                                                                                            FROM    TB_MS_PRODUCT_CLASS
                                                                                            WHERE   STORE_CD        = #{storeCd}
                                                                                            AND     P_PROD_CLASS_CD = '00000'
                                                                                         )
                                                         )
                         AND     A.STORE_CD      = B.STORE_CD
                         AND     A.PROD_CLASS_CD = B.P_PROD_CLASS_CD
                     )                   A,
                     TB_MS_PRODUCT       B,
                     TB_SL_DAILY_PROD    C
             WHERE   B.STORE_CD      = #{storeCd}
             AND     B.PROD_CLASS_CD = A.LV3_CD
             AND     B.PROD_CD       = C.PROD_CD
             AND     C.HQ_OFFICE_CD  = #{hqOfficeCd}
             AND     C.STORE_CD      = #{storeCd}
			<if test='startDate != null and startDate != ""'>
			   AND C.SALE_DATE >= #{startDate}
			</if>
			<if test='endDate != null and endDate != ""'>
			   AND C.SALE_DATE <![CDATA[<= ]]> #{endDate}
			</if>
	        <if test='prodClassCd != null and prodClassCd != ""'>
                AND     B.PROD_CLASS_CD IN  (
                                                SELECT              PROD_CLASS_CD
                                                FROM                TB_MS_PRODUCT_CLASS
                                                WHERE               STORE_CD        = #{storeCd}
                                                START WITH          PROD_CLASS_CD   = #{prodClassCd}
                                                AND                 STORE_CD        = #{storeCd}
                                                CONNECT BY PRIOR    PROD_CLASS_CD   = P_PROD_CLASS_CD
                                                AND                 STORE_CD        = #{storeCd}
                                            )
            </if>
		    <if test='prodCd != null and prodCd != ""'>
	           AND C.PROD_CD	= #{prodCd}
	        </if>
	    	<if test='prodNm != null and prodNm != ""'>
	           AND B.PROD_NM	LIKE '%'||#{prodNm}||'%'
	        </if>
         </when>
      </choose>
    GROUP BY    A.LV1_CD,
                A.LV2_CD,
                A.LV2_NM,
                A.LV3_CD,
                A.LV3_NM,
                A.LV1_NM,
                A.LV2_NM_FULL,
                A.LV3_NM_FULL,
                C.PROD_CD,
                B.PROD_NM
    ORDER BY LV1_CD, LV2_CD, LV3_CD, PROD_CD
    </select>    
    
</mapper>
