<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ProdInfoMapper.xml
    매출공통팝업
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1                                 최초작성
    2       김설아     2019.12.11     수정
-->
<mapper namespace="kr.co.solbipos.sale.cmmSalePopup.prodInfo.service.impl.ProdInfoMapper">

    <!-- 매출공통팝업 - 상품매출 상세내역 조회 -->
    <!--
        TABLE    : TB_SL_SALE_DTL, TB_HQ_PRODUCT, TB_HQ_PRODUCT_CLASS,
                   TB_MS_PRODUCT, TB_MS_PRODUCT_CLASS
        COMMENTS : [매출]상세, [본사]상품, [본사]상품_분류,
                   [매장]상품, [매장]상품_분류
    -->
    <select id="getProdSaleDtlList" parameterType="ProdInfoVO" resultType="DefaultMap">
        /* ProdInfoMapper.getProdSaleDtlList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                SELECT
                STORE_CD,
                PROD_CLASS_NM,
                PROD_CD,
                PROD_NM,
                SUM(SALE_QTY) AS SALE_QTY,
                SUM(SALE_AMT) AS TOT_SALE_AMT,
                SUM(DC_AMT) AS TOT_DC_AMT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
                SUM(TAX_SALE_AMT) AS TAX_SALE_AMT,
                SUM(REAL_SALE_AMT) - SUM(VAT_AMT) AS GA_AMT,
                SUM(VAT_AMT) AS VAT_AMT,
                SUM(NO_TAX_SALE_AMT) AS NO_TAX_SALE_AMT,
                SUM(REAL_SALE_AMT) - SUM(VAT_AMT) AS NET_SALE_AMT
                FROM
                (
                    SELECT *
                    FROM
                    (
                        SELECT
                        tssd.STORE_CD,
                        thpc.PROD_CLASS_NM,
                        tssd.PROD_CD,
                        thp.PROD_NM,
                        tssd.SALE_QTY,
                        tssd.SALE_AMT,
                        tssd.DC_AMT,
                        tssd.REAL_SALE_AMT,
                        (CASE WHEN tssd.VAT_FG = '1' THEN REAL_SALE_AMT ELSE 0 END) AS TAX_SALE_AMT,
                        tssd.VAT_AMT,
                        (CASE WHEN tssd.VAT_FG = '2' THEN REAL_SALE_AMT ELSE 0 END) AS NO_TAX_SALE_AMT,
                        REPLACE(SUBSTR(thpc_p.PATH, 0, 6) ,'/','') AS Level1,
                        REPLACE(SUBSTR(thpc_p.PATH, 7, 6) ,'/','') AS Level2,
                        REPLACE(SUBSTR(thpc_p.PATH, 13, 6) ,'/','') AS Level3
                        FROM TB_SL_SALE_DTL tssd,
                        TB_HQ_PRODUCT thp,
                        TB_HQ_PRODUCT_CLASS thpc,
                        (
                            SELECT
                            thpc.PROD_CLASS_CD,
                            SYS_CONNECT_BY_PATH (thpc.PROD_CLASS_CD, '/') PATH
                            FROM TB_HQ_PRODUCT_CLASS thpc
                            WHERE 1=1
                            AND thpc.HQ_OFFICE_CD = #{membrOrgnCd}
                            START WITH thpc.P_PROD_CLASS_CD = '00000'
                            CONNECT BY thpc.P_PROD_CLASS_CD = PRIOR thpc.PROD_CLASS_CD
                        ) thpc_p
                        WHERE 1=1
                        AND tssd.HQ_OFFICE_CD = #{membrOrgnCd}
                        <if test='storeCds != null and storeCds != ""'>
                            AND tssd.STORE_CD IN
                            <foreach collection="storeCdList" item="item" open="("  separator="," close=")" >
                                #{item}
                            </foreach>
                        </if>
                        <choose>
                            <when test='gubun != null'>
                                <!-- 기간별매출 > 일자별 탭 > 과면세별,포스별 탭 -->
                                <if test='gubun == "day"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 과면세별,포스별 탭 -->
                                <if test='gubun == "month"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 코너별 탭 -->
                                <if test='gubun == "dayCorner"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 코너별 탭 -->
                                <if test='gubun == "monthCorner"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 포스별 탭 -->
                                <if test='gubun == "dayPos"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                        AND tssd.POS_NO = #{posNo}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 포스별 탭 -->
                                <if test='gubun == "monthPos"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                        AND tssd.POS_NO = #{posNo}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 상품분류별 탭 -->
                                <if test='gubun == "dayProdClass"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                    <if test="prodCd != null and prodCd != ''">
                                        AND tssd.PROD_CD LIKE '%'|| #{prodCd} ||'%'
                                    </if>
                                    <if test="prodNm != null and prodNm != ''">
                                        AND thp.PROD_NM LIKE '%'|| #{prodNm} ||'%'
                                    </if>
                                    <if test="barCd != null and barCd != ''">
                                        AND thpb.BARCD_CD LIKE '%'|| #{barCd} ||'%'
                                    </if>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 상품분류별 탭 -->
                                <if test='gubun == "monthProdClass"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                    <if test="prodCd != null and prodCd != ''">
                                        AND tssd.PROD_CD LIKE '%'|| #{prodCd} ||'%'
                                    </if>
                                    <if test="prodNm != null and prodNm != ''">
                                        AND thp.PROD_NM LIKE '%'|| #{prodNm} ||'%'
                                    </if>
                                    <if test="barCd != null and barCd != ''">
                                        AND thpb.BARCD_CD LIKE '%'|| #{barCd} ||'%'
                                    </if>
                                </if>
                            </when>
                        </choose>
                        AND thp.HQ_OFFICE_CD (+)= tssd.HQ_OFFICE_CD
                        AND thp.PROD_CD (+)= tssd.PROD_CD
                        AND thpc.HQ_OFFICE_CD (+)= tssd.HQ_OFFICE_CD
                        AND thpc.PROD_CLASS_CD (+)= thp.PROD_CLASS_CD
                        AND thpc_p.PROD_CLASS_CD = thp.PROD_CLASS_CD
                    )
                    WHERE 1=1
                    <choose>
                        <when test='gubun != null'>
                            <!-- 기간별매출 > 일자별,월별 탭 > 상품분류별 탭 -->
                            <if test='gubun == "dayProdClass" or gubun == "monthProdClass"'>
                                AND ${level} IN
                                <foreach collection="arrProdClassCd" item="item" open="(" close=")" separator=",">
                                    ${item}
                                </foreach>
                                <if test="prodClassCd != null and prodClassCd != ''">
                                    AND (      Level1 = #{prodClassCd}
                                            OR Level2 = #{prodClassCd}
                                            OR Level3 = #{prodClassCd}
                                        )
                                </if>
                            </if>
                        </when>
                    </choose>
                )
                GROUP BY STORE_CD, PROD_CLASS_NM, PROD_CD, PROD_NM
                ORDER BY STORE_CD, PROD_CD
            </when>
            <!-- 매장 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                SELECT
                STORE_CD,
                PROD_CLASS_NM,
                PROD_CD,
                PROD_NM,
                SUM(SALE_QTY) AS SALE_QTY,
                SUM(SALE_AMT) AS TOT_SALE_AMT,
                SUM(DC_AMT) AS TOT_DC_AMT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
                SUM(TAX_SALE_AMT) AS TAX_SALE_AMT,
                SUM(REAL_SALE_AMT) - SUM(VAT_AMT) AS GA_AMT,
                SUM(VAT_AMT) AS VAT_AMT,
                SUM(NO_TAX_SALE_AMT) AS NO_TAX_SALE_AMT,
                SUM(REAL_SALE_AMT) - SUM(VAT_AMT) AS NET_SALE_AMT
                FROM
                (
                    SELECT *
                    FROM
                    (
                        SELECT
                        tssd.STORE_CD,
                        tmpc.PROD_CLASS_NM,
                        tssd.PROD_CD,
                        tmp.PROD_NM,
                        tssd.SALE_QTY,
                        tssd.SALE_AMT,
                        tssd.DC_AMT,
                        tssd.REAL_SALE_AMT,
                        (CASE WHEN tssd.VAT_FG = '1' THEN REAL_SALE_AMT ELSE 0 END) AS TAX_SALE_AMT,
                        tssd.VAT_AMT,
                        (CASE WHEN tssd.VAT_FG = '2' THEN REAL_SALE_AMT ELSE 0 END) AS NO_TAX_SALE_AMT,
                        REPLACE(SUBSTR(tmpc_p.PATH, 0, 6) ,'/','') AS Level1,
                        REPLACE(SUBSTR(tmpc_p.PATH, 7, 6) ,'/','') AS Level2,
                        REPLACE(SUBSTR(tmpc_p.PATH, 13, 6) ,'/','') AS Level3
                        FROM TB_SL_SALE_DTL tssd,
                        TB_MS_PRODUCT tmp,
                        TB_MS_PRODUCT_CLASS tmpc,
                        (
                            SELECT tmpc.PROD_CLASS_CD,
                            SYS_CONNECT_BY_PATH (tmpc.PROD_CLASS_CD, '/') PATH
                            FROM (SELECT * FROM TB_MS_PRODUCT_CLASS WHERE STORE_CD = #{storeCd}) tmpc
                            WHERE 1=1
                            START WITH tmpc.P_PROD_CLASS_CD = '00000'
                            CONNECT BY tmpc.P_PROD_CLASS_CD = PRIOR tmpc.PROD_CLASS_CD
                        ) tmpc_p
                        WHERE 1=1
                        AND tssd.HQ_OFFICE_CD = #{membrOrgnCd}
                        AND tssd.STORE_CD = #{storeCd}
                        <choose>
                            <when test='gubun != null'>
                                <!-- 기간별매출 > 일자별 탭 > 과면세별,포스별 탭 -->
                                <if test='gubun == "day"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 과면세별,포스별 탭 -->
                                <if test='gubun == "month"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 코너별 탭 -->
                                <if test='gubun == "dayCorner"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 코너별 탭 -->
                                <if test='gubun == "monthCorner"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 포스별 탭 -->
                                <if test='gubun == "dayPos"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                        AND tssd.POS_NO = #{posNo}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 포스별 탭 -->
                                <if test='gubun == "monthPos"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                        AND tssd.POS_NO = #{posNo}
                                    ]]>
                                </if>
                                <!-- 기간별매출 > 일자별 탭 > 상품분류별 탭 -->
                                <if test='gubun == "dayProdClass"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE = #{saleDate}
                                    ]]>
                                    <if test="prodCd != null and prodCd != ''">
                                        AND tssd.PROD_CD LIKE '%'|| #{prodCd} ||'%'
                                    </if>
                                    <if test="prodNm != null and prodNm != ''">
                                        AND thp.PROD_NM LIKE '%'|| #{prodNm} ||'%'
                                    </if>
                                    <if test="barCd != null and barCd != ''">
                                        AND thpb.BARCD_CD LIKE '%'|| #{barCd} ||'%'
                                    </if>
                                </if>
                                <!-- 기간별매출 > 월별 탭 > 상품분류별 탭 -->
                                <if test='gubun == "monthProdClass"'>
                                    <![CDATA[
                                        AND tssd.SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                                    ]]>
                                    <if test="prodCd != null and prodCd != ''">
                                        AND tssd.PROD_CD LIKE '%'|| #{prodCd} ||'%'
                                    </if>
                                    <if test="prodNm != null and prodNm != ''">
                                        AND thp.PROD_NM LIKE '%'|| #{prodNm} ||'%'
                                    </if>
                                    <if test="barCd != null and barCd != ''">
                                        AND thpb.BARCD_CD LIKE '%'|| #{barCd} ||'%'
                                    </if>
                                </if>
                            </when>
                        </choose>
                        AND tmp.STORE_CD (+)= tssd.STORE_CD
                        AND tmp.PROD_CD (+)= tssd.PROD_CD
                        AND tmpc.STORE_CD (+)= tssd.STORE_CD
                        AND tmpc.PROD_CLASS_CD (+)= tmp.PROD_CLASS_CD
                        AND tmpc_p.PROD_CLASS_CD = tmp.PROD_CLASS_CD
                    )
                    WHERE 1=1
                    <choose>
                        <when test='gubun != null'>
                            <!-- 기간별매출 > 일자별,월별 탭 > 상품분류별 탭 -->
                            <if test='gubun == "dayProdClass" or gubun == "monthProdClass"'>
                                AND ${level} IN
                                <foreach collection="arrProdClassCd" item="item" open="(" close=")" separator=",">
                                    ${item}
                                </foreach>
                                <if test="prodClassCd != null and prodClassCd != ''">
                                    AND (      Level1 = #{prodClassCd}
                                            OR Level2 = #{prodClassCd}
                                            OR Level3 = #{prodClassCd}
                                        )
                                </if>
                            </if>
                        </when>
                    </choose>
                )
                GROUP BY STORE_CD, PROD_CLASS_NM, PROD_CD, PROD_NM
                ORDER BY STORE_CD, PROD_CD
            </when>
        </choose>
    </select>

</mapper>