@charset "utf-8";

/* **************************************** *
 * WEBFONT
 * **************************************** */
@font-face {
     font-family: 'NotoR';
     src: url('https://cdn.kcp.co.kr/font_web/NotoSansCJKkr-Regular.woff') format('woff');
}


/* **************************************** *
 * RESET
 * **************************************** */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,time,figure,article,nav,header,footer,hgroup,video,audio,aside,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, select {
    margin:0; 
    padding:0;
    border:0;
    outline:0;
    box-sizing:border-box;
    font-family:'NotoR', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight:normal;
    font-size:16px; /*em : psd의 px기준에서 16으로 나누기*/
    color:#888;
    line-height:1em;
} 
ol,ul, li {list-style: none;}
fieldset, legend, caption {display:none;}
table {border-collapse:collapse; border-spacing:0;}
em, address, code {font-style:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
a {text-decoration:none;}
button {outline:none; border:0; font-family:'NotoR', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;} /*파이어폭스를 위해 : font-family 재정의*/
.hidden {position:absolute; left:-9999em;}

/*placeholder color*/
::-webkit-input-placeholder {color:#bbb;} /* webkit */
:-moz-placeholder {color:#bbb;} /* mozilla, firefox 4~18 */
::-moz-placeholder {color:#bbb;} /* firefox 19+ */
:-ms-input-placeholder {color:#bbb;} /* ie 10+ */


/* **************************************** *
 * COMMON
 * **************************************** */
.w100 {width:100%;}


/* **************************************** *
 * LAYOUT
 * **************************************** */


/* **************************************** *
 * Login
 * **************************************** */
.login {width:840px; position:absolute; left:50%; top:50%; margin-left:-420px; margin-top:-320px;} /*화면 중앙정렬*/
.login header {position:relative; height:50px; overflow:hidden; margin-bottom:30px;}
.login header img {float:left;}
.login header h1 {float:right; color:#444; position:absolute; right:0px; bottom:0px;}

.login .content {width:840px; height:560px;}
.bannerArea {float:left; width:420px; height:560px;}
.slider {position:relative; width:420px; text-align:center; padding-top:520px; margin:0 auto;}
.slider>img {position:absolute; left:0; top:0; transition: all 0.7s; z-index:-10;}
.slider label {width:10px; height:10px; background:#888b8e; margin:0 5px 0 5px; display:inline-block; cursor:pointer; border-radius:100%; padding:0; transition:all 0.5s;}
.slider input[name='slide_switch'] {display:none;}
.slider input[name='slide_switch']:checked+label {background:#fff;}
.slider input[name='slide_switch'] ~ img {opacity:0; transform:scale(1);}
.slider input[name='slide_switch']:checked+label+img {opacity:1; transform:scale(1);}

.loginArea {float:right; width:420px; height:560px; background:#f6f6f6; padding-top:60px; border-top:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.loginArea h2 {margin:0 50px 40px 50px; text-align:center; color:#1e88e5; font-weight:bold; font-size:1.875em;}
.loginArea h2.sTit {margin:0 50px 10px 50px; text-align:left; color:#1e88e5; font-size:1.25em;}
.loginArea p.h2_txt {margin:0 50px 40px 50px; color:#222; font-size:0.875em; letter-spacing:-0.03em; line-height:20px;}
.loginArea p.h2_txt span {font-size:1em; color:#888; letter-spacing:0; display:block; line-height:20px; margin-top:15px; margin-bottom:-10px;}

.loginF {margin:0 50px; padding-bottom:40px;}

.writeInfo {position:relative; margin-bottom:10px;}
.writeInfo input {width:100%; height:50px; border-radius:4px; border:1px solid #e0e1e2; margin-bottom:10px; padding:0 20px; background:#fff; transition:border-width 0.2s ease;}
.writeInfo input:focus {border-left-width:50px; border-color:#1e88e5; outline:none; color:#222;}
.writeInfo input+label {position:absolute; left:0px; width:0px; height:50px; transition:all 0.1s ease-in;}
.writeInfo input:focus+label {width:50px; transition:all 0.25s ease-out;}
.writeInfo input.id+label {background:url(../../img/login/ic_id.png) no-repeat 0px center; background-size:22px 50px;}
.writeInfo input.id:focus+label {background:url(../../img/login/ic_id.png) no-repeat 14px center;}
.writeInfo input.pw+label {background:url(../../img/login/ic_pw.png) no-repeat 0px center; background-size:13px 50px;}
.writeInfo input.pw:focus+label {background:url(../../img/login/ic_pw.png) no-repeat 19px center;}
.writeInfo input.name+label {background:url(../../img/login/ic_name.png) no-repeat 0px center; background-size:23px 50px;}
.writeInfo input.name:focus+label {background:url(../../img/login/ic_name.png) no-repeat 14px center;}
.writeInfo input.tel+label {background:url(../../img/login/ic_tel.png) no-repeat 0px center; background-size:20px 50px;}
.writeInfo input.tel:focus+label {background:url(../../img/login/ic_tel.png) no-repeat 15px center;}
.writeInfo input.crtNum+label {background:url(../../img/login/ic_crtNum.png) no-repeat 0px center; background-size:20px 50px;}
.writeInfo input.crtNum:focus+label {background:url(../../img/login/ic_crtNum.png) no-repeat 15px center;}

.idsave {position:relative; height:50px;}
.idsave span {position:absolute; top:15px;}
.idsave label {color:#888; cursor:pointer; padding-left:33px; line-height:23px;}
.idsave label:before {content:''; width:25px; height:25px; background:#fff; border-radius:4px; border:1px solid #e0e1e2; display:inline-block; position:absolute; left:0px; top:-3px;}
.idsave label:after {content:''; width:0px; height:0px; background:#000; border-radius:100%;  display:inline-block; position:absolute; left:12px; top:8px;}
.idsave input[type="checkbox"] {position:absolute; left:-9999em;}
.idsave input[type="checkbox"]:checked+label:before {background:url(../../img/login/ic_chk.png) #1e88e5 no-repeat; border:1px solid #1e88e5; transition:all 0.5s ease-out;}
.idsave input[type="checkbox"]:focus+label:after {transition:all 0.5s ease-out; animation:chkAni 0.3s ease-out;}

/*에러메세지*/
.loginF div {position:relative;}
.loginF div span.errorMsg {position:absolute; left:20px; top:40px; background:#888; color:#fff; padding:5px 20px; font-size:0.75em; line-height:16px; border-radius:4px; z-index:999;} 
.loginF div span.errorMsg:before {content:''; position:absolute; left:20px; top:-4px; display:inline-block; background:url(../../img/login/bg_errorMsg.png) no-repeat; width:7px; height:5px;}

@keyframes chkAni {
  0% {
    width:0px;
    height:0px; 
    opacity:0;
    left:12px; top:8px;
  }
  20% {
    width:25px;
    height:25px; 
    opacity: 0.3;
    left:0px; top:-3px;
  }
  100% {
    width:50px;
    height:50px;
    opacity: 0;
    left:-12px; top:-15px;
  }
}

.btn_login {background:#1e88e5; font-size:1.125em; color:#fff; border:0; width:170px; height:50px; border-radius:4px; cursor:pointer; float:right;}
.btn_login:hover {background:#174291; transition:all 0.3s;}

.btn_bluew100 {background:#1e88e5; font-size:1.125em; color:#fff; border:0; width:100%; height:50px; display:block; text-align:center; line-height:50px; border-radius:4px; cursor:pointer;}
.btn_bluew100:hover {background:#174291; transition:all 0.3s;}

.linkArea {position:relative; margin:0 50px; border-top:1px solid #e0e1e2; padding-top:30px; text-align:right;}
.linkArea:before {content:''; width:319px; height:1px; background:#fff; position:absolute; left:0px; margin-top:-32px;}
.linkArea .find {display:block; overflow:hidden; margin-bottom:60px;}
.fdId, .fdPw, .login_gray {height:40px; line-height:40px; border:1px solid #dbdbdb; display:inline-block; text-align:center; border-radius:4px; transition:all 0.3s;}
.login_blue {height:40px; line-height:40px; display:inline-block; text-align:center; background:#1e88e5; border-radius:4px; color:#fff; transition:all 0.3s;}
.fdId, .login_blue {width:150px; float:left;} 
.fdPw, .login_gray {width:150px;}
.fdId:hover, .fdPw:hover, .login_gray:hover {background:#dbdbdb; transition:all 0.3s;}
.login_blue:hover {background:#174291; transition:all 0.3s;}
.distributor, .agency {font-size:0.875em; text-decoration:underline;}
.agency {margin-left:20px;}

.Area_crtNum input.crtNum {width:180px;}
.Area_crtNum div {width:130px; height:50px; float:right;}
.Area_crtNum div span {background:#f6f6f6; height:50px; border:1px solid #dbdbdb; border-radius:4px; line-height:50px; display:block; text-align:center; color:#444;}
.Area_crtNum .btn_crtNum {width:100%; height:50px; font-size:1em; background:#f6f6f6; color:#888; border:1px solid #dbdbdb; display:inline-block; border-radius:4px; cursor:pointer; transition:all 0.3s;}
.Area_crtNum .btn_crtNum:hover {background:#dbdbdb; transition:all 0.3s;}

.idInfo {position:relative; margin:0 50px; margin-bottom:40px; background:#f0f0f0; border:1px solid #e0e1e2; border-radius:4px; padding:20px 0;}
.idInfo span {display:block; text-align:center;}
.idInfo span:first-child {font-size:0.875em;}
.idInfo span:last-child {color:#222; font-size:1.25em; text-decoration:underline; padding-top:10px;}

.lineArea {position:relative; margin:0 50px; border-top:1px solid #e0e1e2; padding-top:30px;}
.lineArea:before {content:''; width:319px; height:1px; background:#fff; position:absolute; left:0px; margin-top:-32px;}
