<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <property name="ROOT_LEVEL" value="ERROR"/>
  <property name="LOG_LEVEL" value="ERROR"/>
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
  <property name="FILE_EXT" value="log"/>

  <!-- log.path 는 구분자를 '/' 로 해야 로그 생성이 된다. -->
  <property name="FILE_PATH_NAME" value="../logs/solbipos.${FILE_EXT}"/>
  <property name="FILE_ROLLING_PATTERN" value="../logs/%d{yyyyMMdd}/solbipos_%d{yyyy-MM-dd}_%i.${FILE_EXT}.zip"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${FILE_PATH_NAME}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${FILE_ROLLING_PATTERN}</fileNamePattern><!-- 매일 생성 -->
      <maxHistory>30</maxHistory><!-- maxHistory 일이 지나면 삭제 -->
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize><!-- maxFileSize 초과시 생성 -->
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 기본적으로 <root> 에서 참조를 하되, ref 를 따로 설정하고 싶으면 <logger> 마다 <appender-ref> 를 추가한다. -->
  <logger name="org.springframework" level="${LOG_LEVEL}"/>
  <logger name="org.mybatis" level="${LOG_LEVEL}"/>
  <logger name="kr.co" level="${LOG_LEVEL}"/>

  <root level="${ROOT_LEVEL}">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>

</configuration>
