<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.iostock.frnchs.storeProd.service.impl.FrnchsStoreProdMapper">
	<!-- 매장 상품별 입출고내역 -  매장 상품별 입출고내역 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_PROD , TB_MS_PRODUCT_CLASS , TB_MS_PRODUCT 
        PARAM    : frnchsStoreProdVO
        COMMENTS : 매장 상품별 입출고내역 -  매장 상품별 입출고내역 리스트를 조회한다.
    -->
    <select id="getFrnchsStoreProdList" parameterType="frnchsStoreProdVO" resultType="DefaultMap">
        /* USE : FrnchsStoreProdMapper.getFrnchsStoreProdList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
        <![CDATA[
        SELECT A.STORE_CD
             , (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = A.STORE_CD) AS STORE_NM
             , A.PROD_CD
             , Z.PROD_NM
             , A.PO_UNIT_FG
             , (SELECT NMCODE_NM FROM TB_HQ_NMCODE WHERE NMCODE_GRP_CD = '093' AND HQ_OFFICE_CD = A.HQ_OFFICE_CD AND NMCODE_CD = A.PO_UNIT_FG)  AS PO_UNIT_FG_NM      /* 단위 */
             , A.PO_UNIT_QTY                        /* 입수 */
             , COUNT(*) AS OUT_CNT                  /* 출고횟수 */
             , SUM(A.OUT_TOT_QTY)  AS OUT_TOT_QTY
             , SUM(A.OUT_TOT)      AS OUT_TOT
             , SUM(A.IN_TOT_QTY)   AS IN_TOT_QTY
             , SUM(A.IN_TOT)       AS IN_TOT
             , SUM(A.PENALTY_AMT)  AS PENALTY_AMT
        ]]>
        <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[     
          FROM TB_PO_HQ_STORE_OUTSTOCK_DTL A
             , TB_MS_PRODUCT Z
         WHERE A.STORE_CD = Z.STORE_CD
           AND A.PROD_CD = Z.PROD_CD
           AND A.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
           AND EXISTS (SELECT * FROM TB_PO_HQ_STORE_OUTSTOCK M WHERE M.HQ_OFFICE_CD = A.HQ_OFFICE_CD AND M.SLIP_NO = A.SLIP_NO AND M.OUT_DATE >= #{startDate} AND M.OUT_DATE <![CDATA[<=]]> #{endDate} )
           <if test='prodClassCd != null and prodClassCd != ""'> 
                AND Z.PROD_CLASS_CD IN  (
                               SELECT              PROD_CLASS_CD
                               FROM                TB_HQ_PRODUCT_CLASS
                               WHERE               HQ_OFFICE_CD    = #{hqOfficeCd}
                               START WITH          PROD_CLASS_CD   = #{prodClassCd}
                               AND                 HQ_OFFICE_CD    = #{hqOfficeCd}
                               CONNECT BY PRIOR    PROD_CLASS_CD   = P_PROD_CLASS_CD
                               AND                 HQ_OFFICE_CD    = #{hqOfficeCd}
                           )
           </if>
           <if test='prodCd != null and prodCd !=""'>
              AND Z.PROD_CD LIKE '%' || #{prodCd} || '%'
           </if>
           <if test='prodNm != null and prodNm !=""'>
              AND Z.PROD_NM LIKE '%' || #{prodNm} || '%'
           </if>
           <if test='storeCd != null and storeCd !=""'>
              AND A.STORE_CD IN
              <foreach collection="arrStoreCd" item="item" open="(" separator="," close=")">
                #{item}
              </foreach>
           </if>
           <![CDATA[
           GROUP BY A.HQ_OFFICE_CD
               , A.STORE_CD
               , A.PROD_CD
               , Z.PROD_NM
               , A.PO_UNIT_FG
               , A.PO_UNIT_QTY
           ORDER BY A.STORE_CD, A.PROD_CD
           ]]>
          <include refid="CmmSQL.PagingTemplateBottom"/>
     </select>
     
    <!-- 매장 상품별 입출고내역 -  매장 상품별 입출고내역 엑셀리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_PROD , TB_MS_PRODUCT_CLASS , TB_MS_PRODUCT 
        PARAM    : frnchsStoreProdVO
        COMMENTS : 매장 상품별 입출고내역 -  매장 상품별 입출고내역 엑셀리스트를 조회한다.
    -->
    <select id="getFrnchsStoreProdExcelList" parameterType="frnchsStoreProdVO" resultType="DefaultMap">
        /* USE : FrnchsStoreProdMapper.getFrnchsStoreProdExcelList */
        <![CDATA[
        SELECT A.STORE_CD
             , (SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = A.STORE_CD) AS STORE_NM
             , A.PROD_CD
             , Z.PROD_NM
             , A.PO_UNIT_FG
             , (SELECT NMCODE_NM FROM TB_HQ_NMCODE WHERE NMCODE_GRP_CD = '093' AND HQ_OFFICE_CD = A.HQ_OFFICE_CD AND NMCODE_CD = A.PO_UNIT_FG)  AS PO_UNIT_FG_NM      /* 단위 */
             , A.PO_UNIT_QTY                        /* 입수 */
             , COUNT(*) AS OUT_CNT                  /* 출고횟수 */
             , SUM(A.OUT_TOT_QTY)  AS OUT_TOT_QTY
             , SUM(A.OUT_TOT)      AS OUT_TOT
             , SUM(A.IN_TOT_QTY)   AS IN_TOT_QTY
             , SUM(A.IN_TOT)       AS IN_TOT
             , SUM(A.PENALTY_AMT)  AS PENALTY_AMT
        ]]>
        <![CDATA[     
          FROM TB_PO_HQ_STORE_OUTSTOCK_DTL A
             , TB_MS_PRODUCT Z
         WHERE A.STORE_CD = Z.STORE_CD
           AND A.PROD_CD = Z.PROD_CD
           AND A.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
           AND EXISTS (SELECT * FROM TB_PO_HQ_STORE_OUTSTOCK M WHERE M.HQ_OFFICE_CD = A.HQ_OFFICE_CD AND M.SLIP_NO = A.SLIP_NO AND M.OUT_DATE >= #{startDate} AND M.OUT_DATE <![CDATA[<=]]> #{endDate} )
           <if test='prodClassCd != null and prodClassCd != ""'> 
                AND Z.PROD_CLASS_CD IN  (
                               SELECT              PROD_CLASS_CD
                               FROM                TB_HQ_PRODUCT_CLASS
                               WHERE               HQ_OFFICE_CD    = #{hqOfficeCd}
                               START WITH          PROD_CLASS_CD   = #{prodClassCd}
                               AND                 HQ_OFFICE_CD    = #{hqOfficeCd}
                               CONNECT BY PRIOR    PROD_CLASS_CD   = P_PROD_CLASS_CD
                               AND                 HQ_OFFICE_CD    = #{hqOfficeCd}
                           )
           </if>
           <if test='prodCd != null and prodCd !=""'>
              AND Z.PROD_CD = #{prodCd}
           </if>
           <if test='prodNm != null and prodNm !=""'>
              AND Z.PROD_NM = #{prodNm}
           </if>
           <if test='storeCd != null and storeCd !=""'>
              AND A.STORE_CD IN
              <foreach collection="arrStoreCd" item="item" open="(" separator="," close=")">
                #{item}
              </foreach>
           </if>
           <![CDATA[
           GROUP BY A.HQ_OFFICE_CD
               , A.STORE_CD
               , A.PROD_CD
               , Z.PROD_NM
               , A.PO_UNIT_FG
               , A.PO_UNIT_QTY
           ORDER BY A.STORE_CD, A.PROD_CD
           ]]>
     </select>

    <!-- 매장 상품별 입출고내역 -  매장 상품별 입출고내역 상세리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_STORE_OUTSTOCK , TB_PO_HQ_STORE_OUTSTOCK_DTL , TB_MS_PRODUCT , TB_CM_NMCODE
        PARAM    : frnchsStoreProdVO
        COMMENTS : 매장 상품별 입출고내역 -  매장 상품별 입출고내역 상세리스트를 조회한다.
    -->
    <select id="getFrnchsStoreProdDtlList" parameterType="frnchsStoreProdVO" resultType="DefaultMap">
        /* USE : FrnchsStoreProdMapper.getFrnchsStoreProdDtlList */
        <![CDATA[
        SELECT TPHSO.OUT_DT
             , TO_CHAR(TO_DATE(TPHSO.OUT_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS OUT_DT_FM
             , TPHSO.IN_DT
             , TO_CHAR(TO_DATE(TPHSO.IN_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS IN_DT_FM
             , TPHSOD.STORE_CD
             , (SELECT STORE_NM FROM TB_MS_STORE TMS WHERE TMS.STORE_CD = TPHSOD.STORE_CD AND TMS.HQ_OFFICE_CD = #{hqOfficeCd}) AS STORE_NM
             , DECODE(TPHSOD.SLIP_FG,1,'출고',-1,'반품') AS SLIP_FG_NM
             , (SELECT NMCODE_NM FROM TB_CM_NMCODE WHERE NMCODE_GRP_CD = '114' AND NMCODE_CD = TPHSO.SLIP_KIND) AS SLIP_KIND_NM
             , (SELECT NMCODE_NM FROM TB_CM_NMCODE WHERE NMCODE_GRP_CD = '113' AND NMCODE_CD = TPHSOD.PROC_FG) AS PROC_FG_NM
             , TMP.SPLY_UPRC
             , TPHSOD.OUT_TOT_QTY
             , TPHSOD.OUT_AMT
             , TPHSOD.OUT_VAT
             , TPHSOD.OUT_TOT
             , TPHSOD.IN_TOT_QTY
             , TPHSOD.IN_AMT
             , TPHSOD.IN_VAT
             , TPHSOD.IN_TOT
             , TPHSOD.PENALTY_AMT
             , TPHSOD.REMARK
          FROM TB_PO_HQ_STORE_OUTSTOCK TPHSO
             , TB_PO_HQ_STORE_OUTSTOCK_DTL TPHSOD
             , TB_MS_PRODUCT TMP
         WHERE TPHSOD.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
           <if test='storeCd != null and storeCd !=""'>
              AND TPHSOD.STORE_CD = #{storeCd}
           </if>
           <if test='prodCd != null and prodCd !=""'>
              AND TPHSOD.PROD_CD = #{prodCd}
           </if>
        <![CDATA[
           AND TPHSO.HQ_OFFICE_CD = TPHSOD.HQ_OFFICE_CD
           AND TPHSO.SLIP_NO = TPHSOD.SLIP_NO
           AND TPHSOD.STORE_CD = TMP.STORE_CD
           AND TPHSOD.PROD_CD = TMP.PROD_CD
         ORDER BY TPHSO.OUT_DT, TPHSOD.STORE_CD
        ]]>
    </select>
</mapper>
