<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.emp.dayPeriod.service.impl.EmpDayPeriodMapper">

    <select id="getEmpDayPeriodList" parameterType="empDayPeriodVO" resultType="DefaultMap">
        <include refid="CmmSQL.PagingTemplateHeader"/>
        SELECT M.STORE_CD
		     , TMS.STORE_NM
		     , M.EMP_NO
		     , M.EMP_NM
		     , M.BILL_CNT
		     , M.REAL_SALE_AMT
	   <include refid="CmmSQL.PagingTemplateCount"/>
		  FROM TB_MS_STORE TMS
		     , (
		        SELECT TSDE.STORE_CD
		             , TSDE.EMP_NO
		             , TSDE.EMP_NM
		             , SUM(TSDE.BILL_CNT) AS BILL_CNT
		             , SUM(TSDE.REAL_SALE_AMT) AS REAL_SALE_AMT
				FROM TB_SL_DAILY_EMPLOYEE TSDE
				WHERE TSDE.HQ_OFFICE_CD = #{hqOfficeCd}
				<if test='arrStoreCd != null and arrStoreCd != ""'>
					AND TSDE.STORE_CD IN
		            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
		            	#{item}
		            </foreach>
		        </if>
				<if test='orgnFg != null and orgnFg == "H"'>
					AND (
							'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
						OR	TSDE.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
						)
				</if>
				<if test='startDate != null and startDate != ""'>
			    AND TSDE.SALE_DATE >= #{startDate}
			    </if>
			    <if test='endDate != null and endDate != ""'>
			    AND TSDE.SALE_DATE <![CDATA[<= ]]>  #{endDate}
			    </if>
			    GROUP BY TSDE.STORE_CD, TSDE.EMP_NO, TSDE.EMP_NM
		       ) M
		WHERE 	TMS.HQ_OFFICE_CD = #{hqOfficeCd}
		AND		TMS.STORE_CD = M.STORE_CD
		ORDER BY M.REAL_SALE_AMT DESC
	    <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
    
    <select id="getEmpDayPeriodExcelList" parameterType="empDayPeriodVO" resultType="DefaultMap">
        SELECT M.STORE_CD
		     , TMS.STORE_NM
		     , M.EMP_NO
		     , M.EMP_NM
		     , M.BILL_CNT
		     , M.REAL_SALE_AMT
		  FROM TB_MS_STORE TMS
		     , (
		        SELECT TSDE.STORE_CD
		             , TSDE.EMP_NO
		             , TSDE.EMP_NM
		             , SUM(TSDE.BILL_CNT) AS BILL_CNT
		             , SUM(TSDE.REAL_SALE_AMT) AS REAL_SALE_AMT
				FROM TB_SL_DAILY_EMPLOYEE TSDE
				WHERE TSDE.HQ_OFFICE_CD = #{hqOfficeCd}
				<if test='arrStoreCd != null and arrStoreCd != ""'>
					AND TSDE.STORE_CD IN
		            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
		            	#{item}
		            </foreach>
		        </if>
				<if test='orgnFg != null and orgnFg == "H"'>
					AND (
							'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
						OR	TSDE.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
						)
				</if>
				<if test='startDate != null and startDate != ""'>
			    AND TSDE.SALE_DATE >= #{startDate}
			    </if>
			    <if test='endDate != null and endDate != ""'>
			    AND TSDE.SALE_DATE <![CDATA[<= ]]>  #{endDate}
			    </if>
			    GROUP BY TSDE.STORE_CD, TSDE.EMP_NO, TSDE.EMP_NM
		       ) M
		WHERE 	TMS.HQ_OFFICE_CD = #{hqOfficeCd}
		AND		TMS.STORE_CD = M.STORE_CD
		ORDER BY M.REAL_SALE_AMT DESC
    </select>
    
    <select id="getEmpDayPeriodDtlList" parameterType="empDayPeriodVO" resultType="DefaultMap">
        <include refid="CmmSQL.PagingTemplateHeader"/>
        SELECT TO_CHAR(TO_DATE(TSSH.SALE_DATE, 'yyyymmdd'), 'yyyy-mm-dd') AS SALE_DATE
             , TSSH.STORE_CD
		     , TSSH.POS_NO
		     , TSSH.BILL_NO
		     , DECODE(TSSH.SALE_YN,'Y','매출','반품') AS SALE_YN
             , (SELECT '['||TSSH.TBL_CD||']'||tmt.TBL_NM FROM TB_MS_TABLE_V01 tmt WHERE tmt.STORE_CD = TSSH.STORE_CD AND tmt.TBL_CD = TSSH.TBL_CD) AS TBL_CD
             , TO_CHAR(TO_DATE(TSSH.BILL_DT, 'YYYYMMDDHH24MISS'), 'yyyy-MM-dd HH:mm:ss') AS BILL_DT
		     , TSSH.TOT_SALE_AMT
		     , TSSH.TOT_DC_AMT
		     , TSSH.REAL_SALE_AMT
	   <include refid="CmmSQL.PagingTemplateCount"/>
		  FROM TB_SL_SALE_HDR TSSH
		 WHERE 1=1
		 AND TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
		 <if test='storeCd != null and storeCd != ""'>
		 AND TSSH.STORE_CD = #{storeCd}
		 </if>
		 <if test='startDate != null and startDate != ""'>
		 AND TSSH.SALE_DATE >= #{startDate}
		 </if>
		 <if test='endDate != null and endDate != ""'>
         AND TSSH.SALE_DATE <![CDATA[<= ]]>  #{endDate}
         </if>
		 AND TSSH.EMP_NO = #{empNo}
		 ORDER BY TSSH.SALE_DATE DESC, TSSH.POS_NO, TSSH.BILL_NO
	   <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
   
     <select id="getEmpDayPeriodDtlExcelList" parameterType="empDayPeriodVO" resultType="DefaultMap">
        SELECT TO_CHAR(TO_DATE(TSSH.SALE_DATE, 'yyyymmdd'), 'yyyy-mm-dd') AS SALE_DATE
             , TSSH.STORE_CD
		     , TSSH.POS_NO
		     , TSSH.BILL_NO
		     , DECODE(TSSH.SALE_YN,'Y','매출','반품') AS SALE_YN
		     , TSSH.TOT_SALE_AMT
		     , TSSH.TOT_DC_AMT
		     , TSSH.REAL_SALE_AMT
		  FROM TB_SL_SALE_HDR TSSH
		 WHERE 1=1
		 AND TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
		 <if test='storeCd != null and storeCd != ""'>
		 AND TSSH.STORE_CD = #{storeCd}
		 </if>
		 <if test='startDate != null and startDate != ""'>
		 AND TSSH.SALE_DATE >= #{startDate}
		 </if>
		 <if test='endDate != null and endDate != ""'>
         AND TSSH.SALE_DATE <![CDATA[<= ]]>  #{endDate}
         </if>
		 AND TSSH.EMP_NO = #{empNo}
		 ORDER BY TSSH.SALE_DATE DESC, TSSH.POS_NO, TSSH.BILL_NO
    </select>
    
    <select id="getEmpMebList" parameterType="empDayPeriodVO" resultType="DefaultMap">
    	/* USE : EmpDayMapper.getEmpMebList */
    	SELECT EMP_NO AS  NMCODE_CD
    		  ,(EMP_NM||'('||EMP_NO||')') AS  NMCODE_NM
    	FROM
    		   TB_MS_EMPLOYEE TME
    	WHERE STORE_CD = #{storeCd}
    	<if test='empChk != null and empChk != ""'>
    	  AND EXISTS (SELECT * FROM TB_SL_SALE_HDR Z 
    				WHERE Z.store_cd = TME.STORE_CD 
	                  AND Z.EMP_NO = TME.EMP_NO
	                  AND Z.STORE_CD = #{storeCd}        
	                  <if test='startDate != null and startDate != ""'>
	                  AND Z.SALE_DATE >= #{startDate}
	                  </if>
	                  <if test='endDate != null and endDate != ""'>
	                  AND Z.SALE_DATE <![CDATA[<= ]]>  #{endDate}
	                  </if>
	                )
	    </if>
    </select>
    
</mapper>
