<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.anals.store.brand.service.impl.StoreBrandMapper">
    <!-- 매장별매출분석 - 매장순위 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_TOTAL, TB_SL_DAILY_PAY, TB_MS_STORE
        PARAM    : storeBrandVO
        COMMENTS : 매장별매출분석 - 매장순위 리스트를 조회한다.
    -->
    <select id="getStoreBrandList" parameterType="storeBrandVO" resultType="DefaultMap">
	/** StoreBrandMapper.getStoreBrandList */
        SELECT TSDT.STORE_CD
     		 , TMS.STORE_NM
			 , TMSI.INDEX_NO
     		 , NVL(CASE TMS.HQ_BRAND_CD
                    WHEN '0000000' THEN '기본'
                    ELSE (SELECT THB.HQ_BRAND_NM FROM TB_HQ_BRAND THB WHERE THB.HQ_BRAND_CD = TMS.HQ_BRAND_CD)
               END, '기타') AS HQ_BRAND_NM
     		 , SUM(TSDT.TOT_SALE_AMT) AS TOT_SALE_AMT
     		 , SUM(TSDT.TOT_DC_AMT) AS TOT_DC_AMT
     		 , SUM(TSDT.REAL_SALE_AMT) AS REAL_SALE_AMT
     		 , SUM(TSDT.SALE_CNT) AS SALE_CNT
     		 , ROUND(RATIO_TO_REPORT(SUM(TSDT.REAL_SALE_AMT)) OVER() * 100, 2) AS RAT_REAL_SALE_AMT
     		 , ROUND(RATIO_TO_REPORT(SUM(TSDT.SALE_CNT)) OVER() * 100, 2) AS RAT_CNT
  		FROM TB_MS_STORE TMS
  		   , TB_MS_STORE_INFO TMSI
     	   , TB_SL_DAILY_TOTAL TSDT
 		WHERE TMS.STORE_CD = TSDT.STORE_CD
 		  AND TMSI.STORE_CD (+) = TMS.STORE_CD
 		<if test='hqOfficeCd != null and hqOfficeCd != ""'>
 		      AND TMS.HQ_OFFICE_CD = #{hqOfficeCd}
 		</if>
 		<if test='startDate != null and startDate != "" and endDate != null and endDate != ""'>
   		  AND TSDT.SALE_DATE BETWEEN #{startDate} AND #{endDate}
   		</if>
   		<if test='arrStoreCd != null and arrStoreCd != ""'>
             AND TSDT.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
		<if test='orgnFg != null and orgnFg == "H"'>
			AND (
					'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
				OR	TSDT.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
				)
		</if>
		GROUP BY TSDT.STORE_CD, TMS.STORE_NM, TMSI.INDEX_NO, TMS.HQ_BRAND_CD
 	 ORDER BY TMS.STORE_NM

    </select>

	<!-- 매장별매출분석 - 결제수단 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : storeBrandVO
        COMMENTS : 결제수단 컬럼 리스트 조회한다.
    -->
    <select id="getSortFgComboList" parameterType="storeBrandVO" resultType="DefaultMap">
        /* USE : storeBrandMapper.getPayColList */
        <![CDATA[
        SELECT  TCN.NMCODE_CD AS PAY_CD, TCN.NMCODE_NM AS PAY_NM, TCN.NMCODE_ITEM_1 AS PAY_METHOD
        FROM    TB_CM_NMCODE TCN
        WHERE   TCN.NMCODE_GRP_CD   =   '024'
        ORDER
        BY      TCN.NMCODE_CD
        ]]>
    </select>
</mapper>
