<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.anals.store.brand.service.impl.StoreBrandMapper">
    <!-- 매장별매출분석 - 매장순위 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_TOTAL, TB_SL_DAILY_PAY, TB_MS_STORE
        PARAM    : storeBrandVO
        COMMENTS : 매장별매출분석 - 매장순위 리스트를 조회한다.
    -->
    <select id="getStoreBrandList" parameterType="storeBrandVO" resultType="DefaultMap">
		<include refid="CmmSQL.PagingTemplateHeader"/>
        SELECT TSDT.STORE_CD
     		 , TMS.STORE_NM
     		 , SUM(TSDT.TOT_SALE_AMT) AS TOT_SALE_AMT
     		 , SUM(TSDT.TOT_DC_AMT) AS TOT_DC_AMT
     		 , SUM(TSDT.REAL_SALE_AMT) AS REAL_SALE_AMT
     		 , SUM(TSDT.SALE_CNT) AS SALE_CNT
     		 , ROUND(RATIO_TO_REPORT(SUM(TSDT.REAL_SALE_AMT)) OVER() *100, 1) AS RAT_REAL_SALE_AMT
     		 , ROUND(RATIO_TO_REPORT(SUM(TSDT.SALE_CNT)) OVER() *100, 1) AS RAT_CNT
     		 <include refid="CmmSQL.PagingTemplateCount"/>
  		FROM TB_MS_STORE TMS
     	   , TB_SL_DAILY_TOTAL TSDT
 		WHERE TMS.STORE_CD = TSDT.STORE_CD
 		<if test='startDate != null and startDate != ""'>
   		  <![CDATA[
   		  AND TSDT.SALE_DATE >= #{startDate}
   		  ]]>
   		</if>
   		<if test='endDate != null and endDate != ""'>
   		  <![CDATA[
   		  AND TSDT.SALE_DATE <= #{endDate}
   		  ]]>
   		</if>
 	 GROUP BY TSDT.STORE_CD, TMS.STORE_NM
 	 ORDER BY TMS.STORE_NM
 	 <include refid="CmmSQL.PagingTemplateBottom"/>

    </select>

	<!-- 매장별매출분석 - 결제수단 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : storeBrandVO
        COMMENTS : 결제수단 컬럼 리스트 조회한다.
    -->
    <select id="getSortFgComboList" parameterType="storeBrandVO" resultType="DefaultMap">
        /* USE : storeBrandMapper.getPayColList */
        <![CDATA[
        SELECT  TCN.NMCODE_CD AS PAY_CD, TCN.NMCODE_NM AS PAY_NM, TCN.NMCODE_ITEM_1 AS PAY_METHOD
        FROM    TB_CM_NMCODE TCN
        WHERE   TCN.NMCODE_GRP_CD   =   '024'
        ORDER
        BY      TCN.NMCODE_CD
        ]]>
    </select>
</mapper>
