/*
 *
 * Wijmo Library 5.20181.436
 * 버전에 대한 solbipos 커스텀 CSS
 * 원본은 보존하고, 본 파일에 오버라이드 개념으로 재정의하여 사용한다
 *
 * 2018.08.16 솔비포스 차세대개발실 노현수
 *
 */

.wj-control {
    color: initial;
    background: initial;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wj-header {
    background: #e8e8e8;
    color: #222!important;
    font-weight: initial;
    font-size:12px;
    text-align:center!important;
}

/* 그리드에서 "수불", "그룹", "대륭" 같은 텍스트가 시안성 높히기 위해 별도 적용 : 20180905 노현수 */
.wj-flexgrid * {
    font-family: Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
}

.wj-flexgrid .wj-state-sticky .wj-header {
    opacity: 0.90;
}

.wj-header .wj-header-label {
    color: #222!important;
    font-weight: initial;
    font-size:12px;
    text-align:center!important;
    position: absolute;
    top: 0px;
    padding: 10px 0px 0px 3px;
}

.wj-state-selected {
    background: #93cbfc;
    color: #fff!important; }

.wj-state-multi-selected {
    background: #ebf5ff;
    color: #fff;
}

.wj-content {
    display: inline-block;
    /*위즈모 컨텐츠 라인과 radius 없애기*/
    border: none;
    border-radius: unset;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.wj-control .wj-template {
    /*display: initial;*/
    /* 색상팔레트 드랍박스 표시문제로 block 처리, 드랍박스에도 영향있음. : 20180920 노현수 */
    display: block;
}

.wj-control .wj-input-group {
    border-collapse: unset;
    width: auto;
    height: auto;
}

.wj-input-group {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: inherit;
}

.wj-control .wj-input-group .wj-form-control {
    box-sizing: border-box;
    display: table-cell;
    position: relative;
    float: left;
    padding: 0 8px;
    min-height: 2em;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    font-size: 12px;
}

.wj-flexgrid {
    width: 100%;
    height: 100%;
    cursor: default;
    flex:auto;
    overflow-y:auto; /*브라우저창 크기에 따라서 테이블 높이 변경되게 처리*/
}

.wj-flexgrid .wj-grid-editor {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background: inherit;
    color: inherit;
    overflow: hidden;
    resize: none;
    font-size:12px; /*클릭시 크기 고정*/
}

.wj-listbox {
    overflow-y: auto !important
}

.wj-listbox .wj-listbox-item {
    padding: 4px 6px;
    font-size:12px;
}

.wj-cell {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding:9px 5px;
    line-height:15px;
    outline: none;
    color:#666;
    font-size:12px;
}

.wj-cell:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background: initial;
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected):not(.wj-custom-readonly) {
    background: #fff;
}

.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected):not(.wj-custom-readonly) {
    /*background: initial; !*홀수번째 배경 삭제*!*/
    background: #fff; /* 홀수번째 배경도 하얗게 : 20180908 노현수 : cell-frozen 시 오류생김 */
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/** merged 컬럼 정렬 용 */
.merged-custom {
    position: relative;
    height: 100%;
    line-height: 0;
    transform: translateY(50%);
}

.wj-custom-readonly:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    color: #666;
    background-color: #f2f2f2;
}

.wj-grid-multi-editor {
    font-family: '굴림체';
    font-size: 14px !important;
}

.wj-grid-multi-editor textarea {
    font-family: '굴림체';
    font-size: 14px !important;
}

.wj-gridWrap {
    overflow: initial;
}
.wj-gridWrap .row {
    height: 100%;
}
.wj-dialog-columns {
    width: 100%;
}
.wj-popup {
    border-radius: 4px;
    box-shadow: 0 0 20px 0px #222;
}
.wj-dialog-index {
    z-index: 1600 !important;
}
.wj-popup .wj-dialog-header {
    height: 50px;
    border-bottom: 1px solid #dbdbdb;
    line-height: 50px;
    padding: 0 30px;
    color: #222;
    background: initial;
}
.wj-dialog-header .btn_close {position: absolute;right: 10px;top: 5px;}
.wj-dialog-header .btn_close {display: inline-block;width: 45px;height: 40px;border-radius: 5px;transition: all 0.3s;}
.wj-dialog-header .btn_close:hover {background:#e8e8e8; transition:all 0.3s;}
.wj-dialog-header .btn_close:hover:before {transform:rotate(225deg);}
.wj-dialog-header .btn_close:hover:after {transform:rotate(135deg);}
.wj-dialog-header .btn_close:before {content: ''; position: absolute; top: 18px; right: 10px; width: 24px; height: 3px; background: #aeaeae; border-radius: 20%; transform: rotate(45deg); transition: all 0.3s;}
.wj-dialog-header .btn_close:after {content: ''; position: absolute; top: 18px; right: 10px; width: 24px; height: 3px; background: #aeaeae; border-radius: 20%; transform: rotate(-45deg); transition: all 0.3s;}

.wj-popup .wj-dialog-header-font {
    font-family: 'NotoR', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.wj-popup .wj-dialog-body {
    padding: 20px 30px 0;
}
.wj-popup .wj-popup-loading {
    padding: 20px 0;
    text-align: center;
}
.wj-popup .wj-popup-alert {
    padding: 30px 10px;
    text-align: center;
}
.wj-popup .wj-dialog-footer {
    text-align: center;
}
.wj-popup .wj-popup-alert-footer {
    padding: 0px 0px 30px;
}
.wj-dialog-body .text-info {
    font-size: 12px;
    line-height: 1.2em;
}
.wj-dialog-body .wj-dialog-content {
    /*overflow-y: auto;*/
    width: 100%;
}
.wj-column-picker-wrap {
    border: 1px solid #dbdbdb;
}
.wj-columnlists .column-list {
    width: 50%;
    height: 200px;
}
.wj-column-picker-wrap .column-list-title {
    text-align: center;
    font-size: 14px;
    color: #222;
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;
}
.wj-columnpicker {
    height: 200px;
    position: relative;
}
.wj-columnpicker .wj-columnlists {
    height: 100%;
    display: flex;
    padding: 4px;
}
.wj-column-picker-wrap .wj-column-picker-list {
    height: 170px !important;
    width: 100%;
    overflow-y: auto;
    display: inline-block;
}
.wj-columnpicker .wj-listbox {
    flex-grow: 1;
    height: 100%;
    padding: 4px;
    border: none;
}
.wj-columnpicker .wj-listbox .wj-listbox-item.wj-state-selected {
    background-color: transparent;
    color: inherit;
    font-weight: bold;
}
.wj-columnpicker .wj-marker {
    position: absolute;
    background-color: #0085c7;
    opacity: 0.5;
    pointer-events: none;
}

.wj-column-picker-list .wj-state-selected {
    background: #0085c7;
    color: #888 !important;
}

.wj-control input.ng-invalid-required, .wj-combobox.ng-invalid-required, input[readonly].ng-invalid-required {
    border: 1px solid #c00;
    border-left: 5px solid #c00;
}
