<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.corner.day.service.impl.CornerDayMapper">

    <!-- 코너별매출일자별 - 리스트 조회 -->
    <!--
        TABLE    : TB_SL_DAILY_CORNR_PROD, TB_MS_CORNER, TB_MS_PRODUCT
        PARAM    : cornerDayVO
        COMMENTS : 코너별매출일자별 - 리스트를 조회한다.
    -->
    <select id="getCornerDayList" parameterType="cornerDayVO" resultType="DefaultMap">
       <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'YYYYMMDD'),'YYYY-MM-DD') SALE_DATE  
              ,TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'yyyymmdd'),'DY') yoil
              ,NVL(SUM(TSDCP.REAL_SALE_AMT),'0') TOT_REAL_SALE_AMT
              ,NVL(SUM(TSDCP.TOT_SALE_QTY),'0') TOT_SALE_QTY
              ${sQuery1}
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_SL_DAILY_CORNR_PROD TSDCP
        WHERE TSDCP.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSDCP.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='arrCornrCd != null and arrCornrCd != ""'>
            AND TSDCP.STORE_CD||'||'||TSDCP.CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSDCP.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSDCP.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        GROUP BY TSDCP.SALE_DATE, TO_CHAR(TO_DATE(TSDCP.SALE_DATE, 'yyyymmdd'),'DY')
        ORDER BY TSDCP.SALE_DATE DESC
        ]]>
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
    
    
    <select id="getCornerNmList" parameterType="cornerDayVO" resultType="DefaultMap">
    <![CDATA[
      SELECT  TMC.STORE_CD||'||'||TMC.CORNR_CD AS CORNR_CD
            , TMC.CORNR_NM
            , NVL((SELECT STORE_NM FROM TB_MS_STORE WHERE STORE_CD = TMC.STORE_CD), TMC.STORE_CD) AS STORE_NM
        FROM  TB_MS_CORNER TMC
        WHERE 1 = 1
          AND EXISTS (SELECT * FROM TB_MS_STORE Z WHERE Z.STORE_CD = TMC.STORE_CD AND Z.HQ_OFFICE_CD = #{hqOfficeCd})
    ]]>
        <if test='arrStoreCd != null and arrStoreCd.length >= 0'>
            AND TMC.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
         <if test='arrCornrCd != null and arrCornrCd.length >= 0'>
            AND TMC.STORE_CD||'||'||TMC.CORNR_CD IN
            <foreach collection="arrCornrCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    <![CDATA[
        ORDER BY TMC.STORE_CD||'||'||TMC.CORNR_CD
    ]]>
    </select>
    
</mapper>
