<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.prod.hour.service.impl.ProdHourMapper">
    <!-- 상품별매출 - 시간대별 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_DTL, TB_MS_TABLE, TB_MS_PRODUCT, TB_MS_PRODUCT_BARCD
        PARAM    : todayBillSaleDtlVO
        COMMENTS : 영수증별매출상세현황 - 영수증별매출상세 리스트를 조회한다.
    -->
    <select id="getProdHourList" parameterType="prodHourVO" resultType="DefaultMap">
        /* USE : ProdRankMapper.getProdRankList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT M.PROD_CD
     			, TMP.PROD_NM
				${sQuery1}
			<include refid="CmmSQL.PagingTemplateCount"/>
		    FROM TB_MS_PRODUCT TMP
		    	, (
         		    SELECT TSDPT.STORE_CD
		           			, TSDPT.PROD_CD
		           			, TSDPT.SALE_HOUR
							${sQuery2}
        			FROM SBPORA.TB_SL_DAILY_PROD_TIME TSDPT
		 			WHERE 1 = 1
		 			<if test='arrStoreCd != null and arrStoreCd != ""'>
                    	AND TSDPT.STORE_CD IN
	                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
	                        #{item}
	                    </foreach>
	                </if>
                    <if test='startDate != null and startDate != ""'>
					   AND TSDPT.SALE_DATE >= #{startDate}
					</if>
					<if test='endDate != null and endDate != ""'>
					   AND TSDPT.SALE_DATE <![CDATA[<= ]]> #{endDate}
					</if>
					GROUP BY TSDPT.STORE_CD, TSDPT.PROD_CD, TSDPT.SALE_HOUR
       				) M
		WHERE TMP.STORE_CD = M.STORE_CD
		AND TMP.PROD_CD = M.PROD_CD
		GROUP BY M.PROD_CD, TMP.PROD_NM
		ORDER BY M.PROD_CD, TMP.PROD_NM
		<include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

</mapper>
