<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ProdHourMapper.xml
    상품별 > 시간대별 탭
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       김진       2020.02.06     최초작성
    2       김설아     2021.01.04
-->
<mapper namespace="kr.co.solbipos.sale.status.prod.hour.service.impl.ProdHourMapper">

    <!-- 시간대별탭 - 조회 -->
    <!--
        TABLE    :
        PARAM    : prodHourVO
        COMMENTS :
    -->
    <select id="getProdHourList" parameterType="prodHourVO" resultType="DefaultMap">
        /* USE : ProdHourMapper.getProdHourList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT
		PATH_NM,
		PROD_CD,
		PROD_NM
        ${sQuery2}
		<include refid="CmmSQL.PagingTemplateCount"/>
		FROM
		(
			SELECT
			FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
			tsdp.PROD_CD,
			tmp.PROD_NM,
            SUBSTR(tsdp.SALE_DATE, 5, 2) AS SALE_TIME
            ${sQuery1}
			FROM TB_SL_DAILY_PROD tsdp,
			TB_MS_PRODUCT tmp
			WHERE 1=1
			AND tsdp.HQ_OFFICE_CD = #{hqOfficeCd}
			<if test='storeCd != null and storeCd != ""'>
				AND tsdp.STORE_CD IN
				<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			AND tsdp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
			AND tmp.STORE_CD = tsdp.STORE_CD
			AND tmp.PROD_CD = tsdp.PROD_CD
			GROUP BY tsdp.PROD_CD, tmp.PROD_NM, tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdp.SALE_DATE
		)
		GROUP BY PROD_CD, PROD_NM, PATH_NM
		ORDER BY PROD_CD
		<include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

	<!-- 시간대별탭 - 엑셀 조회 -->
	<!--
        TABLE    :
        PARAM    : prodHourVO
        COMMENTS :
    -->
    <select id="getProdHourExcelList" parameterType="prodHourVO" resultType="DefaultMap">
        /* USE : ProdHourMapper.getProdHourExcelList */
        SELECT
        PATH_NM,
        PROD_CD,
        PROD_NM
        ${sQuery2}
        FROM
        (
            SELECT
            FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
            tsdp.PROD_CD,
            tmp.PROD_NM,
            SUBSTR(tsdp.SALE_DATE, 5, 2) AS SALE_TIME
            ${sQuery1}
            FROM TB_SL_DAILY_PROD tsdp,
            TB_MS_PRODUCT tmp
            WHERE 1=1
            AND tsdp.HQ_OFFICE_CD = #{hqOfficeCd}
            <if test='storeCd != null and storeCd != ""'>
                AND tsdp.STORE_CD IN
                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            AND tsdp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
            AND tmp.STORE_CD = tsdp.STORE_CD
            AND tmp.PROD_CD = tsdp.PROD_CD
            GROUP BY tsdp.PROD_CD, tmp.PROD_NM, tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdp.SALE_DATE
        )
        GROUP BY PROD_CD, PROD_NM, PATH_NM
        ORDER BY PROD_CD
    </select>

</mapper>