<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.today.todayGnrlz.service.impl.TodayGnrlzMapper">

    <!-- 당일매출종합현황 - 매출종합 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR
        PARAM    : todayGnrlzVO
        COMMENTS : 당일매출종합현황 - 매출종합 리스트를 조회한다.
    -->
    <select id="getTodayGnrlzList" parameterType="todayGnrlzVO" resultType="DefaultMap">
        /* USE : TodayGnrlzMapper.getTodayGnrlzList */
        SELECT SALE_DATE,
               SUM(TOT_SALE_AMT) AS TOT_SALE_AMT,
               SUM(TOT_DC_AMT) AS TOT_DC_AMT,
               SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
               SUM(RTN_SALE_AMT) AS CANCEL_AMT
          FROM TB_SL_DAILY_TOTAL
         WHERE HQ_OFFICE_CD = #{hqOfficeCd}
           AND SALE_DATE = #{startDate}
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
         GROUP BY SALE_DATE
    </select>


    <!-- 당일매출종합현황 - 결제수단별 매출 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR_PAY, TB_CM_NMCODE
        PARAM    : todayGnrlzVO
        COMMENTS : 당일매출종합현황 - 결제수단별 매출 리스트를 조회한다.
    -->
    <select id="getTodayGnrlzPayList" parameterType="todayGnrlzVO" resultType="DefaultMap">
        /* USE : TodayGnrlzMapper.getTodayGnrlzPayList */
        SELECT PAY_CD, PAY_NM, SUM(PAY_AMT) AS PAY_AMT, SUM(PAY_RATE) AS PAY_RATE
          FROM (
            SELECT tsdp.PAY_CD,
                   tcn.NMCODE_NM AS PAY_NM,
                   SUM(tsdp.TOT_PAY_AMT) AS PAY_AMT,
                   DECODE(tsdptot.TOT_PAY_AMT, 0, 0, ((SUM(tsdp.TOT_PAY_AMT)/tsdptot.TOT_PAY_AMT)*100)) AS PAY_RATE
              FROM TB_SL_DAILY_PAY tsdp,
                   TB_CM_NMCODE tcn,
                   (SELECT SUM(TOT_PAY_AMT) AS TOT_PAY_AMT
                      FROM TB_SL_DAILY_PAY
                     WHERE HQ_OFFICE_CD = #{hqOfficeCd}
                       AND SALE_DATE = #{startDate}
                    <if test='arrStoreCd != null and arrStoreCd != ""'>
                       AND STORE_CD IN
                        <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>) tsdptot
              WHERE tsdp.HQ_OFFICE_CD = #{hqOfficeCd}
                AND tsdp.SALE_DATE = #{startDate}
            <if test='arrStoreCd != null and arrStoreCd != ""'>
                AND tsdp.STORE_CD IN
                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
                AND tcn.NMCODE_GRP_CD = '024'
                AND tcn.NMCODE_CD = tsdp.PAY_CD
              GROUP BY tsdp.PAY_CD, tcn.NMCODE_NM, tsdp.TOT_PAY_AMT, tsdptot.TOT_PAY_AMT
            )
        GROUP BY PAY_CD, PAY_NM
        ORDER BY PAY_CD
    </select>


    <!-- 당일매출종합현황 - 회원 Point 적립/사용 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR_MEMBR, TB_SL_SALE_PAY_POINT, TB_MB_MEMBER
        PARAM    : todayGnrlzVO
        COMMENTS : 당일매출종합현황 - 회원 Point 적립/사용 리스트를 조회한다.
    -->
    <select id="getTodayGnrlzMemberList" parameterType="todayGnrlzVO" resultType="DefaultMap">
        /* USE : TodayGnrlzMapper.getTodayGnrlzMemberList */
        SELECT  MEMBR_NO, MEMBR_NM
        ,      SUM(SAVE_POINT) AS SAVE_POINT
        ,      SUM(USE_POINT)  AS USE_POINT
        FROM    (
        SELECT  tsshm.MEMBR_NO, SBPENC.D(tsshm.MEMBR_NM) AS MEMBR_NM
        ,       SUM(tsshm.SALE_SAVE_POINT) AS SAVE_POINT
        ,       0 AS USE_POINT
        FROM    TB_SL_SALE_HDR_MEMBR tsshm
        WHERE   tsshm.HQ_OFFICE_CD  =   #{hqOfficeCd}
        AND     tsshm.SALE_DATE     =   #{startDate}
        AND     tsshm.SALE_SAVE_POINT > 0
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND tsshm.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP
        BY      tsshm.MEMBR_NO, tsshm.MEMBR_NM
        UNION ALL
        SELECT  tsspp.MEMBR_NO, SBPENC.D(tmm.MEMBR_NM) AS MEMBR_NM
        ,       0 AS SAVE_POINT
        ,       SUM(tsspp.SALE_AMT) AS USE_POINT
        FROM    TB_SL_SALE_PAY_POINT tsspp
        ,       TB_MB_MEMBER tmm
        WHERE   tsspp.HQ_OFFICE_CD  =   #{hqOfficeCd}
        AND     tsspp.SALE_DATE     =   #{startDate}
        AND     tmm.MEMBR_ORGN_CD   =   #{orgnCd}
        AND     tmm.MEMBR_NO        =   tsspp.MEMBR_NO
        AND     tsspp.SALE_AMT      > 0
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND tsspp.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP
        BY      tsspp.MEMBR_NO, tmm.MEMBR_NM
        )
        GROUP
        BY      MEMBR_NO, MEMBR_NM
        ORDER
        BY      MEMBR_NO
    </select>


    <!-- 당일매출종합현황 - 상품별 매출현황 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR_PAY, TB_CM_NMCODE
        PARAM    : todayGnrlzVO
        COMMENTS : 당일매출종합현황 - 상품별 매출현황 리스트를 조회한다.
    -->
    <select id="getTodayGnrlzProdList" parameterType="todayGnrlzVO" resultType="DefaultMap">
        /* USE : TodayGnrlzMapper.getTodayGnrlzProdList */
        SELECT tsdp.PROD_CD,
               tmp.PROD_NM,
               SUM(tsdp.REAL_SALE_AMT) AS REAL_SALE_AMT,
               SUM(tsdp.TOT_SALE_QTY) AS SALE_QTY
          FROM TB_SL_DAILY_PROD tsdp,
               TB_MS_PRODUCT tmp
         WHERE tsdp.HQ_OFFICE_CD = #{hqOfficeCd}
           AND tsdp.SALE_DATE = #{startDate}
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND tsdp.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
           AND tmp.STORE_CD = tsdp.STORE_CD
           AND tmp.PROD_CD  = tsdp.PROD_CD
         GROUP BY tsdp.PROD_CD, tmp.PROD_NM
         ORDER BY REAL_SALE_AMT DESC, SALE_QTY DESC
    </select>
</mapper>
