<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.day.day.service.impl.DayMapper">

    <!-- 일자별 - 결제수단 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : dayVO
        COMMENTS : 일자별 - 결제수단 컬럼 리스트를 조회한다.
    -->
    <select id="getPayColList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getPayColList */
        <![CDATA[
        SELECT  tcn.NMCODE_CD AS PAY_CD, tcn.NMCODE_NM AS PAY_NM, tcn.NMCODE_ITEM_1 AS PAY_METHOD
        FROM    TB_CM_NMCODE tcn
        WHERE   tcn.NMCODE_GRP_CD   =   '024'
        AND     tcn.NMCODE_CD       NOT IN ('05', '12') /* 쿠폰은 결제수단이 아닌 할인내역으로 들어가므로 하드코딩으로 결제수단에 나오지 않도록 함. */
        ORDER
        BY      tcn.NMCODE_CD
        ]]>
    </select>


    <!-- 일자별 - 할인 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : dayVO
        COMMENTS : 일자별 - 할인 컬럼 리스트를 조회한다.
    -->
    <select id="getDcColList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDcColList */
        <![CDATA[
        SELECT  tcn.NMCODE_CD AS DC_CD, tcn.NMCODE_NM AS DC_NM, tcn.NMCODE_ITEM_1 AS DC_METHOD
        FROM    TB_CM_NMCODE tcn
        WHERE   tcn.NMCODE_GRP_CD   =   '041'
        ORDER
        BY      tcn.NMCODE_CD
        ]]>
    </select>

    <!-- 외식테이블 탭 - 외식테이블 컬럼 리스트 조회-->
    <!--
        TABLE    : TB_MS_TABLE
        COMMENTS : [매장]테이블
    -->
    <select id="getTableColList"  parameterType="dayVO" resultType="DefaultMap">
        /* DayOfWeekMapper.getTableColList */
        SELECT
        tmt.STORE_CD,
        tmt.TBL_CD,
        tmt.TBL_NM
        FROM TB_MS_TABLE tmt
        WHERE 1=1
        <if test='storeCd != null and storeCd != ""'>
            <![CDATA[
                AND tmt.STORE_CD = #{storeCd}
            ]]>
        </if>
        ORDER BY tmt.STORE_CD, tmt.TBL_CD
    </select>

    <!-- 포스별 탭 - 포스 컬럼 리스트 조회-->
    <!--
        TABLE    : TB_MS_POS
        COMMENTS : [매장]포스 정보
    -->
    <select id="getPosColList"  parameterType="dayVO" resultType="DefaultMap">
        /* DayOfWeekMapper.getPosColList */
        SELECT
        tmp.POS_NO,
        ('POS' || tmp.POS_NM) AS POS_NM
        FROM TB_MS_POS tmp
        WHERE 1=1
        <if test='storeCd != null and storeCd != ""'>
            <![CDATA[
                AND tmp.STORE_CD = #{storeCd}
            ]]>
        </if>
        GROUP BY tmp.POS_NO, tmp.POS_NM
        ORDER BY tmp.POS_NO
    </select>

    <!-- 일자별(일별종합 탭) - 일별종합 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR, TB_SL_SALE_HDR_PAY, TB_SL_SALE_HDR_DC
        PARAM    : dayVO
        COMMENTS : 일자별(일별종합 탭) - 일별종합 리스트를 조회한다.
    -->
    <select id="getDayTotalList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayTotalList */
        <![CDATA[
        SELECT  tssh.SALE_DATE
        ,       tssh.YOIL
        ,       tssh.STORE_CNT
        ,       tssh.TOT_SALE_AMT
        ,       tssh.TOT_DC_AMT
        ,       tssh.REAL_SALE_AMT
        ,       tssh.GA_AMT
        ,       tssh.VAT_AMT
        ,       tssh.TOT_TIP_AMT
        ,       tssh.TOT_ETC_AMT
        ,       tssh.BILL_CNT
        ,       tssh.BILL_UPRC
        ,       tssddp.GEN_REAL_SALE_AMT
        ,       DECODE(tssh.REAL_SALE_AMT, 0, 0, (tssddp.GEN_REAL_SALE_AMT / tssh.REAL_SALE_AMT)*100) AS GEN_REAL_SALE_RATE
        ,       tssddp.DLVR_REAL_SALE_AMT
        ,       DECODE(tssh.REAL_SALE_AMT, 0, 0, (tssddp.DLVR_REAL_SALE_AMT / tssh.REAL_SALE_AMT)*100) AS DLVR_REAL_SALE_RATE
        ,       tssddp.PACK_REAL_SALE_AMT
        ,       DECODE(tssh.REAL_SALE_AMT, 0, 0, (tssddp.PACK_REAL_SALE_AMT / tssh.REAL_SALE_AMT)*100) AS PACK_REAL_SALE_RATE
        ]]>
        ,       <foreach collection="arrPayCol" item="item" separator="+">
                    NVL(tsshp.PAY${item}, 0)
                </foreach> AS TOT_PAY_AMT
        ,       <foreach collection="arrPayCol" item="item" separator=",">
                    tsshp.PAY${item} AS PAY${item}
                </foreach>
        <![CDATA[
        FROM    (   SELECT  tssh.SALE_DATE
                    ,       TO_CHAR(TO_DATE(tssh.SALE_DATE, 'YYYYMMDD'), 'DY') AS YOIL
                    ,       COUNT(tssh.STORE_CD) AS STORE_CNT
                    ,       SUM(tssh.TOT_SALE_AMT) AS TOT_SALE_AMT
                    ,       SUM(tssh.TOT_DC_AMT) AS TOT_DC_AMT
                    ,       SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT
                    ,       SUM(tssh.REAL_SALE_AMT) - SUM(tssh.VAT_AMT) AS GA_AMT
                    ,       SUM(tssh.VAT_AMT) AS VAT_AMT
                    ,       SUM(tssh.TOT_TIP_AMT) AS TOT_TIP_AMT
                    ,       SUM(tssh.TOT_ETC_AMT) AS TOT_ETC_AMT
                    ,       SUM(tssh.BILL_CNT) AS BILL_CNT
                    ,       DECODE(SUM(tssh.BILL_CNT), 0, 0, ROUND(SUM(tssh.REAL_SALE_AMT) / SUM(tssh.BILL_CNT))) AS BILL_UPRC
                    FROM    (   SELECT  tssh.SALE_DATE, tssh.STORE_CD
                                ,       SUM(tssh.TOT_SALE_AMT) AS TOT_SALE_AMT
                                ,       SUM(tssh.TOT_DC_AMT) AS TOT_DC_AMT
                                ,       SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT
                                ,       SUM(tssh.REAL_SALE_AMT) - SUM(tssh.VAT_AMT) AS GA_AMT
                                ,       SUM(tssh.VAT_AMT) AS VAT_AMT
                                ,       SUM(tssh.TOT_TIP_AMT) AS TOT_TIP_AMT
                                ,       SUM(tssh.TOT_ETC_AMT) AS TOT_ETC_AMT
                                ,       COUNT(tssh.BILL_NO) AS BILL_CNT
                                FROM    TB_SL_SALE_HDR tssh
                                WHERE   tssh.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
                                <if test='arrStoreCd != null and arrStoreCd != ""'>
                                    AND tssh.STORE_CD IN
                                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
        <![CDATA[
                                AND     tssh.SALE_DATE  BETWEEN #{startDate} AND #{endDate}
                                GROUP
                                BY      tssh.SALE_DATE, tssh.STORE_CD
                            ) tssh
                    GROUP
                    BY      tssh.SALE_DATE
                ) tssh
        ,       (   SELECT  SALE_DATE
        ]]>
                    ,       <foreach collection="arrPayCol" item="item" separator=",">
                                SUM(PAY${item}) AS PAY${item}
                            </foreach>
        <![CDATA[
                    FROM    (   SELECT  tsshp.SALE_DATE, tsshp.PAY_CD, tsshp.PAY_AMT
                                FROM    TB_SL_SALE_HDR_PAY tsshp
                                WHERE   tsshp.HQ_OFFICE_CD  = #{hqOfficeCd}
        ]]>
                                <if test='arrStoreCd != null and arrStoreCd != ""'>
                                    AND tsshp.STORE_CD IN
                                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
        <![CDATA[
                                AND     tsshp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                            )
                    PIVOT   (
                                SUM(PAY_AMT)
                                FOR PAY_CD
                                IN (${pivotPayCol})
                            )
                    GROUP BY SALE_DATE
                ) tsshp
        ,       (   SELECT	tssd.SALE_DATE
                    ,       DECODE(tssd.DLVR_PACK_FG, '1', SUM(tssd.REAL_SALE_AMT), 0) AS GEN_REAL_SALE_AMT
                    ,       DECODE(tssd.DLVR_PACK_FG, '2', SUM(tssd.REAL_SALE_AMT), 0) AS DLVR_REAL_SALE_AMT
                    ,       DECODE(tssd.DLVR_PACK_FG, '3', SUM(tssd.REAL_SALE_AMT), 0) AS PACK_REAL_SALE_AMT
                    FROM	TB_SL_SALE_DTL tssd
                    WHERE	tssd.HQ_OFFICE_CD	=	#{hqOfficeCd}
        ]]>
                    <if test='arrStoreCd != null and arrStoreCd != ""'>
                        AND tssd.STORE_CD IN
                        <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
        <![CDATA[
                    AND     tssd.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                    GROUP
                    BY      tssd.SALE_DATE, tssd.DLVR_PACK_FG
                ) tssddp
        WHERE   tsshp.SALE_DATE  (+) = tssh.SALE_DATE
        AND     tssddp.SALE_DATE (+) = tssh.SALE_DATE
        ORDER
        BY      tssh.SALE_DATE DESC
        ]]>
    </select>


    <!-- 일자별(일별종합 탭) - 일자 팝업 매장별 매출현황 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR
        PARAM    : dayVO
        COMMENTS : 일자별(일별종합 탭) - 일자 매장별 매출현황 리스트를 조회한다.
    -->
    <select id="getDayStoreDtlList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayStoreDtlList */
        SELECT
        tssh.HQ_OFFICE_CD,
        tssh.STORE_CD,
        (SELECT STORE_NM FROM TB_MS_STORE WHERE HQ_OFFICE_CD = tssh.HQ_OFFICE_CD AND STORE_CD = tssh.STORE_CD) AS STORE_NM,
        SUM(tssh.TOT_SALE_AMT) AS TOT_SALE_AMT,
        SUM(tssh.TOT_DC_AMT) AS TOT_DC_AMT,
        SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT,
        COUNT(tssh.BILL_NO) AS BILL_CNT,
        ROUND(SUM(tssh.REAL_SALE_AMT) / COUNT(tssh.BILL_NO)) AS BILL_UPRC
        FROM
        (
            SELECT
            HQ_OFFICE_CD,
            STORE_CD,
            TOT_SALE_AMT,
            TOT_DC_AMT,
            REAL_SALE_AMT,
            BILL_NO
            FROM TB_SL_SALE_HDR
            WHERE 1=1
            AND HQ_OFFICE_CD = #{hqOfficeCd}
            <choose>
                <when test='gubun != null'>
                    <!-- 기간별매출 > 일자별 탭 > 일별종합 탭 -->
                    <if test='gubun == "day"'>
                        <![CDATA[
                            AND SALE_DATE = #{saleDate}
                        ]]>
                    </if>
                    <!-- 기간별매출 > 월별 탭 > 월별종합 탭 -->
                    <if test='gubun == "month"'>
                        <![CDATA[
                            AND SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                        ]]>
                    </if>
                </when>
            </choose>
            <if test='arrStoreCd != null and arrStoreCd != ""'>
                AND STORE_CD IN
                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        ) tssh
        WHERE 1=1
        GROUP BY tssh.HQ_OFFICE_CD, tssh.STORE_CD
        ORDER BY tssh.HQ_OFFICE_CD, tssh.STORE_CD
    </select>


    <!-- 일자별(할인구분별 탭) - 할인구분 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR_DC
        PARAM    : dayVO
        COMMENTS : 일자별(할인구분별 탭) - 할인구분 리스트를 조회한다.
    -->
    <select id="getDayStoreDcList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayStoreDcList */
        SELECT
        tsshd.HQ_OFFICE_CD,
        tsshd.STORE_CD,
        (SELECT STORE_NM FROM TB_MS_STORE WHERE HQ_OFFICE_CD = tsshd.HQ_OFFICE_CD AND STORE_CD = tsshd.STORE_CD) AS STORE_NM,
        <foreach collection="arrDcCol" item="item" separator="+">
            NVL(tsshd.DC${item}, 0)
        </foreach> AS TOT_DC_AMT,
        <foreach collection="arrDcCol" item="item" separator=",">
            NVL(tsshd.DC${item}, 0) AS DC${item}
        </foreach>
        FROM
        (
            SELECT
            HQ_OFFICE_CD,
            STORE_CD,
            <foreach collection="arrDcCol" item="item" separator=",">
                SUM(DC${item}) AS DC${item}
            </foreach>
            FROM
            (
                SELECT
                HQ_OFFICE_CD,
                STORE_CD,
                DC_CD,
                DC_AMT
                FROM TB_SL_SALE_HDR_DC
                WHERE 1=1
                AND HQ_OFFICE_CD = #{hqOfficeCd}
                <choose>
                    <when test='gubun != null'>
                        <!-- 기간별매출 > 일자별 탭 > 일별종합 탭 -->
                        <if test='gubun == "day"'>
                            <![CDATA[
                                AND SALE_DATE = #{saleDate}
                            ]]>
                        </if>
                        <!-- 기간별매출 > 월별 탭 > 월별종합 탭 -->
                        <if test='gubun == "month"'>
                            <![CDATA[
                                AND SALE_DATE BETWEEN #{yearMonth}||'01' AND #{yearMonth} ||'31'
                            ]]>
                        </if>
                    </when>
                </choose>
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            )
            PIVOT
            (
                SUM(DC_AMT)
                FOR DC_CD
                IN (${pivotDcCol})
            )
            GROUP BY HQ_OFFICE_CD, STORE_CD
        ) tsshd
        WHERE 1=1
        ORDER BY HQ_OFFICE_CD, STORE_CD
    </select>


    <!-- 일자별(할인구분별 탭) - 할인구분 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR_DC
        PARAM    : dayVO
        COMMENTS : 일자별(할인구분별 탭) - 할인구분 리스트를 조회한다.
    -->
    <select id="getDayDcList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayDcList */
        <![CDATA[
        SELECT  tsshd.SALE_DATE
        ,       TO_CHAR(TO_DATE(tsshd.SALE_DATE, 'YYYYMMDD'), 'DY') AS YOIL
        ,       tsshd.STORE_CNT
        ]]>
        ,       <foreach collection="arrDcCol" item="item" separator="+">
                    NVL(tsshd.DC${item}, 0)
                </foreach> AS TOT_DC_AMT
        ,       <foreach collection="arrDcCol" item="item" separator=",">
                    tsshd.DC${item} AS DC${item}
                </foreach>
        <![CDATA[
        FROM    (   SELECT  SALE_DATE
                    ,       COUNT(STORE_CD) AS STORE_CNT
        ]]>
                    ,       <foreach collection="arrDcCol" item="item" separator=",">
                                SUM(DC${item}) AS DC${item}
                            </foreach>
        <![CDATA[
                    FROM    (   SELECT  tsshd.SALE_DATE, tsshd.STORE_CD, tsshd.DC_CD, tsshd.DC_AMT
                                FROM    TB_SL_SALE_HDR_DC tsshd
                                WHERE   tsshd.HQ_OFFICE_CD  = #{hqOfficeCd}
                                AND     tsshd.SALE_DATE BETWEEN #{startDate} AND #{endDate}
        ]]>
                                <if test='arrStoreCd != null and arrStoreCd != ""'>
                                    AND tsshd.STORE_CD IN
                                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
        <![CDATA[
                            )
                    PIVOT   (
                                SUM(DC_AMT)
                                FOR DC_CD
                                IN (${pivotDcCol})
                            )
                    GROUP BY SALE_DATE
                ) tsshd
        ORDER
        BY      tsshd.SALE_DATE DESC
        ]]>
    </select>


    <!-- 일자별(과면세별 탭) - 과면세 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR
        PARAM    : dayVO
        COMMENTS : 일자별(과면세별 탭) - 과면세 리스트 조회한다.
    -->
    <select id="getDayTaxList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayTaxList */
        <![CDATA[
        SELECT  tssh.SALE_DATE
        ,       tssh.YOIL
        ,       tssh.STORE_CNT
        ,       tssh.TOT_SALE_AMT
        ,       tssh.TOT_DC_AMT
        ,       tssh.REAL_SALE_AMT
        ,       tssh.TAX_SALE_AMT
        ,       tssh.GA_AMT
        ,       tssh.VAT_AMT
        ,       tssh.NO_TAX_SALE_AMT
        ,       tssh.NET_SALE_AMT
        FROM    (   SELECT  tssh.SALE_DATE
                    ,       TO_CHAR(TO_DATE(tssh.SALE_DATE, 'YYYYMMDD'), 'DY') AS YOIL
                    ,       COUNT(tssh.STORE_CD) AS STORE_CNT
                    ,       SUM(tssh.TOT_SALE_AMT) AS TOT_SALE_AMT
                    ,       SUM(tssh.TOT_DC_AMT) AS TOT_DC_AMT
                    ,       SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT
                    ,       SUM(tssh.TAX_SALE_AMT) AS TAX_SALE_AMT
                    ,       SUM(tssh.TAX_SALE_AMT) - SUM(tssh.VAT_AMT) AS GA_AMT
                    ,       SUM(tssh.VAT_AMT) AS VAT_AMT
                    ,       SUM(tssh.NO_TAX_SALE_AMT) AS NO_TAX_SALE_AMT
                    ,       SUM(tssh.NET_SALE_AMT) AS NET_SALE_AMT
                    FROM    (   SELECT  tssh.SALE_DATE, tssh.STORE_CD
                                ,       SUM(tssh.TOT_SALE_AMT) AS TOT_SALE_AMT
                                ,       SUM(tssh.TOT_DC_AMT) AS TOT_DC_AMT
                                ,       SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT
                                ,       SUM(tssh.TAX_SALE_AMT) AS TAX_SALE_AMT
                                ,       SUM(tssh.TAX_SALE_AMT) - SUM(tssh.VAT_AMT) AS GA_AMT
                                ,       SUM(tssh.VAT_AMT) AS VAT_AMT
                                ,       SUM(tssh.NO_TAX_SALE_AMT) AS NO_TAX_SALE_AMT
                                ,       SUM(tssh.NET_SALE_AMT) AS NET_SALE_AMT
                                FROM    TB_SL_SALE_HDR tssh
                                WHERE   tssh.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
                            <if test='arrStoreCd != null and arrStoreCd != ""'>
                                  AND tssh.STORE_CD IN
                                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                      #{item}
                                </foreach>
                            </if>
        <![CDATA[
                                AND     tssh.SALE_DATE  BETWEEN #{startDate} AND #{endDate}
                                GROUP
                                BY      tssh.SALE_DATE, tssh.STORE_CD
                            ) tssh
                    GROUP
                    BY      tssh.SALE_DATE
                ) tssh
        ORDER
        BY      tssh.SALE_DATE DESC
        ]]>
    </select>


    <!-- 일자별(시간대별 탭) - 시간대별 리스트 조회 -->
    <!--
        TABLE    : TB_SL_SALE_HDR
        PARAM    : dayVO
        COMMENTS : 일자별(시간대별 탭) - 시간대별 리스트 조회한다.
    -->
    <select id="getDayTimeList" parameterType="dayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDayTimeList */
        <![CDATA[
        SELECT tssh.SALE_DATE
      	,      tssh.YOIL
      	,      tssh.STORE_CNT
      	,      tssh.REAL_SALE_AMT
      	,      tssh.SALE_CNT
      	,      tssh.TOT_GUEST_CNT
		       ${sQuery1}
        FROM
      	        (
      				SELECT tssh.SALE_DATE
      				,       TO_CHAR(TO_DATE(tssh.SALE_DATE, 'YYYYMMDD'), 'DY') AS YOIL
      				,       COUNT(tssh.STORE_CD) AS STORE_CNT
      				,       SUM(tssh.REAL_SALE_AMT) AS REAL_SALE_AMT
				    ,       SUM(tssh.SALE_CNT) AS SALE_CNT
				    ,       SUM(tssh.TOT_GUEST_CNT) AS TOT_GUEST_CNT
                            ${sQuery2}
      				FROM
      				   	   (

		      					SELECT SALE_DATE
			                    ,       STORE_CD
                                        ${sQuery3}
                                        ${sQuery4}
			                    FROM   TB_SL_SALE_HDR
				                WHERE  HQ_OFFICE_CD = #{hqOfficeCd}
		]]>

                    <if test='arrStoreCd != null and arrStoreCd != ""'>
                                AND STORE_CD IN
                                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                    </if>

        <![CDATA[
                                 AND   SALE_DATE  BETWEEN #{startDate} AND #{endDate}
				                 GROUP
				                 BY      SALE_DATE, STORE_CD

		                   )tssh
		            GROUP
		            BY tssh.SALE_DATE
	            )tssh
        ORDER
        BY tssh.SALE_DATE


        ]]>
    </select>


    <!-- 포스별 - 포스별매출조회-->
    <!--
        TABLE    : TB_SL_SALE_DTL
        COMMENTS : [매출]상세
    -->
    <select id="getDayPosList"  parameterType="DayVO" resultType="DefaultMap">
        /* DayMapper.getDayPosList */
        SELECT
        TO_CHAR(TO_DATE(SALE_DATE, 'yyyymmdd'), 'yyyy-mm-dd') AS SALE_DATE,
        TO_CHAR(TO_DATE(SALE_DATE, 'YYYYMMDD'), 'DY') AS YOIL,
        <foreach collection="arrPosCol" item="item" separator="+">
            NVL(POS${item}_SALE_AMT, 0)
        </foreach> AS TOT_SALE_AMT,
        <foreach collection="arrPosCol" item="item" separator="+">
            NVL(POS${item}_DC_AMT, 0)
        </foreach> AS TOT_DC_AMT,
        <foreach collection="arrPosCol" item="item" separator="+">
            NVL(POS${item}_REAL_SALE_AMT, 0)
        </foreach> AS TOT_REAL_SALE_AMT,
        <foreach collection="arrPosCol" item="item" separator="+">
            NVL(POS${item}_SALE_QTY, 0)
        </foreach> AS TOT_SALE_QTY,
        <foreach collection="arrPosCol" item="item" separator=",">
            NVL(POS${item}_SALE_AMT,0) AS POS${item}_SALE_AMT
        </foreach> ,
        <foreach collection="arrPosCol" item="item" separator=",">
            NVL(POS${item}_DC_AMT,0) AS POS${item}_DC_AMT
        </foreach> ,
        <foreach collection="arrPosCol" item="item" separator=",">
            NVL(POS${item}_REAL_SALE_AMT,0) AS POS${item}_REAL_SALE_AMT
        </foreach> ,
        <foreach collection="arrPosCol" item="item" separator=",">
            NVL(POS${item}_SALE_QTY,0) AS POS${item}_SALE_QTY
        </foreach>
        --         SUM(POS01_SALE_AMT) AS POS01_SALE_AMT,
        --         SUM(POS01_DC_AMT) AS POS01_DC_AMT,
        --         SUM(POS01_REAL_SALE_AMT) AS POS01_REAL_SALE_AMT,
        --         SUM(POS01_SALE_QTY) AS POS01_SALE_QTY
        FROM
        (
            SELECT
            SALE_DATE,
            <foreach collection="arrPosCol" item="item" separator=",">
                SUM(POS${item}_SALE_AMT) AS POS${item}_SALE_AMT
            </foreach> ,
            <foreach collection="arrPosCol" item="item" separator=",">
                SUM(POS${item}_DC_AMT) AS POS${item}_DC_AMT
            </foreach> ,
            <foreach collection="arrPosCol" item="item" separator=",">
                SUM(POS${item}_REAL_SALE_AMT) AS POS${item}_REAL_SALE_AMT
            </foreach> ,
            <foreach collection="arrPosCol" item="item" separator=",">
                SUM(POS${item}_SALE_QTY) AS POS${item}_SALE_QTY
            </foreach>
            FROM
            (
                SELECT
                tssd.SALE_DATE,
                tssd.SALE_AMT,
                tssd.DC_AMT,
                tssd.REAL_SALE_AMT,
                tssd.SALE_QTY,
                tssd.POS_NO
                FROM TB_SL_SALE_DTL tssd
                WHERE 1=1
                AND tssd.HQ_OFFICE_CD = #{hqOfficeCd}
                AND tssd.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND tssd.STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            )
            PIVOT
            (
                SUM(SALE_AMT) AS SALE_AMT,
                SUM(DC_AMT) AS DC_AMT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT,
                SUM(SALE_QTY) AS SALE_QTY
                FOR POS_NO
                IN (${pivotPosCol})
                /*   IN ('01' AS POS01,
                '02' AS POS02,
                '03' AS POS03)*/
            )
            GROUP BY SALE_DATE
        )
        ORDER BY SALE_DATE
    </select>

</mapper>