<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.iostock.cmm.service.impl.IostockCmmMapper">
    <!-- 매장선택 조회 -->
    <!--
        TABLE    : TB_MS_STORE
        PARAM    : iostockCmmVO
        COMMENTS : 매장선택 리스트를 조회한다.
    -->
    <select id="selectStoreList" parameterType="iostockCmmVO" resultType="DefaultMap">
    /* USE : IostockCmmMapper.selectStoreList */
        <![CDATA[
        SELECT  tms.HQ_OFFICE_CD, tms.STORE_CD, tms.STORE_NM
        FROM    TB_MS_STORE tms
        WHERE   tms.HQ_OFFICE_CD =   #{hqOfficeCd}
        ]]>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR   tms.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                )
        </if>
        <if test='storeCd != null and storeCd != ""'>
            AND tms.STORE_CD LIKE '%'||#{storeCd}||'%'
        </if>
        <if test='storeNm != null and storeNm != ""'>
            AND tms.STORE_NM LIKE '%'||#{storeNm}||'%'
        </if>
        <if test='storeHqBrandCd != null and storeHqBrandCd != ""'>
            AND tms.HQ_BRAND_CD = #{storeHqBrandCd} -- 선택한 매장브랜드가 있을 때
        </if>
        <if test='storeHqBrandCd == null or storeHqBrandCd == ""'>
            <if test='userBrands != null and userBrands != ""'>
                -- 선택한 매장브랜드가 없을 때('전체' 일때), 사용자 관리브랜드에 속한 정보만 조회
                AND tms.HQ_BRAND_CD IN
                <foreach collection="userBrandList" item="item" open=" (" separator="," close=")" >
                    #{item}
                </foreach>
            </if>
        </if>
        ORDER BY tms.STORE_CD
    </select>

    <!-- 매장선택 조회 -->
    <!--
        TABLE    : TB_MS_STORE
        PARAM    : iostockCmmVO
        COMMENTS : 매장선택 리스트를 조회한다.
    -->
    <select id="selectStoreMomsList" parameterType="iostockCmmVO" resultType="DefaultMap">
    /* USE : IostockCmmMapper.selectStoreMomsList */
        <![CDATA[
        SELECT  tms.HQ_OFFICE_CD, tms.STORE_CD, tms.STORE_NM
        FROM    TB_MS_STORE tms,
                 TB_MS_STORE_INFO tmsi
        WHERE   tms.HQ_OFFICE_CD =   #{hqOfficeCd}
        ]]>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR   tms.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                )
        </if>
        <if test='storeCd != null and storeCd != ""'>
            AND tms.STORE_CD LIKE '%'||#{storeCd}||'%'
        </if>
        <if test='storeNm != null and storeNm != ""'>
            AND tms.STORE_NM LIKE '%'||#{storeNm}||'%'
        </if>
        <if test='storeHqBrandCd != null and storeHqBrandCd != ""'>
            AND tms.HQ_BRAND_CD = #{storeHqBrandCd} -- 매장브랜드 선택일때
        </if>
        <if test='storeHqBrandCd == null or storeHqBrandCd == ""'>
            <if test='userBrands != null and userBrands != ""'>
                -- 매장브랜드 전체일때
                AND tms.HQ_BRAND_CD IN
                <foreach collection="userBrandList" item="item" open=" (" separator="," close=")" >
                    #{item}
                </foreach>
            </if>
        </if>
        <if test='momsTeam != null and momsTeam != ""'>
            AND tmsi.MOMS_TEAM = #{momsTeam}
        </if>
        <if test='momsAcShop != null and momsAcShop != ""'>
            AND tmsi.MOMS_AC_SHOP = #{momsAcShop}
        </if>
        <if test='momsAreaFg != null and momsAreaFg != ""'>
            AND tmsi.MOMS_AREA_FG = #{momsAreaFg}
        </if>
        <if test='momsCommercial != null and momsCommercial != ""'>
            AND tmsi.MOMS_COMMERCIAL = #{momsCommercial}
        </if>
        <if test='momsShopType != null and momsShopType != ""'>
            AND tmsi.MOMS_SHOP_TYPE = #{momsShopType}
        </if>
        <if test='momsStoreManageType != null and momsStoreManageType != ""'>
            AND tmsi.MOMS_STORE_MANAGE_TYPE = #{momsStoreManageType}
        </if>
        <if test='branchCd != null and branchCd != ""'>
            AND tms.BRANCH_CD = #{branchCd}
        </if>
        AND tmsi.STORE_CD (+)= tms.STORE_CD
        ORDER BY tms.STORE_CD
    </select>

    <!-- 상품선택 조회 -->
    <!--
        TABLE    : TB_MS_STORE
        PARAM    : iostockCmmVO
        COMMENTS : 상품선택 리스트를 조회한다.
    -->
    <select id="selectProdMomsList" parameterType="iostockCmmVO" resultType="DefaultMap">
    /* USE : IostockCmmMapper.selectProdMomsList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                SELECT thp.PROD_CD
                ,       thp.PROD_NM
                FROM    TB_HQ_PRODUCT thp
                WHERE   thp.HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='prodCd != null and prodCd != ""'>
                    AND thp.PROD_CD LIKE '%'||#{prodCd}||'%'
                </if>
                <if test='prodNm != null and prodNm != ""'>
                    AND thp.PROD_NM LIKE '%'||#{prodNm}||'%'
                </if>
                <if test='prodHqBrandCd != null and prodHqBrandCd != ""'>
                    AND thp.HQ_BRAND_CD = #{prodHqBrandCd} -- 상품브랜드 선택일때
                </if>
                <if test='prodHqBrandCd == null or prodHqBrandCd == ""'>
                    <if test='userBrands != null and userBrands != ""'>
                        -- 상품브랜드 전체일때
                        AND thp.HQ_BRAND_CD IN
                        <foreach collection="userBrandList" item="item" open=" (" separator="," close=")" >
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="prodClassCd != null and prodClassCd != ''">
                    AND thp.PROD_CLASS_CD IN (
                                                    SELECT
                                                    PROD_CLASS_CD
                                                    FROM TB_HQ_PRODUCT_CLASS
                                                    WHERE HQ_OFFICE_CD = #{hqOfficeCd}
                                                    START WITH PROD_CLASS_CD = #{prodClassCd} AND HQ_OFFICE_CD = #{hqOfficeCd}
                                                    CONNECT BY PRIOR PROD_CLASS_CD = P_PROD_CLASS_CD AND HQ_OFFICE_CD = #{hqOfficeCd}
                                                )
                </if>
                ORDER BY thp.PROD_CD
            </when>
            <!-- 매장 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                SELECT tmp.PROD_CD
                ,       tmp.PROD_NM
                FROM    TB_MS_PRODUCT tmp
                WHERE   tmp.STORE_CD = #{storeCd}
                <if test='prodCd != null and prodCd != ""'>
                    AND tmp.PROD_CD LIKE '%'||#{prodCd}||'%'
                </if>
                <if test='prodNm != null and prodNm != ""'>
                    AND tmp.PROD_NM LIKE '%'||#{prodNm}||'%'
                </if>
                <if test="prodClassCd != null and prodClassCd != ''">
                    AND tmp.PROD_CLASS_CD IN (
                                                    SELECT
                                                    PROD_CLASS_CD
                                                    FROM TB_MS_PRODUCT_CLASS
                                                    WHERE STORE_CD = #{storeCd}
                                                    START WITH PROD_CLASS_CD = #{prodClassCd} AND STORE_CD = #{storeCd}
                                                    CONNECT BY P_PROD_CLASS_CD = PRIOR PROD_CLASS_CD AND STORE_CD = #{storeCd}
                                                )
                </if>
                ORDER BY tmp.PROD_CD
            </when>
        </choose>
    </select>

    <!-- 사용자별 브랜드 조회(콤보박스용) -->
    <!--
        TABLE    : TB_HQ_BRAND
        PARAM    : storeTypeVO
        COMMENTS : 콤보박스에서 사용할 브랜드를 조회한다.
    -->
    <select id="selectBrandMomsList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : IostockCmmMapper.selectBrandMomsList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                SELECT
                '' AS VALUE,
                '전체' AS NAME
                FROM DUAL
                UNION
                SELECT
                HQ_BRAND_CD AS VALUE,
                HQ_BRAND_NM AS NAME
                FROM TB_HQ_BRAND
                WHERE HQ_OFFICE_CD = #{hqOfficeCd}
                AND USE_YN = 'Y'
                <if test='userBrands != null and userBrands != ""'>
                    AND HQ_BRAND_CD IN
                    <foreach collection="userBrandList" item="item" open=" (" separator="," close=")" >
                        #{item}
                    </foreach>
                </if>
                ORDER
                BY VALUE NULLS FIRST
            </when>
            <!-- 매장 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                SELECT
                '' AS VALUE,
                '전체' AS NAME
                FROM DUAL
                UNION
                SELECT
                MS_BRAND_CD AS VALUE,
                MS_BRAND_NM AS NAME
                FROM TB_MS_BRAND
                WHERE STORE_CD = #{storeCd}
                AND USE_YN = 'Y'
                ORDER
                BY VALUE NULLS FIRST
            </when>
        </choose>
    </select>

    <!-- 거래처 선택모듈 리스트 조회 -->
    <!--
        TABLE    : TB_HQ_VENDOR
                   TB_MS_VENDOR
        PARAM    : iostockCmmVO
        COMMENTS : 거래처 발주등록 - 거래처 선택모듈 리스트를 조회한다.
    -->
    <select id="getVendrList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : VendrOrderMapper.getVendrList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                <![CDATA[
                SELECT  thv.VENDR_CD, thv.VENDR_NM
                ,       thv.SHIP_FG, thv.VAT_INCLD_YN
                ,       thv.USE_YN
                FROM    TB_HQ_VENDOR thv
                WHERE   thv.HQ_OFFICE_CD    =   #{hqOfficeCd}
                ]]>
            </when>
            <!-- 가맹점 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                <![CDATA[
                SELECT  tmv.VENDR_CD, tmv.VENDR_NM
                ,       tmv.SHIP_FG, tmv.VAT_INCLD_YN
                ,       tmv.USE_YN
                FROM    TB_MS_VENDOR tmv
                WHERE   tmv.STORE_CD  = #{storeCd}
                ]]>
            </when>
        </choose>
    </select>

    <!-- 창고선택 조회 -->
    <!--
        TABLE    : TB_HQ_STORAGE
        PARAM    : iostockCmmVO
        COMMENTS : 창고선택 리스트를 조회한다.
    -->
    <select id="selectStorageList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : IostockCmmMapper.selectStorageList */
        SELECT  STORAGE_CD, STORAGE_NM
	    <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                FROM    TB_HQ_STORAGE
		        WHERE   1 = 1
	              AND   HQ_OFFICE_CD      =   #{hqOfficeCd}
	              AND   USE_YN = 'Y'
	         ORDER BY STORAGE_CD
            </when>
            <!-- 가맹점 -->
            <when test='orgnFg != null and orgnFg == "S"'>
                FROM    TB_MS_STORAGE
				WHERE   STORE_CD      =   #{storeCd}
				AND     USE_YN = 'Y'
				ORDER BY STORE_CD
            </when>
        </choose>
    </select>


    <!-- 공통 명칭 콤보조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : iostockCmmVO
        COMMENTS : 공통 명칭 콤보조회
    -->
    <select id="selectCmmCodeList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : VolmErrMapper.selectCmmCodeList */
        <![CDATA[
        SELECT  tcn.NMCODE_GRP_CD
        ,       tcn.NMCODE_CD
        ,       tcn.PARENT_CD
        ,       tcn.NMCODE_NM
        ,       tcn.NMCODE_ITEM_1
        ,       tcn.NMCODE_ITEM_2
        ,       tcn.USE_COL_NM
        ,       tcn.USE_TARGET_FG
        ,       tcn.USE_SYSTEM_FG
        FROM    TB_CM_NMCODE tcn
        WHERE   tcn.NMCODE_GRP_CD = #{nmcodeGrpCd}
        ]]>
        <if test='nmcodeItem1 != null and nmcodeItem1 != ""'>
            AND tcn.NMCODE_ITEM_1 = #{nmcodeItem1}
        </if>
        ORDER BY tcn.NMCODE_CD
    </select>


    <!-- 본사 명칭 콤보조회 -->
    <!--
        TABLE    : TB_HQ_NMCODE
        PARAM    : iostockCmmVO
        COMMENTS : 본사 명칭 콤보조회
    -->
    <select id="selectHqCodeList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : VolmErrMapper.selectHqCodeList */
        <![CDATA[
        SELECT  thn.HQ_OFFICE_CD
        ,       thn.NMCODE_GRP_CD
        ,       thn.NMCODE_CD
        ,       thn.PARENT_CD
        ,       thn.NMCODE_NM
        ,       thn.NMCODE_ITEM_1
        ,       thn.NMCODE_ITEM_2
        ,       thn.USE_YN
        FROM    TB_HQ_NMCODE thn
        WHERE   thn.HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     thn.NMCODE_GRP_CD = #{nmcodeGrpCd}
        ]]>
        <if test='nmcodeItem1 != null and nmcodeItem1 != ""'>
            AND thn.NMCODE_ITEM_1 = #{nmcodeItem1}
        </if>
        ORDER BY thn.NMCODE_CD
    </select>


    <!-- 매장 명칭 콤보조회 -->
    <!--
        TABLE    : TB_MS_STORE_NMCODE
        PARAM    : iostockCmmVO
        COMMENTS : 매장 명칭 콤보조회
    -->
    <select id="selectStoreCodeList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : VolmErrMapper.selectStoreCodeList */
        <![CDATA[
        SELECT  tmsn.STORE_CD
        ,       tmsn.NMCODE_GRP_CD
        ,       tmsn.NMCODE_CD
        ,       tmsn.PARENT_CD
        ,       tmsn.NMCODE_NM
        ,       tmsn.NMCODE_ITEM_1
        ,       tmsn.NMCODE_ITEM_2
        ,       tmsn.USE_YN
        FROM    TB_MS_STORE_NMCODE tmsn
        WHERE   tmsn.STORE_CD       = #{storeCd}
        AND     tmsn.NMCODE_GRP_CD  = #{nmcodeGrpCd}
        ]]>
        <if test='nmcodeItem1 != null and nmcodeItem1 != ""'>
            AND tmsn.NMCODE_ITEM_1 = #{nmcodeItem1}
        </if>
        ORDER BY tmsn.NMCODE_CD
    </select>


    <!-- 다이나믹 콤보조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : iostockCmmVO
        COMMENTS : 다이나믹 콤보조회
    -->
    <select id="selectDynamicCodeList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : VolmErrMapper.selectDynamicCodeList */
        <![CDATA[
        SELECT  ${selectCd} AS NMCODE_CD
        ,       ${selectNm} AS NMCODE_NM
        FROM    ${selectTable}
        WHERE   1 = 1
        ]]>
        <if test='selectWhere != null and selectWhere != ""'>
            AND ${selectWhere}
        </if>
        <![CDATA[
        ORDER BY ${selectCd}
        ]]>
    </select>



    <!-- 사용자별 브랜드 사용 조회 -->
    <!--
        TABLE    : TB_HQ_BRAND
        PARAM    : storeTypeVO
        COMMENTS : 콤보박스에서 사용할 브랜드를 조회한다.
    -->
    <select id="getUserBrandCdList" parameterType="iostockCmmVO" resultType="String">
        /* IostockCmmMapper.getUserBrandCdList */
        SELECT
        LISTAGG(twub.HQ_BRAND_CD, ',') WITHIN GROUP (ORDER BY twub.HQ_BRAND_CD) AS HQ_BRAND_CD
        FROM TB_WB_USER_BRAND twub
        WHERE 1=1
        AND twub.USER_ID = #{userId}
        GROUP BY twub.USER_ID
    </select>

    <!-- 사용자별 코드별 공통코드 조회 -->
    <!--
        TABLE    : TB_HQ_BRAND
        PARAM    : storeTypeVO
        COMMENTS : 콤보박스에서 사용할 브랜드를 조회한다.
    -->
    <select id="getUserHqNmcodeCdList" parameterType="iostockCmmVO" resultType="String">
        /* IostockCmmMapper.getUserHqNmcodeCdList */
        <if test='nmcodeGrpCd != null and nmcodeGrpCd != ""'>
            <if test='nmcodeGrpCd == "151"'>
                SELECT
                the.MOMS_TEAM
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
            <if test='nmcodeGrpCd == "152"'>
                SELECT
                the.MOMS_AC_SHOP
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
            <if test='nmcodeGrpCd == "153"'>
                SELECT
                the.MOMS_AREA_FG
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
            <if test='nmcodeGrpCd == "154"'>
                SELECT
                the.MOMS_COMMERCIAL
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
            <if test='nmcodeGrpCd == "155"'>
                SELECT
                the.MOMS_SHOP_TYPE
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
            <if test='nmcodeGrpCd == "156"'>
                SELECT
                the.MOMS_STORE_MANAGE_TYPE
                FROM TB_HQ_EMPLOYEE the
                WHERE 1=1
                AND the.USER_ID = #{userId}
            </if>
        </if>
    </select>

    <!-- 사용자별 코드별 공통코드 콤보박스 조회 -->
    <!--
        TABLE    : TB_HQ_NMCODE
        COMMENTS :
    -->
    <select id="selectHqNmcodeMomsList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* IostockCmmMapper.selectHqNmcodeMomsList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                SELECT
                thn.NMCODE_CD AS VALUE,
                thn.NMCODE_NM AS NAME
                FROM TB_HQ_NMCODE thn
                WHERE 1=1
                AND thn.HQ_OFFICE_CD = #{hqOfficeCd}
                AND thn.NMCODE_GRP_CD = #{nmcodeGrpCd}
                <if test='userHqNmcodeCd != null and userHqNmcodeCd != ""'>
                    AND thn.NMCODE_CD = #{userHqNmcodeCd}
                    ORDER BY thn.NMCODE_CD
                </if>
                <if test='userHqNmcodeCd == null or userHqNmcodeCd == ""'>
                    UNION
                    SELECT
                    '' AS VALUE,
                    '전체' AS NAME
                    FROM DUAL
                    ORDER BY VALUE NULLS FIRST
                </if>
            </when>
        </choose>
    </select>

    <!-- 사용자별 지사 조회 -->
    <!--
        TABLE    : TB_HQ_BRAND
        PARAM    : storeTypeVO
        COMMENTS : 콤보박스에서 사용할 브랜드를 조회한다.
    -->
    <select id="getUserBranchCdList" parameterType="iostockCmmVO" resultType="String">
        /* IostockCmmMapper.getUserBranchCdList */
        SELECT
        the.BRANCH_CD
        FROM TB_HQ_EMPLOYEE the
        WHERE 1=1
        AND the.USER_ID = #{userId}
    </select>

    <!-- 사용자별 지사 콤보박스 조회 -->
    <!--
        TABLE    : TB_HQ_NMCODE
        COMMENTS :
    -->
    <select id="selectBranchMomsList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* IostockCmmMapper.selectBranchMomsList */
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
                SELECT
                thbm.BRANCH_CD AS VALUE,
                thbm.BRANCH_NM AS NAME
                FROM TB_HQ_BRANCH_MOMS thbm
                WHERE 1=1
                AND thbm.HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='userHqNmcodeCd != null and userHqNmcodeCd != ""'>
                    AND thbm.BRANCH_CD = #{userHqNmcodeCd}
                    ORDER BY thbm.BRANCH_CD
                </if>
                <if test='userHqNmcodeCd == null or userHqNmcodeCd == ""'>
                    UNION
                    SELECT
                    '' AS VALUE,
                    '전체' AS NAME
                    FROM DUAL
                    ORDER BY VALUE NULLS FIRST
                </if>
            </when>
        </choose>
    </select>

    <!-- 프로모션 조회 -->
    <!--
        TABLE    : TB_HQ_PROMO_H, TB_MS_PROMO_H
        PARAM    : iostockCmmVO
        COMMENTS : 프로모션 리스트를 조회한다.
    -->
    <select id="selectPromotionList" parameterType="iostockCmmVO" resultType="DefaultMap">
        /* USE : IostockCmmMapper.selectPromotionList */
        SELECT  h.PROMOTION_CD
        ,       h.PROMOTION_NM
        ,       TO_CHAR(TO_DATE(c.DEPOSIT_YMD, 'yyyymmdd'), 'yyyy-mm-dd') AS DEPOSIT_YMD
        <choose>
            <!-- 본사 -->
            <when test='orgnFg != null and orgnFg == "H"'>
            FROM    TB_HQ_PROMO_H h
            ,       TB_HQ_PROMO_CONDI c
            WHERE   h.HQ_OFFICE_CD =   #{hqOfficeCd}
            AND     h.HQ_OFFICE_CD = c.HQ_OFFICE_CD
            </when>
            <!-- 매장 -->
            <when test='orgnFg != null and orgnFg == "S"'>
            FROM    TB_MS_PROMO_H h
            ,       TB_MS_PROMO_CONDI c
            WHERE   h.STORE_CD =   #{storeCd}
            AND     h.STORE_CD = c.STORE_CD
            </when>
        </choose>
        AND     h.PROMOTION_CD = c.PROMOTION_CD
        <if test='promotionCd != null and promotionCd != ""'>
            AND h.PROMOTION_CD = #{promotionCd}
        </if>
        <if test='promotionNm != null and promotionNm != ""'>
            AND h.PROMOTION_NM = #{promotionNm}
        </if>
        ORDER BY h.PROMOTION_CD
    </select>
</mapper>
