<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.appr.payMethod.ncash.service.impl.ApprNcashMapper">

    <!-- 비매출현금 승인현황 - 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprCardVO
        COMMENTS : 비매출현금 승인현황 - 리스트를 조회한다.
    -->
    <select id="getApprNcashList" parameterType="apprCardVO" resultType="DefaultMap">
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
		     , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
		     , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS APPR_AMT
             , DECODE(M.SALE_YN,'Y',SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.SALE_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_YN,'N',ABS(SUM(M.CNT)),0) AS CNT_B
             , DECODE(M.SALE_YN,'N',ABS(SUM(M.SALE_AMT)),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , SALE_YN
                     , 1 AS CNT
                     , SALE_AMT
                  FROM TB_NS_NONSALE_PAY_CASH
                 WHERE SALE_YN = 'Y'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR	STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE EMP_NO = #{empNo})
                )
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='apprProcFg == null and apprProcFg == ""'>
            AND APPR_PROC_FG IN ('1','2')
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , SALE_YN
                     , -1 AS CNT
                     , SALE_AMT
                  FROM TB_NS_NONSALE_PAY_CASH
                 WHERE SALE_YN = 'N'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='apprProcFg == null and apprProcFg == ""'>
            AND APPR_PROC_FG IN ('1','2')
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_YN
        ]]>
        <if test='saleYn != null and saleYn != ""'>
           HAVING(M.SALE_YN = #{saleYn})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM
        ORDER BY M.STORE_CD
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 비매출현금 승인현황 - 엑셀 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : apprCardVO
        COMMENTS : 비매출현금 승인현황 - 엑셀 리스트를 조회
    -->
    <select id="getApprNcashExcelList" parameterType="apprCardVO" resultType="DefaultMap">
       <![CDATA[
       SELECT M.STORE_CD
             , TMS.STORE_NM
             , SUM(M.CNT)   AS CNT,   SUM(M.APPR_AMT)   AS APPR_AMT    --전체
             , SUM(M.CNT_A) AS CNT_A, SUM(M.APPR_AMT_A) AS APPR_AMT_A  --승인
             , SUM(M.CNT_B) AS CNT_B, SUM(M.APPR_AMT_B) AS APPR_AMT_B  --취소
       ]]>
        <![CDATA[
        FROM TB_MS_STORE TMS
        , (
        SELECT M.STORE_CD
             , SUM(M.CNT) AS CNT
             , SUM(M.SALE_AMT) AS APPR_AMT
             , DECODE(M.SALE_YN,'Y',SUM(M.CNT),0) AS CNT_A
             , DECODE(M.SALE_YN,'Y',SUM(M.SALE_AMT),0) AS APPR_AMT_A
             , DECODE(M.SALE_YN,'N',ABS(SUM(M.CNT)),0) AS CNT_B
             , DECODE(M.SALE_YN,'N',ABS(SUM(M.SALE_AMT)),0) AS APPR_AMT_B
          FROM (
                SELECT STORE_CD
                     , SALE_YN
                     , 1 AS CNT
                     , SALE_AMT
                  FROM TB_NS_NONSALE_PAY_CASH
                 WHERE SALE_YN = 'Y'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='apprProcFg == null and apprProcFg == ""'>
            AND APPR_PROC_FG IN ('1','2')
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
        UNION ALL
                SELECT STORE_CD
                     , SALE_YN
                     , -1 AS CNT
                     , SALE_AMT
                  FROM TB_NS_NONSALE_PAY_CASH
                 WHERE SALE_YN = 'N'
                   AND HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
            AND STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='posNo != null and posNo != ""'>
            AND STORE_CD||'||'||POS_NO IN
            <foreach collection="arrPosNo" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='apprProcFg != null and apprProcFg != ""'>
            AND APPR_PROC_FG = #{apprProcFg}
        </if>
        <if test='apprProcFg == null and apprProcFg == ""'>
            AND APPR_PROC_FG IN ('1','2')
        </if>
        <if test='startDate != null and startDate != ""'>
           AND SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
                )  M
                 GROUP BY M.STORE_CD, M.SALE_YN
        ]]>
        <if test='saleYn != null and saleYn != ""'>
           HAVING(M.SALE_YN = #{saleYn})
        </if>
        <![CDATA[
                ) M
                WHERE M.STORE_CD = TMS.STORE_CD
        GROUP BY M.STORE_CD, TMS.STORE_NM
        ORDER BY M.STORE_CD
        ]]>
    </select>

</mapper>
