<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    DeliveryChargerManageMapper.xml
    배송기사 리스트 조회
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       안동관     2018.08.29     최초작성
-->

<mapper namespace="kr.co.solbipos.iostock.deliveryCharger.deliveryChargerManage.service.impl.DeliveryChargerManageMapper">

    <!-- 배송기사 리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : DeliveryChargerManageVO
        COMMENTS : 배송기사 리스트를 조회한다.
    -->
    <select id="getDeliveryChargerList" parameterType="DeliveryChargerManageVO" resultType="DefaultMap">
        /* USE : DeliveryChargerManageMapper.getDeliveryChargerList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
        <![CDATA[
        SELECT  tphdc.DLVR_CD, tphdc.DLVR_NM
        ,       tphdc.CAR_NO, tphdc.USE_YN
        ,       COUNT(tphdcs.STORAGE_CD) AS STORAGE_CNT
        ]]>
        <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM    TB_PO_HQ_DELIVERY_CHARGER tphdc
        ,       TB_PO_HQ_DELIVERY_CHARGER_STORAGE tphdcs
        WHERE   tphdc.HQ_OFFICE_CD    = #{hqOfficeCd}
        AND     tphdcs.HQ_OFFICE_CD(+)= tphdc.HQ_OFFICE_CD
        AND     tphdcs.DLVR_CD     (+)= tphdc.DLVR_CD
        ]]>
        <if test='dlvrCd != null and dlvrCd != ""'>
            AND tphdc.DLVR_CD = #{dlvrCd}
        </if>
        <if test='dlvrNm != null and dlvrNm != ""'>
            AND tphdc.DLVR_NM LIKE '%'||#{dlvrNm}||'%'
        </if>
        <if test='carNo != null and carNo != ""'>
            AND tphdc.CAR_NO LIKE '%'|| #{carNo} ||'%'
        </if>
        GROUP BY tphdc.DLVR_CD, tphdc.DLVR_NM
        ,        tphdc.CAR_NO, tphdc.USE_YN
        ORDER BY tphdc.DLVR_CD
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 배송기사 상세 조회 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : DeliveryChargerManageVO
        COMMENTS : 배송기사 상세 조회한다.
    -->
    <select id="getDlvrInfo" parameterType="DeliveryChargerManageVO" resultType="DefaultMap">
        /* USE : DeliveryChargerManageMapper.getDlvrInfo */
        <![CDATA[
        SELECT  tphdc.*
        FROM    TB_PO_HQ_DELIVERY_CHARGER tphdc
        WHERE   tphdc.HQ_OFFICE_CD  = #{hqOfficeCd}
        AND     tphdc.DLVR_CD       = #{dlvrCd}
        ]]>
    </select>

    <!-- 신규 배송기사코드 조회 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : sessionInfoVO
        COMMENTS : 배송기사 등록시 사용할 신규 배송기사코드를 조회한다.
    -->
    <select id="getNewDlvrCd" parameterType="sessionInfoVO" resultType="String">
        /* USE : DeliveryChargerManageMapper.getNewDlvrCd */
      SELECT  LPAD(NVL(MAX(tphdc.DLVR_CD), '0')+1, 4, '0')
      FROM    TB_PO_HQ_DELIVERY_CHARGER tphdc
      WHERE   tphdc.HQ_OFFICE_CD = #{hqOfficeCd}
    </select>

    <!-- 배송기사 저장 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사를 등록한다.
    -->
    <insert id="insertDeliveryCharger" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.insertDeliveryCharger */
    INSERT INTO TB_PO_HQ_DELIVERY_CHARGER
    (
        HQ_OFFICE_CD,
        DLVR_CD,
        DLVR_NM,
        CAR_NO,
        TEL_NO,
        HP_NO,
        USE_YN,
        REMARK,
        REG_DT,
        REG_ID,
        MOD_DT,
        MOD_ID
    )
    VALUES
    (
        #{hqOfficeCd},
        #{dlvrCd},
        #{dlvrNm},
        #{carNo},
        #{telNo},
        #{hpNo},
        #{useYn},
        #{remark},
        #{regDt},
        #{regId},
        #{modDt},
        #{modId}
    )
  </insert>

    <!-- 배송기사 저장 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사를 수정한다.
    -->
    <update id="updateDeliveryCharger" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.updateDeliveryCharger */
    UPDATE  TB_PO_HQ_DELIVERY_CHARGER
    SET     DLVR_NM = #{dlvrNm},
            CAR_NO  = #{carNo},
            TEL_NO  = #{telNo},
            HP_NO   = #{hpNo},
            USE_YN  = #{useYn},
            REMARK  = #{remark},
            MOD_DT  = #{modDt},
            MOD_ID  = #{modId}
    WHERE   HQ_OFFICE_CD = #{hqOfficeCd}
    AND     DLVR_CD      = #{dlvrCd}
    </update>

    <!-- 배송기사 삭제 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사를 삭제한다.
    -->
    <delete id="deleteDeliveryCharger" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.deleteDeliveryCharger */
    DELETE  TB_PO_HQ_DELIVERY_CHARGER
    WHERE   HQ_OFFICE_CD = #{hqOfficeCd}
    AND     DLVR_CD      = #{dlvrCd}
    </delete>

    <!-- 배송기사 담당 창고 리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER_STORAGE, TB_MS_STORE
        PARAM    : DeliveryChargerManageVO
        COMMENTS : 배송기사 담당 창고 리스트를 조회한다.
    -->
    <!-- TODO 2018.08.30 현재 매장의 창고관리 테이블이 없어 담당매장을 창고로 하여 코딩. 나중에 창고로 변경 필요 -->
    <select id="getDeliveryChargerStorageList" parameterType="DeliveryChargerManageVO" resultType="DefaultMap">

        SELECT  TPHDCS.DLVR_CD
        ,       TPHDCS.STORAGE_CD, THS.STORAGE_NM
        FROM    TB_PO_HQ_DELIVERY_CHARGER_STORAGE TPHDCS
        ,       TB_HQ_STORAGE THS
        WHERE   TPHDCS.HQ_OFFICE_CD = #{hqOfficeCd}
        AND     TPHDCS.DLVR_CD      = #{dlvrCd}
        AND     THS.HQ_OFFICE_CD    = TPHDCS.HQ_OFFICE_CD
        AND     THS.STORAGE_CD = TPHDCS.STORAGE_CD
        ORDER BY TPHDCS.STORAGE_CD

    </select>

    <!-- 배송기사 담당 창고 설정 리스트 조회 -->
    <!--
        TABLE    : TB_MS_STORE, TB_PO_HQ_DELIVERY_CHARGER_STORAGE, TB_PO_HQ_DELIVERY_CHARGER
        PARAM    : DeliveryChargerManageVO
        COMMENTS : 배송기사 담당 창고 설정 리스트를 조회한다.
    -->
    <!-- TODO 2018.08.30 현재 매장의 창고관리 테이블이 없어 담당매장을 창고로 하여 코딩. 나중에 창고로 변경 필요 -->
    <select id="getDeliveryChargerStorageAllList" parameterType="DeliveryChargerManageVO" resultType="DefaultMap">
        /* USE : DeliveryChargerManageMapper.getDeliveryChargerStorageAllList */
        SELECT  THS.STORAGE_CD, THS.STORAGE_NM
        FROM    TB_HQ_STORAGE THS
        WHERE   THS.HQ_OFFICE_CD      =   #{hqOfficeCd}
        AND     THS.STORAGE_CD  NOT IN  (   SELECT  STORAGE_CD
                                              FROM  TB_PO_HQ_DELIVERY_CHARGER_STORAGE
                                             WHERE  HQ_OFFICE_CD    =   #{hqOfficeCd}
                                               AND  DLVR_CD         =   #{dlvrCd}
                                         )
        ORDER BY THS.STORAGE_CD
    </select>

    <!-- 배송기사 담당 창고 저장 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER_STORAGE
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사의 담당 창고를 등록한다.
    -->
    <insert id="insertDeliveryChargerStorage" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.insertDeliveryChargerStorage */
    INSERT INTO TB_PO_HQ_DELIVERY_CHARGER_STORAGE
    (
        HQ_OFFICE_CD,
        STORAGE_CD,
        DLVR_CD,
        REG_DT,
        REG_ID,
        MOD_DT,
        MOD_ID
    )
    VALUES
    (
        #{hqOfficeCd},
        #{storageCd},
        #{dlvrCd},
        #{regDt},
        #{regId},
        #{modDt},
        #{modId}
    )
  </insert>

    <!-- 배송기사 담당 창고 삭제 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER_STORAGE
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사의 담당 창고를 삭제한다.
    -->
    <delete id="deleteDeliveryChargerStorage" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.deleteDeliveryChargerStorage */
    DELETE  TB_PO_HQ_DELIVERY_CHARGER_STORAGE
    WHERE   HQ_OFFICE_CD = #{hqOfficeCd}
    AND     STORAGE_CD   = #{storageCd}
    AND     DLVR_CD      = #{dlvrCd}
    </delete>

    <!-- 배송기사 담당 창고 전체 삭제 -->
    <!--
        TABLE    : TB_PO_HQ_DELIVERY_CHARGER_STORAGE
        PARAM    : deliveryChargerManageVO
        COMMENTS : 배송기사의 담당 창고를 전체 삭제한다.
    -->
    <delete id="deleteAllDeliveryChargerStorage" parameterType="deliveryChargerManageVO">
    /* USE : DeliveryChargerManageMapper.deleteAllDeliveryChargerStorage */
    DELETE  TB_PO_HQ_DELIVERY_CHARGER_STORAGE
    WHERE   HQ_OFFICE_CD = #{hqOfficeCd}
    AND     DLVR_CD      = #{dlvrCd}
    </delete>
</mapper>
