<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.iostock.frnchs.unusual.service.impl.UnusualMapper">

    <!-- 매출공통팝업 - 테이블별 매출현황 팝업 -->
    <!--
        TABLE    : TB_PO_HQ_STORE_OUTSTOCK, TB_PO_HQ_STORE_OUTSTOCK_DTL
        PARAM    : UnusualVO
        COMMENTS : 매출공통팝업 - 테이블별 매출현황 팝업
    -->
    <select id="getUnusualList" parameterType="UnusualVO" resultType="DefaultMap">
        /* USE : UnusualMapper.getUnusualList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT TPHSOD.SLIP_NO
		 , TPHSOD.STORE_CD		
		 , TPHSOD.SLIP_FG
		 , DECODE(TPHSOD.SLIP_FG,1,'주문',-1,'반품') AS SLIP_FG_NM /* 구분 */
		 , (SELECT STORE_NM FROM TB_MS_STORE WHERE TPHSOD.STORE_CD = TB_MS_STORE.STORE_CD) AS STORE_NM
		 , (SELECT NMCODE_NM FROM TB_CM_NMCODE WHERE NMCODE_GRP_CD = '113' AND NMCODE_CD = TPHSOD.PROC_FG) AS PROC_FG_NM
		 , TO_CHAR(TO_DATE(TPHSO.OUT_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS OUT_OT
		 , TO_CHAR(TO_DATE(TPHSO.IN_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS IN_OT
		 , TPHSOD.PROD_CD
		 , TMP.PROD_NM
		 , TPHSOD.OUT_TOT_QTY
		 , TPHSOD.OUT_TOT
		 , TPHSOD.IN_TOT_QTY
		 , TPHSOD.IN_TOT
		 , TPHSOD.REMARK
		 <include refid="CmmSQL.PagingTemplateCount"/>
	  FROM TB_PO_HQ_STORE_OUTSTOCK TPHSO
	  	 , TB_PO_HQ_STORE_OUTSTOCK_DTL TPHSOD
	  	 , TB_MS_PRODUCT TMP
	 WHERE TPHSO.HQ_OFFICE_CD = TPHSOD.HQ_OFFICE_CD
	   AND TPHSO.SLIP_NO = TPHSOD.SLIP_NO
	   AND TPHSOD.STORE_CD = TMP.STORE_CD
	   AND TPHSOD.PROD_CD = TMP.PROD_CD
	   AND TPHSO.HQ_OFFICE_CD = #{hqOfficeCd}
	   <if test='slipNo != null and slipNo != ""'>
	   		AND TPHSO.SLIP_NO = #{slipNo}
	   </if>
	   <choose>		
	   	<when test='outDateFg == "1"' >
	   		<if test='startDate != null and startDate != ""'>
	   			AND	TPHSO.OUT_DATE	<![CDATA[>=]]>	#{startDate}
	   		</if>
	   		<if test='endDate != null and endDate != ""'>
	   			AND	TPHSO.OUT_DATE	<![CDATA[<=]]>  #{endDate}
	   		</if>	
	   	</when>
	   	<when test='outDateFg == "2"'>
	   		<if test='startDate != null and startDate != ""'>
	   			AND	TPHSO.IN_DATE	<![CDATA[>=]]>	#{startDate}
	   		</if>
	   		<if test='endDate != null and endDate != ""'>
	   			AND	TPHSO.IN_DATE	<![CDATA[<=]]>  #{endDate}
	   		</if>	
	   	 </when>
	   	</choose> 
	   <choose>
            <when test='orgnFg != null and orgnFg == "H"'>
            	<if test='storeCd != null and storeCd != ""'>
                 	AND TPHSO.STORE_CD IN
                 	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                   		#{item}
               		</foreach>
               	</if>
            </when>
            <when test='orgnFg != null and orgnFg == "S"'>
                AND TPHSO.STORE_CD  = #{storeCd}
            </when>
         </choose>       
         <if test='slipFg != null and slipFg != ""'>
	 		AND TPHSOD.SLIP_FG = #{slipFg}*1
	 	 </if>	
	 	 <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>
    
    
    <!-- 특이사항 입출고내역 - 엑셀 리스트 조회 -->
    <!--
        TABLE    : TB_PO_HQ_STORE_OUTSTOCK, TB_PO_HQ_STORE_OUTSTOCK_DTL
        PARAM    : UnusualVO
        COMMENTS : 특이사항 입출고내역 - 엑셀 리스트 조회 
    -->
    <select id="getUnusualExcelList" parameterType="UnusualVO" resultType="DefaultMap">
        /* USE : UnusualMapper.getUnusualExcelList */
        SELECT TPHSOD.SLIP_NO
         , TPHSOD.STORE_CD      
         , TPHSOD.SLIP_FG
         , DECODE(TPHSOD.SLIP_FG,1,'주문',-1,'반품') AS SLIP_FG_NM /* 구분 */
         , (SELECT STORE_NM FROM TB_MS_STORE WHERE TPHSOD.STORE_CD = TB_MS_STORE.STORE_CD) AS STORE_NM
         , (SELECT NMCODE_NM FROM TB_CM_NMCODE WHERE NMCODE_GRP_CD = '113' AND NMCODE_CD = TPHSOD.PROC_FG) AS PROC_FG_NM
         , TO_CHAR(TO_DATE(TPHSO.OUT_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS OUT_OT
         , TO_CHAR(TO_DATE(TPHSO.IN_DT, 'YYYYMMDDHH24MISS'),'YYYY-MM-DD') AS IN_OT
         , TPHSOD.PROD_CD
         , TMP.PROD_NM
         , TPHSOD.OUT_TOT_QTY
         , TPHSOD.OUT_TOT
         , TPHSOD.IN_TOT_QTY
         , TPHSOD.IN_TOT
         , TPHSOD.REMARK
      FROM TB_PO_HQ_STORE_OUTSTOCK TPHSO
         , TB_PO_HQ_STORE_OUTSTOCK_DTL TPHSOD
         , TB_MS_PRODUCT TMP
     WHERE TPHSO.HQ_OFFICE_CD = TPHSOD.HQ_OFFICE_CD
       AND TPHSO.SLIP_NO = TPHSOD.SLIP_NO
       AND TPHSOD.STORE_CD = TMP.STORE_CD
       AND TPHSOD.PROD_CD = TMP.PROD_CD
       AND TPHSO.HQ_OFFICE_CD = #{hqOfficeCd}
       <if test='slipNo != null and slipNo != ""'>
            AND TPHSO.SLIP_NO = #{slipNo}
       </if>
       <choose>		
	   	<when test='outDateFg == "1"' >
	   		<if test='startDate != null and startDate != ""'>
	   			AND	TPHSO.OUT_DATE	<![CDATA[>=]]>	#{startDate}
	   		</if>
	   		<if test='endDate != null and endDate != ""'>
	   			AND	TPHSO.OUT_DATE	<![CDATA[<=]]>  #{endDate}
	   		</if>	
	   	</when>
	   	<when test='outDateFg == "2"'>
	   		<if test='startDate != null and startDate != ""'>
	   			AND	TPHSO.IN_DATE	<![CDATA[>=]]>	#{startDate}
	   		</if>
	   		<if test='endDate != null and endDate != ""'>
	   			AND	TPHSO.IN_DATE	<![CDATA[<=]]>  #{endDate}
	   		</if>	
	   	 </when>
	   	</choose> 
       <choose>
            <when test='orgnFg != null and orgnFg == "H"'>
                <if test='storeCd != null and storeCd != ""'>
                    AND TPHSO.STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            </when>
            <when test='orgnFg != null and orgnFg == "S"'>
                AND TPHSO.STORE_CD  = #{storeCd}
            </when>
         </choose>       
         <if test='slipFg != null and slipFg != ""'>
            AND TPHSOD.SLIP_FG = #{slipFg}*1
         </if>  
    </select>

</mapper>
