<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.anals.store.fg.service.impl.StoreFgMapper">
	<!--
		화면 ID : 매장별매출분석-매장형태별매출탭
		화면 PAGE : 85P
		PARAM : STORE_CD, SALE_DATE(FR,TO)
	-->
    <select id="getStoreFgList" parameterType="storeFgVO" resultType="DefaultMap">
		/** StoreFgMapper.getStoreFgList */
		SELECT TSDP.STORE_CD
		     , TMS.STORE_NM
			 , TMSI.INDEX_NO
		<choose>
		    <when test='storeFg != null and storeFg == "1"'>    <!-- 매장형태  , DECODE(TMS.CLS_FG,'1','기타','2','기타','기타')  AS CLS_FG -->
		     , DECODE(TMS.direct_manage_yn,'Y','직영','N','가맹','기타') AS CLS_FG
		    </when>
		    <when test='storeFg != null and storeFg == "2"'>    <!-- 매장용도 -->
             , DECODE(TMS.CLS_FG,'1','외식','2','유통','기타')  AS CLS_FG
            </when>
        </choose>
		     , SUM(TSDP.TOT_SALE_AMT) AS TOT_SALE_AMT
		     , SUM(TSDP.TOT_DC_AMT) AS TOT_DC_AMT
		     , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
		     , SUM(TSDP.TOT_SALE_QTY) AS SALE_CNT
		     , ROUND(RATIO_TO_REPORT(SUM(TSDP.REAL_SALE_AMT)) OVER() * 100, 2) AS RAT_REAL_SALE_AMT
		     , ROUND(RATIO_TO_REPORT(SUM(TSDP.TOT_SALE_QTY)) OVER() * 100, 2) AS RAT_CNT
		  FROM TB_MS_STORE TMS
		     , TB_MS_STORE_INFO TMSI
		     , TB_SL_DAILY_PROD TSDP
		 WHERE TMS.STORE_CD = TSDP.STORE_CD
		 AND   TMSI.STORE_CD (+) = TMS.STORE_CD
			<if test='hqOfficeCd != null and hqOfficeCd != ""'>
	            AND TMS.HQ_OFFICE_CD = #{hqOfficeCd}
	        </if>
	        <if test='prodCd != null and prodCd != ""'>
	            AND TSDP.PROD_CD = #{prodCd}
	        </if>
			<if test='startDate != null and startDate != "" and endDate != null and endDate != ""'>
			    AND TSDP.SALE_DATE BETWEEN #{startDate} AND #{endDate}
			</if>

		<choose>
		    <when test='orgnFg != null and orgnFg == "H"'>    <!-- 본사 -->
			   <if test='arrStoreCd != null and arrStoreCd != ""'>
	                AND TMS.STORE_CD IN
		           <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
		               #{item}
		           </foreach>
	           </if>
				AND (
						'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
					OR	TMS.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
					)
	           <if test='prodCd != null and prodCd != ""'>
	                AND EXISTS (SELECT * FROM TB_HQ_PRODUCT Z WHERE Z.HQ_OFFICE_CD = TSDP.HQ_OFFICE_CD AND Z.PROD_CD = TSDP.PROD_CD AND Z.PROD_CD = #{prodCd})
	           </if>
	         </when>

             <when test='orgnFg != null and orgnFg == "S"'>    <!-- 가맹점 -->

	           <if test='arrStoreCd != null and arrStoreCd != ""'>
	                AND TMS.STORE_CD IN
	               <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
	                   #{item}
	               </foreach>
	           </if>
	           <if test='prodCd != null and prodCd != ""'>
	                AND EXISTS (SELECT * FROM TB_MS_PRODUCT Z WHERE Z.STORE_CD = TSDP.STORE_CD AND Z.PROD_CD = TSDP.PROD_CD AND Z.PROD_CD = #{prodCd})
	           </if>

	         </when>
         </choose>
		
		 <choose>
		    <when test='storeFg != null and storeFg == "1"'>    <!-- 매장형태 -->
		     GROUP BY TSDP.STORE_CD, TMS.STORE_NM, TMSI.INDEX_NO, TMS.direct_manage_yn
		 	ORDER BY TMS.direct_manage_yn, SUM(TSDP.TOT_SALE_AMT) DESC
		    </when>
		    <when test='storeFg != null and storeFg == "2"'>    <!-- 매장용도 -->
			GROUP BY TSDP.STORE_CD, TMS.STORE_NM, TMSI.INDEX_NO, TMS.CLS_FG
		 	ORDER BY TMS.CLS_FG, SUM(TSDP.TOT_SALE_AMT) DESC
            </when>
        </choose>
    </select>

</mapper>
