<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    RtnStatusDayMapper.xml
    반품현황
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       김진       2020.02.06     최초작성
    2       김설아     2021.01.04
-->
<mapper namespace="kr.co.solbipos.sale.status.rtnStatus.day.service.impl.RtnStatusDayMapper">

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusDayList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusDayList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , M.STORE_NM
             , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM (
             SELECT TSSH.STORE_CD
             , 		TMS.STORE_NM
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
               FROM TB_SL_DAILY_TOTAL TSSH, TB_MS_STORE TMS
              WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
                AND TSSH.STORE_CD = TMS.STORE_CD
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSSH.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
	         GROUP BY TSSH.STORE_CD, TMS.STORE_NM
	            ) M
        ORDER BY M.STORE_CD
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusDayDtlList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusDayDtlList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
		     , TO_CHAR(TO_DATE(M.SALE_DATE, 'YYYYMMDD'),'YYYY-MM-DD') SALE_DATE
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM (
	        SELECT TSSH.STORE_CD
             , 		TSSH.SALE_DATE
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
	          FROM TB_SL_DAILY_TOTAL TSSH
	         WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <![CDATA[
             GROUP BY TSSH.STORE_CD, TSSH.SALE_DATE
		       ) M
		 ORDER BY M.STORE_CD, M.SALE_DATE DESC
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusPosDtlList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusPosDtlList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT STORE_CD
             , SALE_DATE
             , POS_NO, BILL_NO
             , DECODE(SALE_YN,'Y','매출','반품') AS SALE_YN
             , TOT_SALE_AMT
             , TOT_DC_AMT
             , REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_SL_SALE_HDR TSSH
             WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='saleDate != null and saleDate != ""'>
           AND TSSH.SALE_DATE = REPLACE(#{saleDate},'-','')
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <if test='saleYn != null and saleYn != ""'>
           AND TSSH.SALE_YN = #{saleYn}
        </if>
        <![CDATA[
             ORDER BY TSSH.POS_NO, TSSH.BILL_NO
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 상품별 반품현황탭 - 조회 -->
    <!--
        TABLE    : TB_SL_SALE_DTL, TB_HQ_PRODUCT, TB_HQ_PRODUCT_CLASS, TB_HQ_PRODUCT_BARCD,
                   TB_MS_PRODUCT, TB_MS_PRODUCT_CLASS, TB_MS_PRODUCT_BARCD
        COMMENTS : 상품별반품현황 - 리스트를 조회한다.
    -->
    <select id="getRtnStatusProdList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusProdList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
        SELECT
        PATH_NM,
        PROD_CD,
        PROD_NM,
        BARCD_CD,
        SUM(CNT) AS CNT,
        SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
        <include refid="CmmSQL.PagingTemplateCount"/>
        FROM
        (
            SELECT
            FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
            tssh.PROD_CD,
            tmp.PROD_NM,
            tmpb.BARCD_CD,
            tssh.CNT,
            tssh.REAL_SALE_AMT
            FROM
            (
                SELECT
                HQ_OFFICE_CD,
                STORE_CD,
                PROD_CD,
                COUNT(*) AS CNT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
                FROM TB_SL_SALE_DTL
                WHERE 1=1
                AND HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
                AND SALE_YN = 'N'
                GROUP BY HQ_OFFICE_CD, STORE_CD, PROD_CD
            ) tssh,
            TB_MS_PRODUCT tmp,
            TB_MS_PRODUCT_BARCD tmpb
            WHERE 1=1
            AND tmp.STORE_CD = tssh.STORE_CD
            AND tmp.PROD_CD = tssh.PROD_CD
            AND tmpb.STORE_CD (+)= tmp.STORE_CD
            AND tmpb.PROD_CD (+)= tmp.PROD_CD
            ORDER BY tssh.PROD_CD
        )
        GROUP BY PROD_CD, PROD_NM, BARCD_CD, PATH_NM
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 상품별 반품현황탭 - 엑셀 조회 -->
    <!--
        TABLE    : TB_SL_SALE_DTL, TB_HQ_PRODUCT, TB_HQ_PRODUCT_CLASS, TB_HQ_PRODUCT_BARCD,
                   TB_MS_PRODUCT, TB_MS_PRODUCT_CLASS, TB_MS_PRODUCT_BARCD
        COMMENTS : 상품별반품현황 - 리스트를 조회한다.
    -->
    <select id="getRtnStatusProdExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusProdExcelList */
        SELECT
        PATH_NM,
        PROD_CD,
        PROD_NM,
        BARCD_CD,
        SUM(CNT) AS CNT,
        SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
        FROM
        (
            SELECT
            FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
            tssh.PROD_CD,
            tmp.PROD_NM,
            tmpb.BARCD_CD,
            tssh.CNT,
            tssh.REAL_SALE_AMT
            FROM
            (
                SELECT
                HQ_OFFICE_CD,
                STORE_CD,
                PROD_CD,
                COUNT(*) AS CNT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
                FROM TB_SL_SALE_DTL
                WHERE 1=1
                AND HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
                AND SALE_YN = 'N'
                GROUP BY HQ_OFFICE_CD, STORE_CD, PROD_CD
            ) tssh,
            TB_MS_PRODUCT tmp,
            TB_MS_PRODUCT_BARCD tmpb
            WHERE 1=1
            AND tmp.STORE_CD = tssh.STORE_CD
            AND tmp.PROD_CD = tssh.PROD_CD
            AND tmpb.STORE_CD (+)= tmp.STORE_CD
            AND tmpb.PROD_CD (+)= tmp.PROD_CD
            ORDER BY tssh.PROD_CD
        )
        GROUP BY PROD_CD, PROD_NM, BARCD_CD, PATH_NM
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnstatusDayExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnstatusDayExcelList */
       <![CDATA[
       SELECT M.STORE_CD
             , M.STORE_NM
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM (
             SELECT TSSH.STORE_CD
             , 		TMS.STORE_NM
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
               FROM TB_SL_DAILY_TOTAL TSSH, TB_MS_STORE TMS
              WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
                AND TSSH.STORE_CD = TMS.STORE_CD
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSSH.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
	         GROUP BY TSSH.STORE_CD, TMS.STORE_NM
	            ) M
        ORDER BY M.STORE_CD
        ]]>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnstatusDayDtlExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnstatusDayDtlExcelList */
       <![CDATA[
       SELECT M.STORE_CD
		     , TO_CHAR(TO_DATE(M.SALE_DATE, 'YYYYMMDD'),'YYYY-MM-DD') SALE_DATE
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM (
	        SELECT TSSH.STORE_CD
             , 		TSSH.SALE_DATE
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
	          FROM TB_SL_DAILY_TOTAL TSSH
	         WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <![CDATA[
             GROUP BY STORE_CD, SALE_DATE
		       ) M
		 ORDER BY M.STORE_CD, M.SALE_DATE DESC
        ]]>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusPosDtlExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusPosDtlExcelList */
       <![CDATA[
       SELECT STORE_CD
             , SALE_DATE
             , POS_NO, BILL_NO
             , DECODE(SALE_YN,'Y','매출','반품') AS SALE_YN
             , TOT_SALE_AMT
             , TOT_DC_AMT
             , REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM TB_SL_SALE_HDR TSSH
             WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='saleDate != null and saleDate != ""'>
           AND TSSH.SALE_DATE = REPLACE(#{saleDate},'-','')
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <if test='saleYn != null and saleYn != ""'>
           AND TSSH.SALE_YN = #{saleYn}
        </if>
        <![CDATA[
             ORDER BY TSSH.POS_NO, TSSH.BILL_NO
        ]]>
    </select>

</mapper>