<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    RtnStatusDayMapper.xml
    반품현황
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       김진       2020.02.06     최초작성
    2       김설아     2021.01.04
-->
<mapper namespace="kr.co.solbipos.sale.status.rtnStatus.day.service.impl.RtnStatusDayMapper">

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusDayList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusDayList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
             , M.STORE_NM
             , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM (
             SELECT TSSH.STORE_CD
             , 		TMS.STORE_NM
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
               FROM TB_SL_DAILY_TOTAL TSSH, TB_MS_STORE TMS
              WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
                AND TSSH.STORE_CD = TMS.STORE_CD
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSSH.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR	TSSH.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                )
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
	         GROUP BY TSSH.STORE_CD, TMS.STORE_NM
	            ) M
        ORDER BY M.STORE_CD
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusDayDtlList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusDayDtlList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT M.STORE_CD
		     , TO_CHAR(TO_DATE(M.SALE_DATE, 'YYYYMMDD'),'YYYY-MM-DD') SALE_DATE
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM (
	        SELECT TSSH.STORE_CD
             , 		TSSH.SALE_DATE
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
	          FROM TB_SL_DAILY_TOTAL TSSH
	         WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <![CDATA[
             GROUP BY TSSH.STORE_CD, TSSH.SALE_DATE
		       ) M
		 ORDER BY M.STORE_CD, M.SALE_DATE DESC
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusPosDtlList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusPosDtlList */
      <include refid="CmmSQL.PagingTemplateHeader"/>
       <![CDATA[
       SELECT STORE_CD
             , SALE_DATE
             , POS_NO, BILL_NO
             , DECODE(SALE_YN,'Y','매출','반품') AS SALE_YN
             , TOT_SALE_AMT
             , TOT_DC_AMT
             , REAL_SALE_AMT
       ]]>
       <include refid="CmmSQL.PagingTemplateCount"/>
        <![CDATA[
        FROM TB_SL_SALE_HDR TSSH
             WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='saleDate != null and saleDate != ""'>
           AND TSSH.SALE_DATE = REPLACE(#{saleDate},'-','')
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <if test='saleYn != null and saleYn != ""'>
           AND TSSH.SALE_YN = #{saleYn}
        </if>
        <![CDATA[
             ORDER BY TSSH.POS_NO, TSSH.BILL_NO
        ]]>
       <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 상품별 반품현황탭 - 조회 -->
    <!--
        TABLE    : TB_SL_SALE_DTL, TB_HQ_PRODUCT, TB_HQ_PRODUCT_CLASS, TB_HQ_PRODUCT_BARCD,
                   TB_MS_PRODUCT, TB_MS_PRODUCT_CLASS, TB_MS_PRODUCT_BARCD
        COMMENTS : 상품별반품현황 - 리스트를 조회한다.
    -->
    <select id="getRtnStatusProdList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusProdList */
        <include refid="CmmSQL.PagingTemplateHeader"/>
        SELECT
        PATH_NM,
        PROD_CD,
        PROD_NM,
        BARCD_CD,
        SUM(CNT) AS CNT,
        SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
        <include refid="CmmSQL.PagingTemplateCount"/>
        FROM
        (
            SELECT
            FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
            tssh.PROD_CD,
            tmp.PROD_NM,
            tmpb.BARCD_CD,
            tssh.CNT,
            tssh.REAL_SALE_AMT
            FROM
            (
                SELECT
                HQ_OFFICE_CD,
                STORE_CD,
                PROD_CD,
                COUNT(*) AS CNT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
                FROM TB_SL_SALE_DTL
                WHERE 1=1
                AND HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test='orgnFg != null and orgnFg == "H"'>
                    AND (
                            'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                        OR	STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                        )
                </if>
                AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
                AND SALE_YN = 'N'
                GROUP BY HQ_OFFICE_CD, STORE_CD, PROD_CD
            ) tssh,
            TB_MS_PRODUCT tmp,
            TB_MS_PRODUCT_BARCD tmpb
            WHERE 1=1
            AND tmp.STORE_CD = tssh.STORE_CD
            AND tmp.PROD_CD = tssh.PROD_CD
            AND tmpb.STORE_CD (+)= tmp.STORE_CD
            AND tmpb.PROD_CD (+)= tmp.PROD_CD
            ORDER BY tssh.PROD_CD
        )
        GROUP BY PROD_CD, PROD_NM, BARCD_CD, PATH_NM
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 상품별 반품현황탭 - 엑셀 조회 -->
    <!--
        TABLE    : TB_SL_SALE_DTL, TB_HQ_PRODUCT, TB_HQ_PRODUCT_CLASS, TB_HQ_PRODUCT_BARCD,
                   TB_MS_PRODUCT, TB_MS_PRODUCT_CLASS, TB_MS_PRODUCT_BARCD
        COMMENTS : 상품별반품현황 - 리스트를 조회한다.
    -->
    <select id="getRtnStatusProdExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusProdExcelList */
        SELECT
        PATH_NM,
        PROD_CD,
        PROD_NM,
        BARCD_CD,
        SUM(CNT) AS CNT,
        SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
        FROM
        (
            SELECT
            FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM, --NM_STR
            tssh.PROD_CD,
            tmp.PROD_NM,
            tmpb.BARCD_CD,
            tssh.CNT,
            tssh.REAL_SALE_AMT
            FROM
            (
                SELECT
                HQ_OFFICE_CD,
                STORE_CD,
                PROD_CD,
                COUNT(*) AS CNT,
                SUM(REAL_SALE_AMT) AS REAL_SALE_AMT
                FROM TB_SL_SALE_DTL
                WHERE 1=1
                AND HQ_OFFICE_CD = #{hqOfficeCd}
                <if test='arrStoreCd != null and arrStoreCd != ""'>
                    AND STORE_CD IN
                    <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test='orgnFg != null and orgnFg == "H"'>
                    AND (
                            'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                        OR	STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                        )
                </if>
                AND SALE_DATE BETWEEN #{startDate} AND #{endDate}
                AND SALE_YN = 'N'
                GROUP BY HQ_OFFICE_CD, STORE_CD, PROD_CD
            ) tssh,
            TB_MS_PRODUCT tmp,
            TB_MS_PRODUCT_BARCD tmpb
            WHERE 1=1
            AND tmp.STORE_CD = tssh.STORE_CD
            AND tmp.PROD_CD = tssh.PROD_CD
            AND tmpb.STORE_CD (+)= tmp.STORE_CD
            AND tmpb.PROD_CD (+)= tmp.PROD_CD
            ORDER BY tssh.PROD_CD
        )
        GROUP BY PROD_CD, PROD_NM, BARCD_CD, PATH_NM
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnstatusDayExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnstatusDayExcelList */
       <![CDATA[
       SELECT M.STORE_CD
             , M.STORE_NM
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM (
             SELECT TSSH.STORE_CD
             , 		TMS.STORE_NM
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
               FROM TB_SL_DAILY_TOTAL TSSH, TB_MS_STORE TMS
              WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
                AND TSSH.STORE_CD = TMS.STORE_CD
        ]]>
        <if test='arrStoreCd != null and arrStoreCd != ""'>
           AND TSSH.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="("  separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR	TSSH.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                )
        </if>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <![CDATA[
	         GROUP BY TSSH.STORE_CD, TMS.STORE_NM
	            ) M
        ORDER BY M.STORE_CD
        ]]>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnstatusDayDtlExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnstatusDayDtlExcelList */
       <![CDATA[
       SELECT M.STORE_CD
		     , TO_CHAR(TO_DATE(M.SALE_DATE, 'YYYYMMDD'),'YYYY-MM-DD') SALE_DATE
		     , M.CNT_Y
             , M.REAL_SALE_AMT_Y
             , M.CNT_N
             , M.REAL_SALE_AMT_N
             , M.CNT
             , M.REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM (
	        SELECT TSSH.STORE_CD
             , 		TSSH.SALE_DATE
             ,		SUM(TSSH.SALE_CNT) AS CNT_Y
             ,		SUM(TSSH.REAL_SALE_AMT - TSSH.RTN_REAL_SALE_AMT) AS REAL_SALE_AMT_Y
             ,		SUM(TSSH.RTN_SALE_CNT)	AS CNT_N
             ,		SUM(TSSH.RTN_REAL_SALE_AMT)	AS REAL_SALE_AMT_N
             ,		SUM(TSSH.REAL_SALE_CNT)	AS CNT
             ,		SUM(TSSH.REAL_SALE_AMT) AS REAL_SALE_AMT
	          FROM TB_SL_DAILY_TOTAL TSSH
	         WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='startDate != null and startDate != ""'>
           AND TSSH.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
           AND TSSH.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <![CDATA[
             GROUP BY STORE_CD, SALE_DATE
		       ) M
		 ORDER BY M.STORE_CD, M.SALE_DATE DESC
        ]]>
    </select>

    <!-- 조회 -->
    <!--
        TABLE    :
        COMMENTS :
    -->
    <select id="getRtnStatusPosDtlExcelList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* RtnStatusDayMapper.getRtnStatusPosDtlExcelList */
       <![CDATA[
       SELECT STORE_CD
             , SALE_DATE
             , POS_NO, BILL_NO
             , DECODE(SALE_YN,'Y','매출','반품') AS SALE_YN
             , TOT_SALE_AMT
             , TOT_DC_AMT
             , REAL_SALE_AMT
       ]]>
        <![CDATA[
        FROM TB_SL_SALE_HDR TSSH
             WHERE TSSH.HQ_OFFICE_CD = #{hqOfficeCd}
        ]]>
        <if test='saleDate != null and saleDate != ""'>
           AND TSSH.SALE_DATE = REPLACE(#{saleDate},'-','')
        </if>
        <if test='storeCd != null and storeCd != ""'>
           AND TSSH.STORE_CD = #{storeCd}
        </if>
        <if test='saleYn != null and saleYn != ""'>
           AND TSSH.SALE_YN = #{saleYn}
        </if>
        <![CDATA[
             ORDER BY TSSH.POS_NO, TSSH.BILL_NO
        ]]>
    </select>

    <!-- 영수증별 반품 상세 - 결제수단 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : rtnStatusDayVO
        COMMENTS : 영수증별 상세 - 결제수단 컬럼 리스트를 조회한다.
    -->
    <select id="getPayColAddList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* USE : RtnStatusDayMapper.getPayColAddList */
        SELECT
            PAY_CD,
            PAY_NM,
            PAY_METHOD
        FROM
            (
                SELECT  tcn.NMCODE_CD AS PAY_CD, tcn.NMCODE_NM AS PAY_NM, tcn.NMCODE_ITEM_1 AS PAY_METHOD
                FROM    TB_CM_NMCODE tcn
                WHERE   tcn.NMCODE_GRP_CD   =   '024'
                  AND     tcn.NMCODE_CD       NOT IN ('05', '12') /* 쿠폰은 결제수단이 아닌 할인내역으로 들어가므로 하드코딩으로 결제수단에 나오지 않도록 함. */
                ORDER
                    BY      tcn.NMCODE_CD
            )
        UNION ALL
        (
            SELECT
                '021' AS PAY_CD,
                '현금영수증' AS PAY_NM,
                'CASH_BILL' AS PAY_METHOD
            FROM dual
        )
        ORDER BY PAY_CD
    </select>

    <!-- 영수증별 반품 상세 - 할인 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_CM_NMCODE
        PARAM    : rtnStatusDayVO
        COMMENTS : 일자별 - 할인 컬럼 리스트를 조회한다.
    -->
    <select id="getDcColList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* USE : DayMapper.getDcColList */
        <![CDATA[
        SELECT  tcn.NMCODE_CD AS DC_CD, tcn.NMCODE_NM AS DC_NM, tcn.NMCODE_ITEM_1 AS DC_METHOD
        FROM    TB_CM_NMCODE tcn
        WHERE   tcn.NMCODE_GRP_CD   =   '041'
        ORDER
            BY      tcn.NMCODE_CD
        ]]>
    </select>


    <!--  영수증별 반품 상세 - 객수 컬럼 리스트 조회 -->
    <!--
        TABLE    : TB_HQ_NMCODE
        PARAM    : rtnStatusDayVO
        COMMENTS :
    -->
    <select id="getGuestColList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* USE : TodayDtlMapper.getGuestColList */
        <choose>
            <when test='orgnFg != null and orgnFg != ""'>
                <!-- 본사 -->
                <if test='orgnFg == "H"'>
                    SELECT
                    A.NMCODE_CD AS GUEST_CD,
                    NVL(B.NMCODE_NM, '미등록') AS GUEST_NM
                    FROM TB_CM_NMCODE A,
                    TB_HQ_NMCODE B
                    WHERE 1=1
                    AND A.NMCODE_GRP_CD = '119'
                    AND B.HQ_OFFICE_CD (+)= #{hqOfficeCd}
                    AND B.NMCODE_GRP_CD (+)= A.NMCODE_GRP_CD
                    AND B.NMCODE_CD (+)= A.NMCODE_CD
                    ORDER BY A.NMCODE_CD
                </if>
                <!-- 매장 -->
                <if test='orgnFg == "S"'>
                    SELECT
                    A.NMCODE_CD AS GUEST_CD,
                    NVL(B.NMCODE_NM, '미등록') AS GUEST_NM
                    FROM TB_CM_NMCODE A,
                    TB_MS_STORE_NMCODE B
                    WHERE 1=1
                    AND A.NMCODE_GRP_CD = '119'
                    AND B.STORE_CD (+)= #{storeCd}
                    AND B.NMCODE_GRP_CD (+)= A.NMCODE_GRP_CD
                    AND B.NMCODE_CD (+)= A.NMCODE_CD
                    ORDER BY A.NMCODE_CD
                </if>
            </when>
        </choose>
    </select>

    <!-- 영수증별 반품 상세 리스트 조회 -->
    <!--
        TABLE    :
        PARAM    : rtnStatusDayVO
        COMMENTS :
    -->
    <select id="getRtnstatusBillList" parameterType="rtnStatusDayVO" resultType="DefaultMap">
        /* USE : RtnStatusDayMapper.getRtnstatusBillList */
        <![CDATA[
        SELECT  tssh.STORE_CD
        ,       tms.STORE_NM
        ,       TO_CHAR(TO_DATE(tssh.SALE_DATE, 'yyyymmdd'), 'yyyy-mm-dd') AS SALE_DATE
        ,       tssh.POS_NO
        ,       tssh.BILL_NO
        ,       TO_CHAR(TO_DATE(tssh.ORG_SALE_DATE, 'yyyymmdd'), 'yyyy-mm-dd') AS ORG_SALE_DATE
        ,       tssh.ORG_POS_NO
        ,       tssh.ORG_BILL_NO
        ,       tssh.TOT_SALE_AMT
        ,       tssh.TOT_DC_AMT
        ,       tssh.REAL_SALE_AMT
        ,       (tssh.REAL_SALE_AMT - tssh.VAT_AMT) AS GA_AMT
        ,       tssh.VAT_AMT
        ,       tssh.TOT_TIP_AMT
        ,       tssh.TOT_ETC_AMT
        ]]>
        ,       <foreach collection="arrPayCol" item="item" separator="+">
                    NVL(tsshp.PAY${item}, 0)
                </foreach> +  NVL(tsspc.PAY02, 0) +  NVL(tsspc.PAY021, 0) AS TOT_PAY_AMT
        ,       <foreach collection="arrPayCol" item="item" separator=",">
                    tsshp.PAY${item} AS PAY${item}
                </foreach>
        ,       tsspc.PAY02 AS PAY02 -- 현금
        ,       tsspc.PAY021 AS PAY021 -- 현금영수증
        <![CDATA[
        FROM    (   SELECT  tssh.STORE_CD
                    ,       tssh.SALE_DATE
                    ,       tssh.POS_NO
                    ,       tssh.BILL_NO
                    ,       tssh.ORG_SALE_DATE
                    ,       tssh.ORG_POS_NO
                    ,       tssh.ORG_BILL_NO
                    ,       tssh.TOT_SALE_AMT
                    ,       tssh.TOT_DC_AMT
                    ,       tssh.REAL_SALE_AMT
                    ,       (tssh.REAL_SALE_AMT - tssh.VAT_AMT) AS GA_AMT
                    ,       tssh.VAT_AMT
                    ,       tssh.TOT_TIP_AMT
                    ,       tssh.TOT_ETC_AMT
                    FROM    (   SELECT  tssh.STORE_CD
                                ,       tssh.SALE_DATE
                                ,       tssh.POS_NO
                                ,       tssh.BILL_NO
                                ,       SUBSTR(tssh.ORG_BILL_NO,-14,8) AS ORG_SALE_DATE
                                ,       SUBSTR(tssh.ORG_BILL_NO,-6,2) AS ORG_POS_NO
                                ,       SUBSTR(tssh.ORG_BILL_NO,-4) AS ORG_BILL_NO
                                ,       tssh.TOT_SALE_AMT
                                ,       tssh.TOT_DC_AMT
                                ,       tssh.REAL_SALE_AMT
                                ,       (tssh.REAL_SALE_AMT - tssh.VAT_AMT) AS GA_AMT
                                ,       tssh.VAT_AMT
                                ,       tssh.TOT_TIP_AMT
                                ,       tssh.TOT_ETC_AMT
                                FROM    TB_SL_SALE_HDR tssh
                                WHERE   tssh.HQ_OFFICE_CD = #{hqOfficeCd}
                                AND     tssh.SALE_YN = 'N'
        ]]>
                                <if test='arrStoreCd != null and arrStoreCd != ""'>
                                    AND tssh.STORE_CD IN
                                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                                <if test='orgnFg != null and orgnFg == "H"'>
                                    AND (
                                            'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                                        OR	tssh.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                                        )
                                </if>
                <![CDATA[
                                AND     tssh.SALE_DATE  BETWEEN #{startDate} AND #{endDate}
                                ) tssh
                ) tssh
        ,       (   SELECT  STORE_CD,
                            SALE_DATE,
                            POS_NO,
                            BILL_NO
                ]]>
                    ,      <foreach collection="arrPayCol" item="item" separator=",">
                                SUM(PAY${item}) AS PAY${item}
                            </foreach>
        <![CDATA[
                    FROM    (   SELECT  tsshp.STORE_CD,
                                        tsshp.SALE_DATE,
                                        tsshp.POS_NO,
                                        tsshp.BILL_NO,
                                        tsshp.PAY_CD, tsshp.PAY_AMT
                                FROM    TB_SL_SALE_HDR_PAY tsshp
                                WHERE   tsshp.HQ_OFFICE_CD  = #{hqOfficeCd}
                                AND     tsshp.SALE_YN = 'N'
        ]]>
                                <if test='arrStoreCd != null and arrStoreCd != ""'>
                                    AND tsshp.STORE_CD IN
                                    <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                                <if test='orgnFg != null and orgnFg == "H"'>
                                    AND (
                                            'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                                        OR	tsshp.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                                        )
                                </if>
        AND     tsshp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                            AND     tsshp.PAY_CD != '02' -- 현금,현금영수증 분리
        <![CDATA[
                                AND     tsshp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                            )
                    PIVOT   (
                                SUM(PAY_AMT)
                                FOR PAY_CD
                                IN (${pivotPayCol})
                            )
                    GROUP BY STORE_CD, SALE_DATE, POS_NO, BILL_NO
                ) tsshp
           ,    (
                    SELECT  tsspc.STORE_CD,
                            tsspc.SALE_DATE,
                            tsspc.POS_NO,
                            tsspc.BILL_NO,
                            CASE WHEN SUM(tsspc.SALE_AMT) - SUM(CASE WHEN tsspc.APPR_PROC_FG IN ('1','2','4') THEN tsspc.SALE_AMT ELSE NULL END) = 0 THEN NULL ELSE SUM(tsspc.SALE_AMT) - SUM(CASE WHEN tsspc.APPR_PROC_FG IN ('1','2','4') THEN tsspc.SALE_AMT ELSE NULL END) END AS PAY02, -- 현금
                            SUM(CASE WHEN tsspc.APPR_PROC_FG IN ('1','2','4') THEN tsspc.SALE_AMT ELSE NULL END) AS PAY021 -- 현금영수증
                    FROM    TB_SL_SALE_PAY_CASH tsspc
                    WHERE   tsspc.HQ_OFFICE_CD =	#{hqOfficeCd}
                    AND     tsspc.SALE_YN = 'N'
                                ]]>
                    <if test='arrStoreCd != null and arrStoreCd != ""'>
                        AND tsspc.STORE_CD IN
                        <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test='orgnFg != null and orgnFg == "H"'>
                        AND (
                                'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                            OR	tsspc.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                            )
                    </if>
        <![CDATA[
                    AND  tsspc.SALE_DATE BETWEEN #{startDate} AND #{endDate}
                    GROUP BY tsspc.STORE_CD, tsspc.SALE_DATE, tsspc.POS_NO, tsspc.BILL_NO
                ) tsspc
           ,    TB_MS_STORE tms
        WHERE   tsshp.STORE_CD(+)   = tssh.STORE_CD
        AND     tsshp.SALE_DATE(+)  = tssh.SALE_DATE
        AND     tsshp.POS_NO(+)     = tssh.POS_NO
        AND     tsshp.BILL_NO(+)    = tssh.BILL_NO
        AND     tms.STORE_CD        = tssh.STORE_CD
        AND     tsspc.STORE_CD(+)   = tssh.STORE_CD
        AND     tsspc.SALE_DATE(+)  = tssh.SALE_DATE
        AND     tsspc.POS_NO(+)     = tssh.POS_NO
        AND     tsspc.BILL_NO(+)    = tssh.BILL_NO
        AND     tms.HQ_OFFICE_CD    = #{hqOfficeCd}
        ]]>
        <if test='option1 != null and option1 == "1"'> -- 당일매출제외
        AND     tssh.SALE_DATE != tssh.ORG_SALE_DATE
        </if>
        <if test='option2 != null and option2 != ""'>
            <if test='option2 != null and option2 == "02"'> -- 현금
                AND PAY02 IS NOT NULL
            </if>
            <if test='option2 != null and option2 == "021"'> -- 현금영수증
                AND PAY021 IS NOT NULL
            </if>
            <foreach collection="arrPayCol" item="item" separator=",">
                <if test='option2 == item'>
                     <![CDATA[
                       AND PAY${item} IS NOT NULL
                    ]]>
                </if>
            </foreach>
        </if>
        <![CDATA[
        ORDER
        BY      tssh.STORE_CD, tssh.SALE_DATE, tssh.POS_NO, tssh.BILL_NO DESC
        ]]>
    </select>
</mapper>