<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solbipos.sale.status.table.dayPeriod.service.impl.TableDayPeriodMapper">

	<select id="getTableDayPeriodList" parameterType="tableDayPeriodVO" resultType="DefaultMap">
		<include refid="CmmSQL.PagingTemplateHeader"/>
		SELECT TSDT.SALE_DATE,
			   TMT.TBL_CD,
			   TMT.TBL_NM,
			   TMTG.STORE_CD,
			   <!-- TMTG.TBL_GRP_NM, -->
			   NVL(SUM(TSDT.SALE_CNT), 0) AS SALE_CNT,
			   NVL(SUM((TSDT.GUEST_CNT_1+GUEST_CNT_2)), 0) AS GUEST_CNT,
			   NVL(SUM(TSDT.TOT_SALE_AMT), 0) AS TOT_SALE_AMT,
			   NVL(SUM(TSDT.TOT_DC_AMT), 0) AS TOT_DC_AMT,
			   NVL(SUM(TSDT.TOT_TIP_AMT), 0) AS TOT_TIP_AMT,
			   NVL(SUM(TSDT.REAL_SALE_AMT), 0) AS REAL_SALE_AMT
			   <include refid="CmmSQL.PagingTemplateCount"/>
		FROM TB_MS_TABLE_GROUP TMTG
     	   , TB_MS_TABLE TMT
     	   , TB_SL_DAILY_TABLE TSDT
     	WHERE TMTG.TBL_GRP_CD = TMT.TBL_GRP_CD
   			  AND TMT.TBL_CD = TSDT.TBL_CD
   			  AND TMT.STORE_CD = TSDT.STORE_CD
          	  AND TMTG.STORE_CD = TSDT.STORE_CD
   			  <if test='arrStoreCd != null and arrStoreCd != ""'>
			  	AND TMTG.STORE_CD IN
			  	<foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
			  		#{item}
			  	</foreach>
			  </if>
			  <if test='startDate != null and startDate != "" and endDate != null and endDate != ""'>
   			  <![CDATA[
   			  AND TSDT.SALE_DATE >= #{startDate}
   			  AND TSDT.SALE_DATE <= #{endDate}
   			  ]]>
   			  </if>
        GROUP BY TMTG.STORE_CD, TSDT.SALE_DATE, TMT.TBL_CD, TMT.TBL_NM
        ORDER BY TSDT.SALE_DATE DESC, TMT.TBL_CD, TMT.TBL_NM
        <include refid="CmmSQL.PagingTemplateBottom"/>

	</select>

</mapper>