<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

  <!-- filter start -->

  <!-- filter 1 -->
  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- filter 1 -->

  <!-- filter 2 -->
  <filter>
    <filter-name>LucyXSSFilter</filter-name>
    <filter-class>kr.co.common.security.lucy.CustomXssServletFilter</filter-class>
    <init-param>
      <param-name>ruleConfigLocation</param-name>
      <param-value>/WEB-INF/config/lucy-xss-servlet-filter-rule.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LucyXSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- filter 2 -->

  <!-- filter end -->



  <!-- servlet start -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>

    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/spring/context-*.xml</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>

    <multipart-config>
<!--       <location>${file.tempDir}</location> -->
      <max-file-size>314572800</max-file-size>
      <max-request-size>314572800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>

  </servlet>
  <!-- servlet end -->



  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.sb</url-pattern>
  </servlet-mapping>



  <!-- listener start -->

  <!-- listener 1 -->
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>/WEB-INF/config/logback.xml</param-value>
  </context-param>
  <!-- listener 1 -->

  <!-- listener end -->



  <jsp-config>
    <!-- tag tld start -->
    <taglib>
      <taglib-uri>solbipos/function</taglib-uri>
      <taglib-location>/WEB-INF/tld/function.tld</taglib-location>
    </taglib>
    <!-- tag tld end -->

    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>

  </jsp-config>

  <!-- Forbidden, 금지됨 -->
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.sb</location>
  </error-page>
  <!-- Not Found, 찾을 수 없음 -->
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.sb</location>
  </error-page>
  <!-- 내부 서버 오류 -->
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.sb</location>
  </error-page>

</web-app>



