<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    PosDayPeriodMapper.xml
    포스별 > 설정기간별 탭
    ======================================================
    No  ||  수정자 ||  수정일자    ||  수정내역
    ======================================================
    1       김진       2020.02.06     최초작성
    2       김설아     2021.01.04
-->
<mapper namespace="kr.co.solbipos.sale.status.pos.dayPeriod.service.impl.PosDayPeriodMapper">

    <!-- 설정기간별탭 - 조회 -->
    <!--
        TABLE    :
        PARAM    : posDayPeriodVO
        COMMENTS :
    -->
    <select id="getPosDayPeriodList" parameterType="posDayPeriodVO" resultType="DefaultMap">
        /* USE : PosDayPeriodMapper.getPosDayPeriodList */
    	<include refid="CmmSQL.PagingTemplateHeader"/>
    	SELECT CONCAT(CONCAT(TMS.STORE_NM,' - POS '), TSDP.POS_NO) STORE_NM_POS_NO
    	       , TSDP.POS_NO
    	       , TSDP.STORE_CD
    	       , SUM(TSDP.SALE_CNT) AS SALE_CNT
    	       , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
    	<include refid="CmmSQL.PagingTemplateCount"/>
    	FROM TB_SL_DAILY_POS TSDP
    	     , TB_MS_STORE TMS
    	WHERE  1=1
    	        AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
            <if test='arrStoreCd != null and arrStoreCd.length >= 0'>
                AND TSDP.STORE_CD IN
                <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test='orgnFg != null and orgnFg == "H"'>
                AND (
                        'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                    OR	TSDP.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                    )
            </if>
           	<if test='startDate != null and startDate != ""'>
           		AND TSDP.SALE_DATE >= #{startDate}
           	</if>
           	<if test='endDate != null and endDate != ""'>
           		AND TSDP.SALE_DATE <![CDATA[<= ]]> #{endDate}
           	</if>
           	    AND TSDP.STORE_CD = TMS.STORE_CD
        GROUP BY CONCAT(CONCAT(TMS.STORE_NM,' - POS '), TSDP.POS_NO), TSDP.POS_NO, TSDP.STORE_CD
        ORDER BY STORE_NM_POS_NO
        <include refid="CmmSQL.PagingTemplateBottom"/>
    </select>

    <!-- 설정기간별탭 - 엑셀 조회 -->
    <!--
        TABLE    :
        PARAM    : posDayPeriodVO
        COMMENTS :
    -->
    <select id="getPosDayPeriodExcelList" parameterType="posDayPeriodVO" resultType="DefaultMap">
        /* USE : PosDayPeriodMapper.getPosDayPeriodExcelList */
        SELECT CONCAT(CONCAT(TMS.STORE_NM,' - POS '), TSDP.POS_NO) STORE_NM_POS_NO
        , TSDP.POS_NO
        , TSDP.STORE_CD
        , SUM(TSDP.SALE_CNT) AS SALE_CNT
        , SUM(TSDP.REAL_SALE_AMT) AS REAL_SALE_AMT
        FROM TB_SL_DAILY_POS TSDP
        , TB_MS_STORE TMS
        WHERE  1=1
        AND TSDP.HQ_OFFICE_CD = #{hqOfficeCd}
        <if test='arrStoreCd != null and arrStoreCd.length >= 0'>
            AND TSDP.STORE_CD IN
            <foreach collection="arrStoreCd" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test='orgnFg != null and orgnFg == "H"'>
            AND (
                    'N' = (SELECT NVL(MAX(ENVST_VAL), 'N') FROM TB_HQ_ENVST WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND ENVST_CD = '0001')
                OR	TSDP.STORE_CD IN (SELECT STORE_CD  FROM TB_HQ_EMPLOYEE_STORE_V08 WHERE HQ_OFFICE_CD = #{hqOfficeCd} AND EMP_NO = #{empNo})
                )
        </if>
        <if test='startDate != null and startDate != ""'>
            AND TSDP.SALE_DATE >= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
            AND TSDP.SALE_DATE <![CDATA[<= ]]> #{endDate}
        </if>
        AND TSDP.STORE_CD = TMS.STORE_CD
        GROUP BY CONCAT(CONCAT(TMS.STORE_NM,' - POS '), TSDP.POS_NO), TSDP.POS_NO, TSDP.STORE_CD
        ORDER BY STORE_NM_POS_NO
    </select>

    <!-- 설정기간별탭 - 상세 조회 -->
    <!--
        TABLE    :
        PARAM    : posDayPeriodVO
        COMMENTS :
    -->
    <select id="getPosDayPeriodDtlList" parameterType="posDayPeriodVO" resultType="DefaultMap">
        /* USE : PosDayPeriodMapper.getPosDayPeriodDtlList */
        <!--<include refid="CmmSQL.PagingTemplateHeader"/>-->
        SELECT
        FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM,
        tsdpp.PROD_CD,
        tmp.PROD_NM,
        SUM(tsdpp.TOT_SALE_QTY) AS TOT_SALE_QTY,
        SUM(tsdpp.REAL_SALE_AMT) AS REAL_SALE_AMT
        <!--<include refid="CmmSQL.PagingTemplateCount"/>-->
        FROM TB_SL_DAILY_POS_PROD tsdpp,
        TB_MS_PRODUCT tmp
        WHERE 1=1
        AND tsdpp.HQ_OFFICE_CD = #{hqOfficeCd}
        <if test='storeCd != null and storeCd != ""'>
            AND tsdpp.STORE_CD = #{storeCd}
        </if>
        AND tsdpp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
        <if test='posNo != null and posNo != ""'>
            AND tsdpp.POS_NO = #{posNo}
        </if>
        AND tmp.STORE_CD = tsdpp.STORE_CD
        AND tmp.PROD_CD = tsdpp.PROD_CD
        GROUP BY tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdpp.PROD_CD, tmp.PROD_NM
        ORDER BY tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdpp.PROD_CD
        <!--<include refid="CmmSQL.PagingTemplateBottom"/>-->
    </select>

    <!-- 설정기간별탭 - 상세 엑셀 조회 -->
    <!--
        TABLE    :
        PARAM    : posDayPeriodVO
        COMMENTS :
    -->
    <select id="getPosDayPeriodDtlExcelList" parameterType="posDayPeriodVO" resultType="DefaultMap">
        /* USE : PosDayPeriodMapper.getPosDayPeriodDtlExcelList */
        SELECT
        FN_GET_PROD_CLASS_CD_NM_STR(tmp.STORE_CD, tmp.PROD_CLASS_CD, 'NM_STR') AS PATH_NM,
        tsdpp.PROD_CD,
        tmp.PROD_NM,
        SUM(tsdpp.TOT_SALE_QTY) AS TOT_SALE_QTY,
        SUM(tsdpp.REAL_SALE_AMT) AS REAL_SALE_AMT
        FROM TB_SL_DAILY_POS_PROD tsdpp,
        TB_MS_PRODUCT tmp
        WHERE 1=1
        AND tsdpp.HQ_OFFICE_CD = #{hqOfficeCd}
        <if test='storeCd != null and storeCd != ""'>
            AND tsdpp.STORE_CD = #{storeCd}
        </if>
        AND tsdpp.SALE_DATE BETWEEN #{startDate} AND #{endDate}
        <if test='posNo != null and posNo != ""'>
            AND tsdpp.POS_NO = #{posNo}
        </if>
        AND tmp.STORE_CD = tsdpp.STORE_CD
        AND tmp.PROD_CD = tsdpp.PROD_CD
        GROUP BY tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdpp.PROD_CD, tmp.PROD_NM
        ORDER BY tmp.STORE_CD, tmp.PROD_CLASS_CD, tsdpp.PROD_CD
    </select>

</mapper>